<ng-container *ngIf="step1">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <header style="background-color: #393939;padding: 13px;">
        <div class="ct-mediaSection-inner">
            <div class="container">
                <div class="ct-steps--submission center-block ct-u-marginBottom20">
                    <div class="ct-steps--item " style="width: 105% !important;">
                        <div class="ct-steps--counter ct-steps--active">
                            <span>1</span>
                        </div>
                    </div>
                    <div class="ct-steps--item">
                        <div class="ct-steps--counter">
                            <span>2</span>
                        </div>
                    </div>
                </div>
                <div class="ct-u-displayTable ct-steps--title text-center">
                    <div class="ct-u-displayTableCell">
                        <span>User Name</span>
                    </div>
                    <div class="ct-u-displayTableCell">
                        <span>User Type</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container" id="step1">
        <div class="row">
            <br>
            <br>
            <div class="col-md-offset-3 col-md-6">
                <form #userTypeStep1="ngForm" (ngSubmit)="onSubmittingUserTypeStep1(userTypeStep1)">
                    <label for="username">Please Enter your Username:</label>
                    <input class="form-control input-lg text-inner-input ct-u-marginBottom10" name="username" type="text" placeholder="Username"
                        ngModel required>
                    <br>
                    <label for="password">Please choose your password:</label>
                    <input class="form-control input-lg text-inner-input ct-u-marginBottom10" name="password" type="password" placeholder="Password"
                        ngModel required>
                    <br>
                    <label for="password">Confirm Password:</label>
                    <input #confirmPassword="ngModel" class="form-control input-lg text-inner-input ct-u-marginBottom10" name="confirmPassword" type="password" placeholder="Confirm Password"
                        ngModel required>
                    <span class="text-danger" *ngIf="confirmPassword.errors?.confirm">Password does not match</span>
                    <br>
                    <div class="col-md-offset-3 col-md-5">
                        <button type="submit" class="btn btn-success btn-block">Save And continue!</button>
                        <br>
                        <br>
                    </div>
                </form>
            </div>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="step2">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <header style="background-color: #393939;padding: 13px;">
        <div class="ct-mediaSection-inner">
            <div class="container">
                <div class="ct-steps--submission center-block ct-u-marginBottom20">
                    <div class="ct-steps--item ct-steps--progress" style="width: 105% !important;">
                        <div class="ct-steps--counter">
                            <span>1</span>
                        </div>
                    </div>
                    <div class="ct-steps--item">
                        <div class="ct-steps--counter ct-steps--active">
                            <span>2</span>
                        </div>
                    </div>
                </div>
                <div class="ct-u-displayTable ct-steps--title text-center">
                    <div class="ct-u-displayTableCell">
                        <span>User Name</span>
                    </div>
                    <div class="ct-u-displayTableCell">
                        <span>User Type</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container" id="step2">
        <br>
        <p>Please Select your Account Type!</p>
        <form #userTypeStep2="ngForm" (submit)="onSubmittingUserTypeStep2(userTypeStep2)">

            <select ngModel name="userType" class="form-control input-lg text-inner-input ct-u-marginBottom10" required>
                <option value="">Account Type</option>
                <option value="client">Client</option>
                <option value="agent">Real Estate Agent</option>
                <option value="advisor">Mortgage Advisor</option>
                <option value="inspector">Building Inspector</option>
                <option value="lawyer">Real Estate Lawyer</option>
            </select>
            <div class="ct-form--item ct-u-marginBottom20">
                <div class="checkbox">
                    <label>
                        <input ngModel name="terms" type="checkbox" value="accept" required> I read and agree to
                        <a id="btn-lnk-terms"> terms & conditions</a>
                    </label>
                </div>
            </div>
            <br>
            <div class="col-md-offset-3 col-md-5">
                <button type="submit" class="btn btn-success btn-block" [disabled]="!userTypeStep2.valid">Save my Role!</button>
                <br>
                <br>
            </div>
        </form>
    </div>
</ng-container>