<div class="container">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="row">
    <div class="col-md-offset-3 col-md-6">

        <form #userType="ngForm" (ngSubmit)="onSubmittingSignupForm(userType)">

            <input class="form-control input-lg text-inner-input ct-u-marginBottom10" name="username" type="text" placeholder="Username"
              ngModel required>
        
            <br>
            <label>Sign Up As</label>
            <select class="form-control input-lg text-inner-input ct-u-marginBottom10">
              <option value="month">Client</option>
              <option value="month">Home Owner</option>
              <option value="month">Real Estate Agent</option>
              <option value="January">Mortgage Advisor</option>
              <option value="month">Building Inspector</option>
              <option value="January">Real Estate Lawyer</option>
            </select>
            <div class="ct-form--item ct-u-marginBottom20">
              <div class="checkbox">
                <label>
                  <input type="checkbox" value=""> I read and agree to
                  <a href="terms.html" id="btn-lnk-terms"> terms & conditions</a>
                </label>
              </div>
            </div>
            <br>
            <div class="col-md-offset-3 col-md-5">
              <button type="submit" class="btn btn-success btn-block">Save my Role!</button><br><br>
            </div>
          </form>


    </div>

 


  </div>

</div>



