
  <div class="container color-white"><br><br><br><br><br><br><br>
      <section class="ct-mediaSection text-center ct-u-paddingBoth100" data-stellar-background-ratio="0.3" data-height="500" data-type="parallax"
        style="background-color: rgba(6, 6, 6, 0.59); min-height: 500px; height: 500px; background-image: url(&quot;undefined&quot;); background-position: 50% 50%;">
        <div class="ct-mediaSection-inner">
          <div class="container">
            <div class="row text-left">
              <div class="col-md-6 color-white">
                <div class="ct-iconBox ct-u-marginBottom40 ct-iconBox--2col how-it-work-side-text1">
                  <div class="ct-icon text-center ct-iconContainer--circle ct-iconContainer--circleLight">
                    <i class="fa fa-users"></i>
                  </div>
                  <div class="ct-iconBox--description">
                    <span class="ct-title text-uppercase ct-fw-600">Get more users</span>
                    <span class="ct-text">Thanks to our content optimization you will get more visits to your property page.</span>
                  </div>
                </div>
                <div class="ct-iconBox ct-u-marginBottom40 ct-iconBox--2col how-it-work-side-text1">
                  <div class="ct-icon text-center ct-iconContainer--circle ct-iconContainer--circleLight">
                    <i class="fa fa-bolt"></i>
                  </div>
                  <div class="ct-iconBox--description">
                    <span class="ct-title text-uppercase ct-fw-600">Convert visitors</span>
                    <span class="ct-text">With our design and structures you will be able to show your property in better light.</span>
                  </div>
                </div>
                <div class="ct-iconBox ct-iconBox--2col how-it-work-side-text1">
                  <div class="ct-icon text-center ct-iconContainer--circle ct-iconContainer--circleLight">
                    <i class="fa fa-trophy"></i>
                  </div>
                  <div class="ct-iconBox--description">
                    <span class="ct-title text-uppercase ct-fw-600">Reach your goal</span>
                    <span class="ct-text">Estato was designed to become your real estate business partner. It’s not only a tool, it’s a working ecosystem.</span>
                  </div>
                </div>
              </div>
              <div class="col-md-6 ">
                <div class="how-it-work-side-text1">
                  <div class="ct-heading text-center color-white">
                    <h3 class="text-uppercase">How it works?</h3>
                  </div>
                  <div class="ct-heading text-center color-white  ct-u-marginBoth20">
                    <p align="left">The purchase does not need to be a traditional home in order for the individual to qualify as a first-time
                      homebuyer, but it must be the principal residence. For example, it could be a houseboat that will be lived
                      in. The maximum amount that may be distributed from the IRA on a penalty-free basis for this purpose is
                      $10,000. This is a lifetime limit. For married couples, the limit applies separately to each spouse. This
                      means that the combined limit for a married couple is $20,000.
                      <br>
                      <br> The purchase does not need to be a traditional home in order for the individual to qualify as a first-time
                      homebuyer, but it must be the principal residence. For example, it could be a houseboat that will be lived
                      in. The maximum amount that may be distributed from the IRA on a penalty-free basis for this purpose is
                      $10,000. This is a lifetime limit. For married couples, the limit applies separately to each spouse. This
                      means that the combined limit for a married couple is $20,000.The purchase does not need to be a traditional
                      home in order for the individual to qualify as a first-time homebuyer, but it must be the principal residence.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>


