<ng-container>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <section class="ct-u-paddingTop50 ct-u-paddingBottom100">
    <div class="container" id="serviceForm">
      <h2>Edit Service Form</h2>
      <br>
      <form [formGroup]="servicesFormStep3" (ngSubmit)="saveServices(servicesFormStep3)">
        <div formArrayName="servicesArray">
          <div *ngFor="let ctrl of  servicesFormStep3.get('servicesArray').controls; let i=index" [formGroupName]="i">
            <div class="row">
              <div class="col-md-11 offset-md-1">
                <input class="form-control input-lg text-inner-input ct-u-text--dark ct-u-marginBottom10" type="text" placeholder="Service Name"
                  formControlName="name">
                <div class="row">
                  <div class="col-sm-6">
                    <input class="form-control input-lg text-inner-input ct-u-text--dark ct-u-marginBottom10" type="number" placeholder="Price"
                      formControlName="price">
                  </div>
                  <div class="col-sm-6">
                    <input class="form-control input-lg text-inner-input ct-u-text--dark ct-u-marginBottom10" type="number" placeholder="Promo/Special Offer"
                      formControlName="promo">
                  </div>
                </div>
                <textarea cols="43" rows="6" class="form-control input-lg text-inner-input ct-u-text--dark ct-u-marginBottom10" placeholder="Service Details"
                  formControlName="details"></textarea>
                <br>
                <div class="form-group">
                  <label for="image">Profile Picture</label>
                  <input type="file" ng2FileSelect [uploader]="uploader" name="image" class="form-control-file">
                </div>
                <br>
              </div>
            </div>
          </div>
        </div>
        <button type="button" (click)="addMoreDetailStep3()" class="btn btn-primary">Add More Services</button>
        <br>
        <ul class="list-inline pull-right">
          <li>
            <button type="submit" class="btn btn-primary next-step">Save and continue</button>
          </li>
        </ul>
      </form>
    </div>
  </section>
</ng-container>