<div class="container-fluid" style="background-color: #333333;padding: 25px;">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="row">
    <div class="col-md-2" style="padding: 3px;">
      <a routerLink="/blog">
        <img src="assets/images/content/blog-category3.jpg" width="100%">
      </a>
    </div>
    <div class="col-md-1" style="padding: 3px;">
      <a routerLink="/blog">
        <img src="assets/images/content/blog-category1.png" width="100%">
      </a>
      <a routerLink="/blog">
        <img src="assets/images/content/blog-category6.jpg" width="100%" style="margin-top: 5px">
      </a>
    </div>
    <div class="col-md-1" style="padding: 3px;">
      <a routerLink="/blog">
        <img src="assets/images/content/blog-category2.jpg" width="100%">
      </a>
      <a routerLink="/blog">
        <img src="assets/images/content/blog-category4.png" width="100%" style="margin-top: 5px">
      </a>
    </div>
    <div class="col-md-2" style="padding: 3px;">
      <a routerLink="/blog">
        <img src="assets/images/content/blog-category5.png" width="100%">
      </a>
    </div>
    <div class="col-md-2" style="padding: 3px;">
      <a routerLink="/blog">
        <img src="assets/images/content/blog-category6.jpg" width="100%">
      </a>
    </div>
    <div class="col-md-1" style="padding: 3px;">
      <a routerLink="/blog">
        <img src="assets/images/content/blog-category2.jpg" width="100%">
      </a>
      <a routerLink="/blog">
        <img src="assets/images/content/blog-category3.jpg" width="100%" style="margin-top: 5px">
      </a>
    </div>
    <div class="col-md-2" style="padding: 3px;">
      <a routerLink="/blog">
        <img src="assets/images/content/blog-category4.png" width="100%">
      </a>
    </div>
    <div class="col-md-1" style="padding: 3px;">
      <a routerLink="/blog">
        <img src="assets/images/content/blog-category6.jpg" width="100%">
      </a>
      <a routerLink="/blog">
        <img src="assets/images/content/blog-category1.png" width="100%" style="margin-top: 5px">
      </a>
    </div>
  </div>
</div>









<section class="ct-u-paddingBoth60 ct-blog">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <div class="clearfix"></div>
        <div class="ct-articleBox ct-u-marginBottom80 ct-articleBox--noImage">
          <div class="ct-calendar--day text-center ct-calendar--mini hidden-lg">
            <div class="ct-day">
              <span>12</span>
            </div>
            <div class="ct-month">
              <span class="text-uppercase">jan</span>
            </div>
          </div>
          <div class="ct-articleBox-media ct-u-marginBottom30">
            <div class="ct-js-owl owl-carousel owl-theme" data-items="1" data-navigation="true" data-autoplay="true" data-snap-ignore="true"
              style="opacity: 1; display: block;">
              <div class="owl-wrapper-outer">
                <div class="owl-wrapper" style="width: 4020px; left: 0px; display: block; transition: all 0ms ease; transform: translate3d(-1340px, 0px, 0px); transform-origin: 1675px center 0px; perspective-origin: 1675px center;">
                  <div class="owl-item" style="width: 670px; opacity: 1;">
                    <div class="item">
                      <img src="assets/images/content/blog-image-2.jpg" alt="" style="opacity: 1;">
                    </div>
                  </div>
                  <div class="owl-item" style="width: 670px; opacity: 1;">
                    <div class="item">
                      <img src="assets/images/content/blog-image-1.jpg" alt="" style="opacity: 1;">
                    </div>
                  </div>
                  <div class="owl-item active" style="width: 670px; opacity: 1;">
                    <div class="item">
                      <img src="assets/images/content/blog-image-2.jpg" alt="" style="opacity: 1;">
                    </div>
                  </div>
                </div>
              </div>


              <div class="owl-controls clickable">
                <div class="owl-pagination">
                  <div class="owl-page">
                    <span class=""></span>
                  </div>
                  <div class="owl-page">
                    <span class=""></span>
                  </div>
                  <div class="owl-page active">
                    <span class=""></span>
                  </div>
                </div>
                <div class="owl-buttons">
                  <div class="owl-prev">
                    <i class="fa fa-angle-left"></i>
                  </div>
                  <div class="owl-next">
                    <i class="fa fa-angle-right"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="ct-articleBox--body">
            <div class="ct-u-displayTableVertical">
              <div class="ct-calendar--day text-center ct-u-displayTableCell visible-lg-inline-block">
                <div class="ct-day">
                  <span>12</span>
                </div>
                <div class="ct-month">
                  <span class="text-uppercase">jan</span>
                </div>
              </div>
              <div class="ct-articleBox-titleBox text-uppercase ct-u-displayTableCell">

                <a routerLink="detail">Our new ideas :)</a>
                <div class="ct-articleBox-meta">
                  <span>Posted on January 12th, 2015 In Loans, Real Estate</span>
                </div>
                <div class="ct-articleComments">
                  <a href="blog-single.html">2 comments</a>
                </div>

              </div>
            </div>
            <div class="ct-divider ct-u-marginTop10 ct-u-marginBottom20"></div>
            <div class="ct-articleBox-description">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi.
              Cras vel lorem. Etiam pellentesque aliquet tellus.
              <a href="blog-single.html">Read more.</a>
            </div>
          </div>
        </div>
        <div class="ct-articleBox ct-u-marginBottom80 ct-articleBox--noImage">
          <div class="ct-articleBox-media ct-u-marginBottom30">
            <div class="ct-calendar--day text-center ct-calendar--mini hidden-lg">
              <div class="ct-day">
                <span>09</span>
              </div>
              <div class="ct-month">
                <span class="text-uppercase">jan</span>
              </div>
            </div>
            <img src="assets/images/content/blog-image-1.jpg" alt="">
          </div>
          <div class="ct-articleBox--body">
            <div class="ct-u-displayTableVertical">
              <div class="ct-calendar--day text-center ct-u-displayTableCell visible-lg-inline-block">
                <div class="ct-day">
                  <span>09</span>
                </div>
                <div class="ct-month">
                  <span class="text-uppercase">jan</span>
                </div>
              </div>
              <div class="ct-articleBox-titleBox text-uppercase ct-u-displayTableCell">

                <a href="blog-single.html">Expectations for 2015</a>
                <div class="ct-articleBox-meta">
                  <span>Posted on January 9th, 2015 In Loans, Real Estate</span>
                </div>
                <div class="ct-articleComments">
                  <a href="blog-single.html">2 comments</a>
                </div>
              </div>
            </div>

            <div class="ct-divider ct-u-marginTop10 ct-u-marginBottom20"></div>
            <div class="ct-articleBox-description">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi.
              Cras vel lorem. Etiam pellentesque aliquet tellus.
              <a href="blog-single.html">Read more.</a>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="ct-articleBox ct-articleBox--noImage ct-u-marginBottom80">
          <div class="ct-articleBox--body">
            <div class="ct-u-displayTableVertical">
              <div class="ct-calendar--day text-center ct-u-displayTableCell">
                <div class="ct-day">
                  <span>05</span>
                </div>
                <div class="ct-month">
                  <span class="text-uppercase">jan</span>
                </div>
              </div>
              <div class="ct-articleBox-titleBox text-uppercase ct-u-displayTableCell">

                <a href="">Real Estate market most probably going to bloom in early 2016</a>
                <div class="ct-articleBox-meta">
                  <span>Posted on January 5th, 2015 In Loans, Real Estate</span>
                </div>
                <div class="ct-articleComments">
                  <a href="blog-single.html">2 comments</a>
                </div>

              </div>
            </div>
            <div class="ct-divider ct-u-marginTop10 ct-u-marginBottom20"></div>
            <div class="ct-articleBox-description">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi.
              Cras vel lorem. Etiam pellentesque aliquet tellus.
              <a href="blog-single.html">Read more.</a>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="ct-articleBox ct-u-marginBottom80">
          <div class="ct-articleBox-media ct-u-marginBottom30">
            <div class="ct-calendar--day text-center ct-calendar--mini hidden-lg">
              <div class="ct-day">
                <span>03</span>
              </div>
              <div class="ct-month">
                <span class="text-uppercase">jan</span>
              </div>
            </div>
            <img src="assets/images/content/blog-image-2.jpg" alt="">
          </div>
          <div class="ct-articleBox--body">
            <div class="ct-u-displayTableVertical">
              <div class="ct-calendar--day text-center visible-lg-inline-block ct-u-displayTableCell">
                <div class="ct-day">
                  <span>03</span>
                </div>
                <div class="ct-month">
                  <span class="text-uppercase">jan</span>
                </div>
              </div>
              <div class="ct-articleBox-titleBox text-uppercase ct-u-displayTableCell">

                <a href="">Trending in architecture leads us towards better standards</a>
                <div class="ct-articleBox-meta">
                  <span>Posted on January 3th, 2015 In Loans, Real Estate</span>
                </div>
                <div class="ct-articleComments">
                  <a href="blog-single.html">2 comments</a>
                </div>

              </div>
            </div>
            <div class="ct-divider ct-u-marginTop10 ct-u-marginBottom20"></div>
            <div class="ct-articleBox-description">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi.
              Cras vel lorem. Etiam pellentesque aliquet tellus.
              <a href="blog-single.html">Read more.</a>
            </div>
          </div>
        </div>
        <div class="ct-articleBox ct-u-marginBottom80">
          <div class="ct-articleBox--body">
            <div class="ct-articleBox-description">
              <blockquote class="ct-blockquote--background">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia
                in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper
                justo at risus.</blockquote>
            </div>
          </div>
        </div>
        <div class="ct-articleBox ct-u-marginBottom80">
          <div class="ct-articleBox--body">
            <div class="ct-articleBox-description">
              <blockquote class="ct-blockquote--testimonials">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit scelerisque sed.</blockquote>
            </div>
            <div class="ct-calendar--day text-center">
              <div class="ct-day">
                <span>03</span>
              </div>
              <div class="ct-month">
                <span class="text-uppercase">jan</span>
              </div>
            </div>
            <div class="ct-articleBox-titleBox text-uppercase">
              <a href="">
                <i class="fa fa-long-arrow-right"></i>John Doe</a>
              <div class="ct-articleBox-meta">
                <span>Posted on January 3th, 2015 In Loans, Real Estate</span>
              </div>
              <div class="ct-articleComments">
                <a href="blog-single.html">2 comments</a>
              </div>
            </div>
          </div>
        </div>
        <div class="ct-pagination text-center">
          <ul class="pagination">
            <li>
              <a href="#" aria-label="Previous">
                <span aria-hidden="true">
                  <i class="fa fa-angle-left"></i>
                </span>
              </a>
            </li>
            <li class="active">
              <a href="#">1</a>
            </li>
            <li>
              <a href="#">2</a>
            </li>
            <li>
              <a href="#">3</a>
            </li>
            <li>
              <a href="#">4</a>
            </li>
            <li>
              <a href="#">5</a>
            </li>
            <li>
              <a href="#" aria-label="Next">
                <span aria-hidden="true">
                  <i class="fa fa-angle-right"></i>
                </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-5">
        <div class="ct-js-sidebar">
          <div class="row">
            <div class="col-sm-6 col-md-12">
              <section class="widget">
                <div class="widget-inner">
                  <div class="ct-search-widget">
                    <div class="form-group">
                      <input id="search2" placeholder="Enter keywords ..." required="" type="text" name="field[]" class="form-control input-lg ct-input--border">
                      <button class="btn btn-primary pull-right">
                        Search
                      </button>
                    </div>
                  </div>
                </div>
              </section>
            </div>
            <div class="col-sm-6 col-md-12">
              <section class="widget">
                <div class="widget-inner">
                  <div class="ct-text-widget">
                    <h4 class="text-uppercase">About Blog</h4>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi.
                      Cras vel lorem. Etiam pellentesque aliquet tellus.
                    </p>
                  </div>
                </div>
              </section>
            </div>
            <div class="col-sm-6 col-md-12">
              <section class="widget">
                <div class="widget-inner">
                  <div class="ct-widget-categories">
                    <h4 class="text-uppercase">Categories</h4>
                    <ul class="list-unstyled">
                      <li>
                        <a href="">
                          <i class="fa fa-angle-right"></i>Apartments
                          <span class="pull-right">(34)</span>
                        </a>
                      </li>
                      <li>
                        <a href="">
                          <i class="fa fa-angle-right"></i>Loans
                          <span class="pull-right">(12)</span>
                        </a>
                      </li>
                      <li>
                        <a href="">
                          <i class="fa fa-angle-right"></i>Real Estate
                          <span class="pull-right">(263)</span>
                        </a>
                      </li>
                      <li>
                        <a href="">
                          <i class="fa fa-angle-right"></i>Developers
                          <span class="pull-right">(1)</span>
                        </a>
                      </li>
                      <li>
                        <a href="">
                          <i class="fa fa-angle-right"></i>Uncategorized
                          <span class="pull-right">(561)</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </section>
            </div>

            <div class="col-sm-6 col-md-12">
              <br>
              <!-- <div role="tabpanel"> -->
              <!-- <div class="inner-addon left-addon">
                                <h3>Search As:</h3><br>
                            </div> -->
              <!-- Nav tabs -->
              <!-- <ul class="nav nav-tabs nav-justified" role="tablist">
                                <li role="presentation" class="active"><a href="#vision3-3" aria-controls="vision3-3" role="tab" data-toggle="tab">Home Owner</a></li>
                                <li role="presentation"><a href="#vision3-3" aria-controls="vision3-3" role="tab" data-toggle="tab">Estate Agent</a></li>
                                <li role="presentation"><a href="#vision3-3" aria-controls="vision3-3" role="tab" data-toggle="tab">Morg. Advisor</a></li>
                                <li role="presentation"><a href="#vision3-3" aria-controls="vision3-3" role="tab" data-toggle="tab">Bulid. Inspector</a></li>
                                <li role="presentation"><a href="#vision3-3" aria-controls="vision3-3" role="tab" data-toggle="tab">Estate Lawyer</a></li>
                            </ul><br> -->
              <!-- <div class="clearfix"></div> -->
              <!-- Tab panes -->
              <!-- <div class="row">
                                <div class="col-md-offset-8 col-md-4">
                                    <button type="button" class="btn btn-warning">Search</button>
                                </div>
                            </div> -->
              <!-- </div> -->
              <div class="card">
                <div class="card-header">
                  <i class="fa fa-search font-today-dash">
                    <span> &nbsp;Search As</span>
                  </i>
                </div>
                <div class="card-body">
                  <blockquote class="blockquote">
                    <div class="row">
                      <div class="col-md-12">
                        <br>
                        <select class="ct-js-select ct-select-lg">
                          <option value="any">Property</option>
                          <option value="1">Real Estate Agent</option>
                          <option value="2">Mortgage Advisor</option>
                          <option value="3">Building Inspector</option>
                          <option value="4">Real Estate Lawyer</option>
                        </select>
                        <input class="input-lg text-inner-input ct-u-marginBottom10" type="text" placeholder="Enter Your Postal Code" required style="margin-top: 15px;">
                        <a href="#" class="btn btn-warning mt-3 d-block mx-auto btn-block">
                          <i class="fa fa-search" style="font-size: 17px;">
                            <span style="font-size: 21px;">Search</span>
                          </i>
                        </a>
                      </div>
                    </div>
                  </blockquote>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-12">
              <br>
              <br>
              <section class="widget ct-widget-latestPosts">
                <div class="widget-inner">
                  <h4 class="text-uppercase">Latest Posts</h4>
                  <ul class="list-unstyled">
                    <li>
                      <div class="widget-latest-posts-left">
                        <a href="blog-single.html">
                          <img src="assets/images/content/latest-post-widget.jpg" alt="">
                        </a>
                      </div>
                      <div class="widget-latest-posts-content">
                        <a href="blog-single.html">
                          Expectations for 2015
                        </a>
                        <span class="text-uppercase">Posted on january 9th, 2015</span>
                      </div>
                    </li>
                    <li>
                      <div class="widget-latest-posts-content">
                        <a href="blog-single.html">
                          Real Estate market most probably going to bloom in early 2016
                        </a>
                        <span class="text-uppercase">Posted on january 5th, 2015</span>
                      </div>
                    </li>
                    <li>
                      <div class="widget-latest-posts-left">
                        <a href="blog-single.html">
                          <img src="assets/images/content/latest-post-widget-1.jpg" alt="">
                        </a>
                      </div>
                      <div class="widget-latest-posts-content">
                        <a href="blog-single.html">
                          Trending in architecture leads us towards better standards
                        </a>
                        <span class="text-uppercase">Posted on january 9th, 2015</span>
                      </div>
                    </li>
                  </ul>
                </div>
              </section>
            </div>
            <div class="col-sm-6 col-md-12">
              <section class="widget">
                <div class="widget-inner">
                  <div class="ct-widget-categories">
                    <h4 class="text-uppercase">Archive</h4>
                    <ul class="list-unstyled">
                      <li>
                        <a href="">
                          <i class="fa fa-angle-right"></i>January 2015
                          <span class="pull-right">(1)</span>
                        </a>
                      </li>
                      <li>
                        <a href="">
                          <i class="fa fa-angle-right"></i>December 2014
                          <span class="pull-right">(2)</span>
                        </a>
                      </li>
                      <li>
                        <a href="">
                          <i class="fa fa-angle-right"></i>November 2014
                          <span class="pull-right">(3)</span>
                        </a>
                      </li>
                      <li>
                        <a href="">
                          <i class="fa fa-angle-right"></i>October 2014
                          <span class="pull-right">(1)</span>
                        </a>
                      </li>
                      <li>
                        <a href="">
                          <i class="fa fa-angle-right"></i>August 2014
                          <span class="pull-right">(5)</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </section>
            </div>
            <div class="col-sm-6 col-md-12">
              <section class="widget">
                <div class="widget-inner">
                  <h4 class="text-uppercase">Tags</h4>
                  <div class="tagcloud">
                    <a href="">Architecture</a>
                    <a href="">Developers</a>
                    <a href="">Loans</a>
                    <a href="">Bank</a>
                    <a href="">Mortgage</a>
                    <a href="">House</a>
                    <a href="">Real Estate</a>
                    <a href="">Rentals</a>
                    <a href="">Neighbours</a>
                    <a href="">Removals</a>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
