<br><br><br><br>
<br><br>
<header style="background-color: #393939;padding: 13px;">
    <div class="ct-mediaSection-inner">
        <div class="container">
            <div class="ct-steps--submission center-block ct-u-marginBottom20">
                <div class="ct-steps--item ct-steps--past">
                    <div class="ct-steps--counter">
                        <span>1</span>
                    </div>
                </div>
                <div class="ct-steps--item ct-steps--past">
                    <div class="ct-steps--counter">
                        <span>2</span>
                    </div>
                </div>
                <div class="ct-steps--item ct-steps--progress">
                    <div class="ct-steps--counter">
                        <span>3</span>
                    </div>
                </div>
                <div class="ct-steps--item">
                    <div class="ct-steps--counter ct-steps--active">
                        <span>4</span>
                    </div>
                </div>
            </div>
            <div class="ct-u-displayTable ct-steps--title text-center">
                <div class="ct-u-displayTableCell">
                    <span>Company Details</span>
                </div>
                <div class="ct-u-displayTableCell">
                    <span>Inspector Details</span>
                </div>
                <div class="ct-u-displayTableCell">
                    <span>Services</span>
                </div>
                <div class="ct-u-displayTableCell">
                    <span>Time Slot</span>
                </div>
            </div>
        </div>
    </div>
</header>
<br><br><br><br>
<div class="container">
    <div class="row">
        <div class="col-md-11 offset-md-1">
            <h3>Time Slot</h3><br><br>
                            <table class="table table-bordered table-hover">
                                <thead>
                                  <tr>
                                    <th>Mon</th>
                                    <th>Tue</th>
                                    <th>Wed</th>
                                    <th>Thur</th>
                                    <th>Fri</th>
                                    <th>Sat</th>
                                    <th>Sun</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>Start</td>
                                    <td>Start</td>
                                    <td>Start</td>
                                    <td>Start</td>
                                    <td>Start</td>
                                    <td>Start</td>
                                    <td>Start</td>
                                  </tr>
                                  <tr>
                                    <td>9 am</td>
                                    <td>9:30 am</td>
                                    <td>9 am</td>
                                    <td>9 am</td>
                                    <td>9 am</td>
                                    <td>12 am</td>
                                    <td>9 am</td>
                                  </tr>
                                  <tr>
                                    <td>Finish</td>
                                    <td>Finish</td>
                                    <td>Finish</td>
                                    <td>Finish</td>
                                    <td>Finish</td>
                                    <td>Finish</td>
                                    <td>Finish</td>
                                  </tr>
                                  <tr>
                                    <td>Finish</td>
                                    <td>Finish</td>
                                    <td>Finish</td>
                                    <td>Finish</td>
                                    <td>Finish</td>
                                    <td>Finish</td>
                                    <td>Finish</td>
                                  </tr>
                                  <tr>
                                    <td>Finish</td>
                                    <td>Finish</td>
                                    <td>Finish</td>
                                    <td>Finish</td>
                                    <td>Finish</td>
                                    <td>Finish</td>
                                    <td>Finish</td>
                                  </tr>
                                  <tr>
                                    <td>
                                        <button type="button" class="btn btn-primary">+Block</button>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-primary">+Block</button>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-primary">+Block</button>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-primary">+Block</button>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-primary">+Block</button>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-primary">+Block</button>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-primary">+Block</button>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            <h3>Calender</h3>
                            <small>Calender here</small><br><br>
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="notification">Notification</label>
                                </div>
                                <div class="col-md-10">
                                    <input class="form-control input-lg text-inner-input ct-u-text--dark ct-u-marginBottom10" type="email" placeholder="Email Address" required="">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="notification">Text Alert</label>
                                </div>
                                <div class="col-md-10">
                                    <input class="form-control input-lg text-inner-input ct-u-text--dark ct-u-marginBottom10" type="text" placeholder="Text Alert" required="">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="notification">Dn't Allow Scheduling within</label>
                                </div>
                                <div class="col-md-4">
                                    <input class="form-control input-lg text-inner-input ct-u-text--dark ct-u-marginBottom10" type="text" placeholder="time limit" required="">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="notification">Stand-Alone Scheduler Page</label>
                                </div>
                                <div class="col-md-8">
                                    <button type="button" class="btn btn-primary">My Online Schedule</button>
                                </div>
                            </div><br>
                            <ul class="list-inline pull-right">
                                <li><a href="#" class="btn btn-primary">Save and Finish</a></li>
                            </ul>
        </div>
    </div>
</div>