<br>
<br>
<br>
<br>
<br>
<br>
<header style="background-color: #393939;padding: 13px;">
  <div class="ct-mediaSection-inner">
    <div class="container">
      <div class="ct-steps--submission center-block ct-u-marginBottom20">
        <div class="ct-steps--item ct-steps--past">
          <div class="ct-steps--counter">
            <span>1</span>
          </div>
        </div>
        <div class="ct-steps--item ct-steps--past">
          <div class="ct-steps--counter">
            <span>2</span>
          </div>
        </div>
        <div class="ct-steps--item ct-steps--progress">
          <div class="ct-steps--counter">
            <span>3</span>
          </div>
        </div>
        <div class="ct-steps--item">
          <div class="ct-steps--counter ct-steps--active">
            <span>4</span>
          </div>
        </div>
      </div>
      <div class="ct-u-displayTable ct-steps--title text-center">
        <div class="ct-u-displayTableCell">
          <span>Company Details</span>
        </div>
        <div class="ct-u-displayTableCell">
          <span>Inspector Details</span>
        </div>
        <div class="ct-u-displayTableCell">
          <span>Services</span>
        </div>
        <div class="ct-u-displayTableCell">
          <span>Time Slot</span>
        </div>
      </div>
    </div>
  </div>
</header>
<br>
<br>
<br>
<br>
<div class="container">
  <form [formGroup]="inspectorDetailFormStep4" (ngSubmit)="saveStep4(inspectorDetailFormStep4)">
    <div class="row">
      <div class="col col-md-2">
        <div formArrayName="mondaySchedule">
          <div>
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>Mon</th>
                </tr>
              </thead>
              <tbody *ngFor="let ctrl of  inspectorDetailFormStep4.get('mondaySchedule').controls; let i=index" [formGroupName]="i">
                <tr>
                  <td>Start</td>
                </tr>
                <tr>
                  <td>
                    <input formControlName="mondayStartTime" class="form-control" type="number" min="0" max="23">
                  </td>
                </tr>
                <tr>
                  <td>Finish</td>
                </tr>
                <tr>
                  <td>
                    <input formControlName="mondayEndTime" class="form-control" type="number" min="0" max="23">
                  </td>
                  <hr>
                </tr>
              </tbody>
            </table>
          </div>
          <button type="button" (click)="addMoretoMondaySchedule()" class="btn btn-primary">
            <span style="text-align: left">+Block</span>
          </button>
        </div>
      </div>
      <!--Tuesday starts from here-->
      <div class="col col-md-2">
        <div formArrayName="tuesdaySchedule">
          <div>
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>Tuesday</th>
                </tr>
              </thead>
              <tbody *ngFor="let ctrl of  inspectorDetailFormStep4.get('tuesdaySchedule').controls; let i=index" [formGroupName]="i">
                <tr>
                  <td>Start</td>
                </tr>
                <tr>
                  <td>
                    <input formControlName="tuesdayStartTime" class="form-control" type="number" min="0" max="23">
                  </td>
                </tr>
                <tr>
                  <td>Finish</td>
                </tr>
                <tr>
                  <td>
                    <input formControlName="tuesdayEndTime" class="form-control" type="number" min="0" max="23">
                  </td>
                  <hr>
                </tr>
              </tbody>
            </table>
          </div>
          <button type="button" (click)="addMoretoTuesdaySchedule()" class="btn btn-primary">
            <span style="text-align: left">+Block</span>
          </button>
        </div>
      </div>
      <!--Wednesday Schedule starts from here-->
      <div class="col col-md-2">
        <div formArrayName="wednesdaySchedule">
          <div>
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>Wednesday</th>
                </tr>
              </thead>
              <tbody *ngFor="let ctrl of  inspectorDetailFormStep4.get('wednesdaySchedule').controls; let i=index" [formGroupName]="i">
                <tr>
                  <td>Start</td>
                </tr>
                <tr>
                  <td>
                    <input formControlName="wednesdayStartTime" class="form-control" type="number" min="0" max="23">
                  </td>
                </tr>
                <tr>
                  <td>Finish</td>
                </tr>
                <tr>
                  <td>
                    <input formControlName="wednesdayEndTime" class="form-control" type="number" min="0" max="23">
                  </td>
                  <hr>
                </tr>
              </tbody>
            </table>
          </div>
          <button type="button" (click)="addMoretoWednesdaySchedule()" class="btn btn-primary">
            <span style="text-align: left">+Block</span>
          </button>
        </div>
      </div>
      <!--Thursday Schedule-->
      <div class="col col-md-2">
        <div formArrayName="thursdaySchedule">
          <div>
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>Thursday</th>
                </tr>
              </thead>
              <tbody *ngFor="let ctrl of  inspectorDetailFormStep4.get('thursdaySchedule').controls; let i=index" [formGroupName]="i">
                <tr>
                  <td>Start</td>
                </tr>
                <tr>
                  <td>
                    <input formControlName="thursdayStartTime" class="form-control" type="number" min="0" max="23">
                  </td>
                </tr>
                <tr>
                  <td>Finish</td>
                </tr>
                <tr>
                  <td>
                    <input formControlName="thursdayEndTime" class="form-control" type="number" min="0" max="23">
                  </td>
                  <hr>
                </tr>
              </tbody>
            </table>
          </div>
          <button type="button" (click)="addMoretoThursdaySchedule()" class="btn btn-primary">
            <span style="text-align: left">+Block</span>
          </button>
        </div>
      </div>
      <!--Friday Schedule -->
      <div class="col col-md-2">
        <div formArrayName="fridaySchedule">
          <div>
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>Friday</th>
                </tr>
              </thead>
              <tbody *ngFor="let ctrl of  inspectorDetailFormStep4.get('firdaySchedule').controls; let i=index" [formGroupName]="i">
                <tr>
                  <td>Start</td>
                </tr>
                <tr>
                  <td>
                    <input formControlName="fridayStartTime" class="form-control" type="number" min="0" max="23">
                  </td>
                </tr>
                <tr>
                  <td>Finish</td>
                </tr>
                <tr>
                  <td>
                    <input formControlName="fridayEndTime" class="form-control" type="number" min="0" max="23">
                  </td>
                  <hr>
                </tr>
              </tbody>
            </table>
          </div>
          <button type="button" (click)="addMoretoFridaySchedule()" class="btn btn-primary">
            <span style="text-align: left">+Block</span>
          </button>
        </div>
      </div>
      <!--Saturday Schedule-->
      <div class="col col-md-2">
        <div formArrayName="saturdaySchedule">
          <div>
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>Saturday</th>
                </tr>
              </thead>
              <tbody *ngFor="let ctrl of  inspectorDetailFormStep4.get('saturdaySchedule').controls; let i=index" [formGroupName]="i">
                <tr>
                  <td>Start</td>
                </tr>
                <tr>
                  <td>
                    <input formControlName="fridayStartTime" class="form-control" type="number" min="0" max="23">
                  </td>
                </tr>
                <tr>
                  <td>Finish</td>
                </tr>
                <tr>
                  <td>
                    <input formControlName="saturdayEndTime" class="form-control" type="number" min="0" max="23">
                  </td>
                  <hr>
                </tr>
              </tbody>
            </table>
          </div>
          <button type="button" (click)="addMoretoSaturdaySchedule()" class="btn btn-primary">
            <span style="text-align: left">+Block</span>
          </button>
        </div>
      </div>
      <div class="col-md-offset-4 col col-md-2">
        <div formArrayName="sundaySchedule">
          <div>
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>Sunday</th>
                </tr>
              </thead>
              <tbody *ngFor="let ctrl of  inspectorDetailFormStep4.get('sundaySchedule').controls; let i=index" [formGroupName]="i">
                <tr>
                  <td>Start</td>
                </tr>
                <tr>
                  <td>
                    <input formControlName="sundayStartTime" class="form-control" type="number" min="0" max="23">
                  </td>
                </tr>
                <tr>
                  <td>Finish</td>
                </tr>
                <tr>
                  <td>
                    <input formControlName="sundayEndTime" class="form-control" type="number" min="0" max="23">
                  </td>
                  <hr>
                </tr>

              </tbody>
            </table>
          </div>
          <button type="button" (click)="addMoretoSundaySchedule()" class="btn btn-primary">
            <span style="text-align: left">+Block</span>
          </button>
        </div>
      </div>

    </div>


  </form>
  <div class="row">
    <div class="col-md-12 ">
      <h3>Time Slot</h3>
      <br>
      <br>

      <h3>Calender</h3>
      <small>Calender here</small>
      <br>
      <br>
      <div class="row">
        <div class="col-md-2">
          <label for="notification">Notification</label>
        </div>
        <div class="col-md-10">
          <input class="form-control input-lg text-inner-input ct-u-text--dark ct-u-marginBottom10" type="email" placeholder="Email Address"
            required="">
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <label for="notification">Text Alert</label>
        </div>
        <div class="col-md-10">
          <input class="form-control input-lg text-inner-input ct-u-text--dark ct-u-marginBottom10" type="text" placeholder="Text Alert"
            required="">
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <label for="notification">Dn't Allow Scheduling within</label>
        </div>
        <div class="col-md-4">
          <input class="form-control input-lg text-inner-input ct-u-text--dark ct-u-marginBottom10" type="text" placeholder="time limit"
            required="">
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <label for="notification">Stand-Alone Scheduler Page</label>
        </div>
        <div class="col-md-8">
          <button type="button" class="btn btn-primary">My Online Schedule</button>
        </div>
      </div>
      <br>
      <ul class="list-inline pull-right">
        <li>
          <button type="submit" class="btn btn-primary">Save and Finish</button>
        </li>
      </ul>
    </div>
  </div>
</div>
