<section class="ct-u-paddingBoth60 ct-blog ct-post--single">
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <div class="ct-articleBox ct-u-marginBottom60">
          <div class="ct-articleBox-media pull-left ct-u-marginBottom30">
            <div class="ct-calendar--day text-center ct-calendar--mini hidden-lg">
              <div class="ct-day">
                <span>09</span>
              </div>
              <div class="ct-month">
                <span class="text-uppercase">jan</span>
              </div>
            </div>
            <img src="assets/images/content/blog-image-1.jpg" alt="">
          </div>
          <div class="ct-articleBox--body">
            <div class="ct-u-displayTableVertical">
              <div class="ct-calendar--day text-center visible-lg-inline-block ct-u-displayTableCell">
                <div class="ct-day">
                  <span>09</span>
                </div>
                <div class="ct-month">
                  <span class="text-uppercase">jan</span>
                </div>
              </div>
              <div class="ct-articleBox-titleBox text-uppercase ct-u-displayTableCell">

                <a href="blog-single.html">Expectations for 2015</a>
                <div class="ct-articleBox-meta">
                  <span>Posted on January 9th, 2015 In Loans, Real Estate</span>
                </div>
                <div class="ct-articleComments">
                  <a href="blog-single.html">2 comments</a>
                </div>

              </div>
            </div>
            <div class="ct-divider ct-u-marginTop10 ct-u-marginBottom20"></div>
            <div class="ct-articleBox-description">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi.
              Cras vel lorem. Etiam pellentesque aliquet tellus.
              <br>
              <br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia
              in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper
              justo at risus. Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero
              dui id orci. Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est.
              Etiam sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque. Phasellus ornare, ante vitae
              consectetuer consequat, purus sapien ultricies dolor, et mollis pede metus eget nisi. Praesent sodales velit
              quis augue. Cras suscipit, urna at aliquam rhoncus, urna quam viverra nisi, in interdum massa nibh nec erat.
              <br>
              <br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia
              in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper
              justo at risus. Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero
              dui id orci. Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est.
              Etiam sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque. Phasellus ornare, ante vitae
              consectetuer consequat, purus sapien ultricies dolor, et mollis pede metus eget nisi. Praesent sodales velit
              quis augue. Cras suscipit, urna at aliquam rhoncus, urna quam viverra nisi, in interdum massa nibh nec erat.
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </div>
          </div>
          <div class="ct-divider ct-u-marginBoth30"></div>
          <div class="ct-u-displayTableVertical ct-u-marginBottom50">
            <div class="ct-u-displayTableCell">
              <div class="tagcloud">
                <a href="">Architecture</a>
                <a href="">Developers</a>
                <a href="">Loans</a>
                <a href="">Bank</a>
              </div>
            </div>
            <div class="ct-u-displayTableCell text-right">
              <div class="ct-share--section">
                <h4 class="text-uppercase">Share</h4>
                <ul class="ct-panel--socials ct-panel--navbar list-inline list-unstyled">
                  <li>
                    <a href="https://www.facebook.com/createITpl">
                      <div class="ct-socials ct-socials--circle">
                        <i class="fa fa-facebook"></i>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="https://twitter.com/createitpl">
                      <div class="ct-socials ct-socials--circle">
                        <i class="fa fa-twitter"></i>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <div class="ct-socials ct-socials--circle">
                        <i class="fa fa-instagram"></i>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="ct-authorPost ct-u-marginBottom60">
            <div class="pull-left">
              <img src="assets/images/content/blog-avatar--admin.jpg" alt="">
            </div>
            <div class="ct-authorPost-content">
              <div class="ct-authorPost-author">
                <h5 class="text-uppercase ct-fw-600">By admin</h5>
              </div>
              <div class="ct-authorPost-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed,
                  lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus.</p>
              </div>
            </div>
          </div>

          <div class="ct-heading ct-u-marginBottom30">
            <h5 class="text-uppercase">2 comments</h5>
          </div>

          <ul class="ct-commentList list-unstyled ct-u-marginBottom60">
            <li>
              <div class="ct-authorComment ct-u-marginBottom30">
                <div class="pull-left">
                  <img src="assets/images/content/blog-avatar--1.jpg" alt="Author Photo">
                </div>
                <div class="ct-authorComment-content">
                  <div class="ct-authorComment-author">
                    <h5 class="text-uppercase ct-fw-600">John Doe on January 10th, 2015 @ 17:35</h5>
                  </div>
                  <p class="ct-authorComment-quote">Follow the recipe carefully regarding whipping time for egg whites. You don’t want to over-whip your whites.
                    I have made this mistake far too many times, and my egg whites have become too stiff to use.</p>
                </div>
              </div>
              <ol class="children">
                <li>
                  <div class="ct-authorComment ct-u-marginBottom40">
                    <div class="pull-left">
                      <img src="assets/images/content/blog-avatar--1.jpg" alt="Author Photo">
                    </div>
                    <div class="ct-authorComment-content">
                      <div class="ct-authorComment-author">
                        <h5 class="text-uppercase ct-fw-600">Bob Donser on January 11th, 2015 @ 15:35</h5>
                      </div>
                      <p class="ct-authorComment-quote">Follow the recipe carefully regarding whipping time for egg whites. You don’t want to over-whip your
                        whites. I have made this mistake far too many times, and my egg whites have become too stiff to use.</p>
                    </div>
                  </div>
                </li>
              </ol>
            </li>
            <li>
              <div class="ct-authorComment">
                <div class="pull-left">
                  <img src="assets/images/content/blog-avatar--1.jpg" alt="Author Photo">
                </div>
                <div class="ct-authorComment-content">
                  <div class="ct-authorComment-author">
                    <h5 class="text-uppercase ct-fw-600">John Doe on January 9th, 2015 @ 15:35</h5>
                  </div>
                  <p class="ct-authorComment-quote">Follow the recipe carefully regarding whipping time for egg whites. You don’t want to over-whip your whites.
                    I have made this mistake far too many times, and my egg whites have become too stiff to use.</p>
                </div>
              </div>
            </li>
          </ul>
          <div class="ct-heading ct-u-marginBottom30">
            <h5 class="text-uppercase">add comment</h5>
          </div>
          <div class="ct-commentForm">
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group ct-u-marginBottom20">
                  <input id="comment_name" required="" type="text" name="field[]" class="form-control input-lg ct-input--border ct-u-text--dark"
                    placeholder="Name *">
                  <input id="comment_email" required="" type="email" name="field[]" class="form-control input-lg ct-input--border ct-u-text--dark"
                    placeholder="Email *">
                  <input id="comment_website" required="" type="email" name="field[]" class="form-control input-lg ct-input--border ct-u-text--dark"
                    placeholder="Website">
                </div>
              </div>
              <div class="col-sm-12">
                <div class="form-group ct-u-marginBottom20">
                  <textarea id="comment_message" class="form-control input-lg ct-input--border ct-u-text--dark" rows="12" name="field[]" required=""
                    placeholder="Your comments ..."></textarea>
                </div>
                <button type="submit" class="btn btn-primary text-capitalize">Post comment
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="col-md-5">
        <div class="ct-js-sidebar">
          <div class="row">
            <div class="col-sm-6 col-md-12">
              <section class="widget">
                <div class="widget-inner">
                  <div class="ct-search-widget">
                    <div class="form-group">
                      <input id="search2" placeholder="Enter keywords ..." required type="text" name="field[]" class="form-control input-lg ct-input--border">
                      <button class="btn btn-primary pull-right">
                        Search
                      </button>
                    </div>
                  </div>
                </div>
              </section>
            </div>
            <div class="col-sm-6 col-md-12">
              <section class="widget">
                <div class="widget-inner">
                  <div class="ct-text-widget">
                    <h4 class="text-uppercase">About Blog</h4>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi.
                      Cras vel lorem. Etiam pellentesque aliquet tellus.
                    </p>
                  </div>
                </div>
              </section>
            </div>
            <div class="col-sm-6 col-md-12">
              <section class="widget">
                <div class="widget-inner">
                  <div class="ct-widget-categories">
                    <h4 class="text-uppercase">Categories</h4>
                    <ul class="list-unstyled">
                      <li>
                        <a href="">
                          <i class="fa fa-angle-right"></i>Apartments
                          <span class="pull-right">(34)</span>
                        </a>
                      </li>
                      <li>
                        <a href="">
                          <i class="fa fa-angle-right"></i>Loans
                          <span class="pull-right">(12)</span>
                        </a>
                      </li>
                      <li>
                        <a href="">
                          <i class="fa fa-angle-right"></i>Real Estate
                          <span class="pull-right">(263)</span>
                        </a>
                      </li>
                      <li>
                        <a href="">
                          <i class="fa fa-angle-right"></i>Developers
                          <span class="pull-right">(1)</span>
                        </a>
                      </li>
                      <li>
                        <a href="">
                          <i class="fa fa-angle-right"></i>Uncategorized
                          <span class="pull-right">(561)</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </section>
            </div>
            <div class="col-sm-6 col-md-12">
              <br>
              <!-- <div role="tabpanel"> -->
              <!-- <div class="inner-addon left-addon">
                            <h3>Search As:</h3><br>
                        </div> -->
              <!-- Nav tabs -->
              <!-- <ul class="nav nav-tabs nav-justified" role="tablist">
                            <li role="presentation" class="active"><a href="#vision3-3" aria-controls="vision3-3" role="tab" data-toggle="tab">Home Owner</a></li>
                            <li role="presentation"><a href="#vision3-3" aria-controls="vision3-3" role="tab" data-toggle="tab">Estate Agent</a></li>
                            <li role="presentation"><a href="#vision3-3" aria-controls="vision3-3" role="tab" data-toggle="tab">Morg. Advisor</a></li>
                            <li role="presentation"><a href="#vision3-3" aria-controls="vision3-3" role="tab" data-toggle="tab">Bulid. Inspector</a></li>
                            <li role="presentation"><a href="#vision3-3" aria-controls="vision3-3" role="tab" data-toggle="tab">Estate Lawyer</a></li>
                        </ul><br> -->
              <!-- <div class="clearfix"></div> -->
              <!-- Tab panes -->
              <!--  <div class="row">
                            <div class="col-md-offset-8 col-md-4">
                                <button type="button" class="btn btn-warning">Search</button>
                            </div>
                        </div> -->
              <!-- </div> -->
              <div class="card">
                <div class="card-header">
                  <i class="fa fa-search font-today-dash">
                    <span> &nbsp;Search As</span>
                  </i>
                </div>
                <div class="card-body">
                  <blockquote class="blockquote">
                    <div class="row">
                      <div class="col-md-12">
                        <br>
                        <select class="form-control input-lg text-inner-input ct-u-marginBottom10">
                          <option value="any">Property</option>
                          <option value="1">Real Estate Agent</option>
                          <option value="2">Mortgage Advisor</option>
                          <option value="3">Building Inspector</option>
                          <option value="4">Real Estate Lawyer</option>
                        </select>
                        <input class="form-control input-lg text-inner-input ct-u-marginBottom10" type="text" placeholder="Enter Your Postal Code"
                          required style="margin-top: 15px;">
                        <a href="#" class="btn btn-warning mt-3 d-block mx-auto btn-block">
                          <i class="fa fa-search" style="font-size: 17px;">
                            <span style="font-size: 21px;">Search</span>
                          </i>
                        </a>
                      </div>
                    </div>
                  </blockquote>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-12">
              <br>
              <br>
              <section class="widget ct-widget-latestPosts">
                <div class="widget-inner">
                  <h4 class="text-uppercase">Latest Posts</h4>
                  <ul class="list-unstyled">
                    <li>
                      <div class="widget-latest-posts-left">
                        <a href="blog-single.html">
                          <img src="assets/images/content/latest-post-widget.jpg" alt="">
                        </a>
                      </div>
                      <div class="widget-latest-posts-content">
                        <a href="blog-single.html">
                          Expectations for 2015
                        </a>
                        <span class="text-uppercase">Posted on january 9th, 2015</span>
                      </div>
                    </li>
                    <li>
                      <div class="widget-latest-posts-content">
                        <a href="blog-single.html">
                          Real Estate market most probably going to bloom in early 2016
                        </a>
                        <span class="text-uppercase">Posted on january 5th, 2015</span>
                      </div>
                    </li>
                    <li>
                      <div class="widget-latest-posts-left">
                        <a href="blog-single.html">
                          <img src="assets/images/content/latest-post-widget-1.jpg" alt="">
                        </a>
                      </div>
                      <div class="widget-latest-posts-content">
                        <a href="blog-single.html">
                          Trending in architecture leads us towards better standards
                        </a>
                        <span class="text-uppercase">Posted on january 9th, 2015</span>
                      </div>
                    </li>
                  </ul>
                </div>
              </section>
            </div>
            <div class="col-sm-6 col-md-12">
              <section class="widget">
                <div class="widget-inner">
                  <div class="ct-widget-categories">
                    <h4 class="text-uppercase">Archive</h4>
                    <ul class="list-unstyled">
                      <li>
                        <a href="">
                          <i class="fa fa-angle-right"></i>January 2015
                          <span class="pull-right">(1)</span>
                        </a>
                      </li>
                      <li>
                        <a href="">
                          <i class="fa fa-angle-right"></i>December 2014
                          <span class="pull-right">(2)</span>
                        </a>
                      </li>
                      <li>
                        <a href="">
                          <i class="fa fa-angle-right"></i>November 2014
                          <span class="pull-right">(3)</span>
                        </a>
                      </li>
                      <li>
                        <a href="">
                          <i class="fa fa-angle-right"></i>October 2014
                          <span class="pull-right">(1)</span>
                        </a>
                      </li>
                      <li>
                        <a href="">
                          <i class="fa fa-angle-right"></i>August 2014
                          <span class="pull-right">(5)</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </section>
            </div>
            <div class="col-sm-6 col-md-12">
              <section class="widget">
                <div class="widget-inner">
                  <h4 class="text-uppercase">Tags</h4>
                  <div class="tagcloud">
                    <a href="">Architecture</a>
                    <a href="">Developers</a>
                    <a href="">Loans</a>
                    <a href="">Bank</a>
                    <a href="">Mortgage</a>
                    <a href="">House</a>
                    <a href="">Real Estate</a>
                    <a href="">Rentals</a>
                    <a href="">Neighbours</a>
                    <a href="">Removals</a>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
