<br><br><br><br><br><br>
<header style="background-color: #393939;padding: 13px;">
        <div class="ct-mediaSection-inner">
            <div class="container">
                <div class="ct-steps--submission center-block ct-u-marginBottom20">
                    <div class="ct-steps--item ct-steps--past">
                        <div class="ct-steps--counter">
                            <span>1</span>
                        </div>
                    </div>
                    <div class="ct-steps--item ct-steps--past">
                        <div class="ct-steps--counter">
                            <span>2</span>
                        </div>
                    </div>
                    <div class="ct-steps--item ct-steps--progress">
                        <div class="ct-steps--counter">
                            <span>3</span>
                        </div>
                    </div>
                    <div class="ct-steps--item">
                        <div class="ct-steps--counter ct-steps--active">
                            <span>4</span>
                        </div>
                    </div>
                </div>
                <div class="ct-u-displayTable ct-steps--title text-center">
                    <div class="ct-u-displayTableCell">
                        <span>Title</span>
                    </div>
                    <div class="ct-u-displayTableCell">
                        <span>Images</span>
                    </div>
                    <div class="ct-u-displayTableCell">
                        <span>Price &amp; Amentities</span>
                    </div>
                    <div class="ct-u-displayTableCell">
                        <span>Done!</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
<section class="ct-u-paddingTop50 ct-u-paddingBottom100">
    <div class="container">
        <div class="ct-headerText--normal text-uppercase ct-u-marginBottom40">
            <h2>Final<span class="ct-text--highlightGray"> step</span>
            </h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <form role="form" class="ct-formSubmission">
                    <div class="form-group ">
                        <h4 class="text-uppercase ct-fw-600 ct-u-marginBottom20">Almost Done</h4>
                        <span class="span ct-u-marginBottom20">We are almost done. If you want to change anything before publishing this will be the best moment to do it. You can also preview how will your property look in our service:</span>
                        <div class="ct-u-marginBottom50">
                            <a class="btn btn-primary" href="">Preview My Listing</a> <span class="ct-infoLabel">*Opens in a new window</span>
                        </div>
                        <div class="ct-container--Big">
                            <a class="btn btn-link pull-left"  routerLink="/post-ad/step-3">Back to Step 3</a>
                            <button type="submit" class="btn btn-success pull-right">Submit My Property</button>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-offset-1 col-md-5">
                <div class="ct-iconBox ct-u-marginBottom40 ct-iconBox--2col">
                    <div class="ct-icon text-center ct-iconContainer--circle ct-iconContainer--circleLight">
                        <i class="fa fa-users"></i>
                    </div>
                    <div class="ct-iconBox--description">
                        <span class="ct-title text-uppercase ct-fw-600">Get more users</span>
                        <span class="ct-text">Thanks to our content optimization you will get more visits to your property page.</span>
                    </div>
                </div>
                <div class="ct-iconBox ct-u-marginBottom40 ct-iconBox--2col">
                    <div class="ct-icon text-center ct-iconContainer--circle ct-iconContainer--circleLight">
                        <i class="fa fa-bolt"></i>
                    </div>
                    <div class="ct-iconBox--description">
                        <span class="ct-title text-uppercase ct-fw-600">Convert visitors</span>
                        <span class="ct-text">With our design and structures you will be able to show your property in better light.</span>
                    </div>
                </div>
                <div class="ct-iconBox ct-iconBox--2col">
                    <div class="ct-icon text-center ct-iconContainer--circle ct-iconContainer--circleLight">
                        <i class="fa fa-trophy"></i>
                    </div>
                    <div class="ct-iconBox--description">
                        <span class="ct-title text-uppercase ct-fw-600">Reach your goal</span>
                        <span class="ct-text">Estato was designed to become your real estate business partner. It’s not only a tool, it’s a working ecosystem.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>