<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h3>Charity Support</h3><br>
          <table class="table table-hover table-responsive">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Donater's Name</th>
                  <th>Cash Collected</th>
                  <th>Received By</th>
                  <th>Date Received</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Muhammad Ahmad</td>
                  <td>12,000</td>
                  <td>Muhammad Ahmad</td>
                  <td>12th May, 2018</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Zohaib Aslam</td>
                  <td>19,000</td>
                  <td>Zohaib Aslam</td>
                  <td>15th May, 2018</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Arham Shahyd</td>
                  <td>17,000</td>
                  <td>Arham Shahyd</td>
                  <td>18th May, 2018</td>
                </tr>
              </tbody>
            </table>
        </div>
    </div>
</div>