<div class="ct-headroom--scrollUpBoth cssAnimate">
  <br>
  <br>
  <br>
  <br>
  <br>
  <div id="ct-js-wrapper" class="ct-pageWrapper">
    <header class="ct-mediaSection ct-u-paddingBoth100" data-stellar-background-ratio="0.3" data-height="470" data-type="parallax"
      data-bg-image="assets/images/content/profile-dashboard-snap.jpg" data-bg-image-mobile="assets/images/content/profile-dashboard-snap.jpg"
      id="profilePage">
      <div class="container">
        <div class="ct-personBox ct-personBox--extended ct-personBox--extendedLight text-left">
          <div class="ct-imagePerson">
            <img src="{{lawyerCompanyDetails?.image}}" alt="">
            <ul class="ct-panel--socials list-inline list-unstyled">
              <li *ngFor="let value of lawyerCompanyDetails.social">
                <a href="http://{{value.url}}">
                  <div *ngIf="value.provider != 'associations'" class="ct-socials ct-socials--circle">
                    <i class="fa fa-{{value.provider}}"></i>
                  </div>
                </a>
              </li>
            </ul>
          </div>
          <div class="ct-personContent">
            <div class="ct-personName ct-u-paddingBoth10 text-uppercase">
              <h2>{{lawyerCompanyDetails?.name}}
                <a routerLink="/lawyer/edit/company-details" *ngIf="lawyerCompanyDetails.userId == authService.profile._id" class="btn btn-xs btn-edit text-uppercase ct-js-btnEdit--Agents">edit</a>
              </h2>
            </div>
            <div class="ct-personDescription pull-right ct-u-paddingBoth20">
              <ul class="list-unstyled ct-contactPerson pull-right">
                <li>
                  <i class="fa fa-phone"></i>
                  <span>{{lawyerCompanyDetails?.phone}}</span>
                </li>
                <li>
                  <a href="{{lawyerCompanyDetails?.website}}">
                    <i class="fa fa-globe"></i>{{lawyerCompanyDetails?.website}}
                  </a>
                </li>
                <li>
                  <i class="fa fa-home"></i>
                  <span>{{lawyerCompanyDetails?.state}}</span>
                </li>
                <li>
                  <a>
                    <i class="fa fa-envelope-o"></i>{{lawyerCompanyDetails?.email}}</a>
                </li>
              </ul>
            </div>
            <div class="ct-personDescription pull-right ct-u-paddingBoth20">
              <ul class="list-unstyled ct-contactPerson pull-right">
                <li>
                  <i class="fa fa-location-arrow"></i>
                  <span>{{lawyerCompanyDetails?.addressLine1}}</span>
                </li>
                <li>
                  <i class="fa fa-location-arrow"></i>
                  <span>{{lawyerCompanyDetails?.addressLine2}}</span>
                </li>
                <li>
                  <i class="fa fa-home"></i>
                  <span>{{lawyerCompanyDetails?.city}}</span>
                </li>
                <li>
                  <i class="fa fa-home"></i>
                  <span>{{lawyerCompanyDetails?.zip}}</span>
                </li>
              </ul>
            </div>
            <div class="ct-buttonPanel text-capitalize ct-u-paddingBoth20 pull-right">
              <a (click)="scrollDowntoServices()" class="btn btn-default btn-transparent--border ct-u-text--white btn-hoverWhite">Our Services</a>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section class="ct-u-paddingTop30 ct-u-paddingBottom60">
      <div class="container">
        <div class="ct-heading ct-u-marginBottom60 text-center" id="services">
          <h3 class="text-uppercase">Our Services</h3>
          <a routerLink="/lawyer/service" *ngIf="lawyerCompanyDetails.userId == authService.profile._id" class="btn btn-xs btn-edit text-uppercase ct-js-btnEdit--Properties">edit</a>
        </div>
        <div class="ct-section--products">
          <div class="row">
            <div *ngFor="let value of lawyerCompanyDetails?.services" class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
              <div class="ct-itemProducts ct-u-marginBottom30 ct-hover">
                <a href="">
                  <div class="ct-main-content">
                    <div class="ct-imageBox">
                      <img src="{{value.image}}" alt="">
                      <i class="fa fa-eye"></i>
                    </div>
                    <div class="ct-main-text">
                      <div class="ct-product--tilte">
                        {{value.name}}
                      </div>
                      <div class="ct-product--price">
                        <span>$ {{value.price}}</span>
                      </div>
                      <hr>
                      <div class="ct-product--description">
                        <i class="fa fa-info"></i>
                        {{value.details}}
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>
  <!-- JavaScripts -->
</div>