<div class="container">
    <div class="row">
        <div class="col-md-7 col-md-offset-2">
            <h3>My Favourites</h3><br>
             <table class="table table-hover table-responsive">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>My Favourites</th>
                    <th>Date Added</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>Favourite 1</td>
                    <td>5th May, 2018</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>Favourite 2</td>
                    <td>5th May, 2018</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>Favourite 3</td>
                    <td>5th May, 2018</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>