<section class="ct-u-paddingTop30 ct-u-paddingBottom60">
       
    <br><br><br><br>
    
    <br><br><br><br>
    
    <div class="container">
            <div class="ct-heading ct-u-marginBottom60 text-center">
                <h3 class="text-uppercase">agency Services</h3>
                <a routerLink="/dashboard/add-service" class="btn btn-xs btn-success text-uppercase pull-right">Add Service</a>
            </div>
            <div class="ct-section--products">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="ct-itemProducts ct-u-marginBottom30 ct-hover">
                            <label class="control-label">
                                <a class="btn btn-xs btn-edit text-uppercase ct-js-btnEdit--Properties">edit</a>
                            </label>
                            <a href="product-single.html">
                                <div class="ct-main-content">
                                    <div class="ct-imageBox">
                                        <img src="assets/images/content/property-1.jpg" alt=""><i class="fa fa-eye"></i>
                                    </div>
                                    <div class="ct-main-text">
                                        <div class="ct-product--tilte">
                                            1724 Clear Hills Rise, Farewells
                                        </div>
                                        <div class="ct-product--price">
                                            <span class="ct-price--Old">$ 450,000</span>
                                            <span>$ 350,000</span>
                                        </div>
                                        <div class="ct-product--description">
                                            Beautiful apartment in a great, very calm and safe place.
                                        </div>
                                    </div>
                                </div>
                                <div class="ct-product--meta">
                                    <div class="ct-icons">
                                                        <span>
                                                            <i class="fa fa-bed"></i> 3
                                                        </span>
                                                        <span>
                                                            <i class="fa fa-cutlery"></i> 2
                                                        </span>
                                    </div>
                                    <div class="ct-text">
                                        <span> Area: <span>105 m2</span></span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="ct-itemProducts ct-u-marginBottom30 ct-hover">
                            <a href="product-single.html">
                                <div class="ct-main-content">
                                    <div class="ct-imageBox">
                                        <img src="assets/images/content/property-2.jpg" alt=""><i class="fa fa-eye"></i>
                                    </div>
                                    <div class="ct-main-text">
                                        <div class="ct-product--tilte">
                                            1856 Misty Concession, Colonsay
                                        </div>
                                        <div class="ct-product--price">
                                            <span>$ 450,000</span>
                                        </div>
                                        <div class="ct-product--description">
                                            Beautiful apartment in a great, very calm and safe place.
                                        </div>
                                    </div>
                                </div>
                                <div class="ct-product--meta">
                                    <div class="ct-icons">
                                                        <span>
                                                            <i class="fa fa-bed"></i> 3
                                                        </span>
                                                        <span>
                                                            <i class="fa fa-cutlery"></i> 2
                                                        </span>
                                    </div>
                                    <div class="ct-text">
                                        <span> Area: <span>105 m2</span></span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="ct-itemProducts ct-u-marginBottom30 ct-hover">
                            <label class="control-label new">
                                New
                            </label>
                            <a href="product-single.html">
                                <div class="ct-main-content">
                                    <div class="ct-imageBox">
                                        <img src="assets/images/content/property-3.jpg" alt=""><i class="fa fa-eye"></i>
                                    </div>
                                    <div class="ct-main-text">
                                        <div class="ct-product--tilte">
                                            3046 Merry Landing, High Lonesome Wells
                                        </div>
                                        <div class="ct-product--price">
                                            <span>$ 450,000</span>
                                        </div>
                                        <div class="ct-product--description">
                                            Beautiful apartment in a great, very calm and safe place.
                                        </div>
                                    </div>
                                </div>
                                <div class="ct-product--meta">
                                    <div class="ct-icons">
                                                        <span>
                                                            <i class="fa fa-bed"></i> 3
                                                        </span>
                                                        <span>
                                                            <i class="fa fa-cutlery"></i> 2
                                                        </span>
                                    </div>
                                    <div class="ct-text">
                                        <span> Area: <span>105 m2</span></span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="ct-itemProducts ct-u-marginBottom30 ct-hover">
                            <a href="product-single.html">
                                <div class="ct-main-content">
                                    <div class="ct-imageBox">
                                        <img src="assets/images/content/property-4.jpg" alt=""><i class="fa fa-eye"></i>
                                    </div>
                                    <div class="ct-main-text">
                                        <div class="ct-product--tilte">
                                            5454 Fallen Deer Wood, Flat Nose
                                        </div>
                                        <div class="ct-product--price">
                                            <span>$ 450,000</span>
                                        </div>
                                        <div class="ct-product--description">
                                            Beautiful apartment in a great, very calm and safe place.
                                        </div>
                                    </div>
                                </div>
                                <div class="ct-product--meta">
                                    <div class="ct-icons">
                                                        <span>
                                                            <i class="fa fa-bed"></i> 3
                                                        </span>
                                                        <span>
                                                            <i class="fa fa-cutlery"></i> 2
                                                        </span>
                                    </div>
                                    <div class="ct-text">
                                        <span> Area: <span>105 m2</span></span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="ct-itemProducts ct-u-marginBottom30 ct-hover">
                            <a href="product-single.html">
                                <div class="ct-main-content">
                                    <div class="ct-imageBox">
                                        <img src="assets/images/content/property-5.jpg" alt=""><i class="fa fa-eye"></i>
                                    </div>
                                    <div class="ct-main-text">
                                        <div class="ct-product--tilte">
                                            2501 Heather Pine Round, Terramuggus
                                        </div>
                                        <div class="ct-product--price">
                                            <span>$ 450,000</span>
                                        </div>
                                        <div class="ct-product--description">
                                            Beautiful apartment in a great, very calm and safe place.
                                        </div>
                                    </div>
                                </div>
                                <div class="ct-product--meta">
                                    <div class="ct-icons">
                                                        <span>
                                                            <i class="fa fa-bed"></i> 3
                                                        </span>
                                                        <span>
                                                            <i class="fa fa-cutlery"></i> 2
                                                        </span>
                                    </div>
                                    <div class="ct-text">
                                        <span> Area: <span>105 m2</span></span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="ct-itemProducts ct-u-marginBottom30 ct-hover">
                            <a href="product-single.html">
                                <div class="ct-main-content">
                                    <div class="ct-imageBox">
                                        <img src="assets/images/content/property-6.jpg" alt=""><i class="fa fa-eye"></i>
                                    </div>
                                    <div class="ct-main-text">
                                        <div class="ct-product--tilte">
                                            9541 Rustic Forest Crescent, Falmouth
                                        </div>
                                        <div class="ct-product--price">
                                            <span>$ 450,000</span>
                                        </div>
                                        <div class="ct-product--description">
                                            Beautiful apartment in a great, very calm and safe place.
                                        </div>
                                    </div>
                                </div>
                                <div class="ct-product--meta">
                                    <div class="ct-icons">
                                                        <span>
                                                            <i class="fa fa-bed"></i> 3
                                                        </span>
                                                        <span>
                                                            <i class="fa fa-cutlery"></i> 2
                                                        </span>
                                    </div>
                                    <div class="ct-text">
                                        <span> Area: <span>105 m2</span></span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="ct-itemProducts ct-u-marginBottom30 ct-hover">
                            <a href="product-single.html">
                                <div class="ct-main-content">
                                    <div class="ct-imageBox">
                                        <img src="assets/images/content/property-7.jpg" alt=""><i class="fa fa-eye"></i>
                                    </div>
                                    <div class="ct-main-text">
                                        <div class="ct-product--tilte">
                                            916 Umber Run, Skookumchuck
                                        </div>
                                        <div class="ct-product--price">
                                            <span>$ 450,000</span>
                                        </div>
                                        <div class="ct-product--description">
                                            Beautiful apartment in a great, very calm and safe place.
                                        </div>
                                    </div>
                                </div>
                                <div class="ct-product--meta">
                                    <div class="ct-icons">
                                                        <span>
                                                            <i class="fa fa-bed"></i> 3
                                                        </span>
                                                        <span>
                                                            <i class="fa fa-cutlery"></i> 2
                                                        </span>
                                    </div>
                                    <div class="ct-text">
                                        <span> Area: <span>105 m2</span></span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="ct-itemProducts ct-u-marginBottom30 ct-hover">
                            <a href="product-single.html">
                                <div class="ct-main-content">
                                    <div class="ct-imageBox">
                                        <img src="assets/images/content/property-8.jpg" alt=""><i class="fa fa-eye"></i>
                                    </div>
                                    <div class="ct-main-text">
                                        <div class="ct-product--tilte">
                                            8553 Fallen Creek Bend, North Carolina
                                        </div>
                                        <div class="ct-product--price">
                                            <span>$ 450,000</span>
                                        </div>
                                        <div class="ct-product--description">
                                            Beautiful apartment in a great, very calm and safe place.
                                        </div>
                                    </div>
                                </div>
                                <div class="ct-product--meta">
                                    <div class="ct-icons">
                                                        <span>
                                                            <i class="fa fa-bed"></i> 3
                                                        </span>
                                                        <span>
                                                            <i class="fa fa-cutlery"></i> 2
                                                        </span>
                                    </div>
                                    <div class="ct-text">
                                        <span> Area: <span>105 m2</span></span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ct-pagination text-center">
                <ul class="pagination">
                    <li><a href="#" aria-label="Previous"><span aria-hidden="true"><i class="fa fa-angle-left"></i></span></a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#" aria-label="Next"><span aria-hidden="true"><i class="fa fa-angle-right"></i></span></a></li>
                </ul>
            </div>
        </div>
    </section>