<section class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <div class="ct-heading ct-u-marginBottom60">
                    <h3 class="text-uppercase">Add agents</h3>
                </div>
            <div class="wizard">
                <div class="wizard-inner">
                    <div class="connecting-line"></div>
                    <ul class="nav nav-tabs" role="tablist">
    
                        <li role="presentation" class="">
                            <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="" data-original-title="Step 1" aria-expanded="false">
                                <span class="round-tab">
                                    <i class="glyphicon glyphicon-folder-open"></i>
                                </span>
                            </a>
                        </li>
    
                        <li role="presentation" class="active">
                            <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="" data-original-title="Step 2" aria-expanded="true">
                                <span class="round-tab">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </span>
                            </a>
                        </li>
                        
    
                        <li role="presentation" class="">
                            <a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="" data-original-title="Complete" aria-expanded="false">
                                <span class="round-tab">
                                    <i class="glyphicon glyphicon-ok"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
    
                <form role="form">
                    <div class="tab-content">
                        <div class="tab-pane" role="tabpanel" id="step1">
                            <div class="row">
                                <div class="col-md-6">
                                    <input class="form-control input-lg ct-input--border ct-u-text--dark ct-u-marginBottom10" type="text" placeholder="First Name" required=""><br>
                                </div>
                                <div class="col-md-6">
                                    <input class="form-control input-lg ct-input--border ct-u-text--dark ct-u-marginBottom10" type="text" placeholder="Last Name" required=""><br>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <input class="form-control input-lg ct-input--border ct-u-text--dark ct-u-marginBottom10" type="text" placeholder="Phone" required=""><br>
                                </div>
                                <div class="col-md-6">
                                    <input class="form-control input-lg ct-input--border ct-u-text--dark ct-u-marginBottom10" type="text" placeholder="Mobile Number" required=""><br>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <input class="form-control input-lg ct-input--border ct-u-text--dark ct-u-marginBottom10" type="text" placeholder="Email Address" required=""><br>
                                </div>
                                <div class="col-md-6">
                                    <input class="form-control input-lg ct-input--border ct-u-text--dark ct-u-marginBottom10" type="text" placeholder="Skype" required=""><br>
                                </div>
                            </div>
                            <ul class="list-inline pull-right">
                                <li><button type="button" class="btn btn-primary next-step">Add Agent</button></li>
                            </ul>
                        </div>
                        <div class="tab-pane active" role="tabpanel" id="step2">
                           <div class="row">
                            <div class="col-md-6">
                                <input class="form-control input-lg ct-input--border ct-u-text--dark ct-u-marginBottom10" type="text" value="www.facebook.com/" required="">
                            </div>
                             <div class="col-md-6">
                                <input class="form-control input-lg ct-input--border ct-u-text--dark ct-u-marginBottom10" type="text" value="www.twitter.com/" required="">
                             </div>
                           </div>
                           <div class="row">
                            <div class="col-md-6">
                                <input class="form-control input-lg ct-input--border ct-u-text--dark ct-u-marginBottom10" type="text" value="www.instagram.com/" required="">
                            </div>
                             <div class="col-md-6">
                                <label class="btn btn-primary btn-file">
                                    Choose File<input type="file" style="display: none;">
                                </label>
                             </div>
                           </div>
                            <ul class="list-inline pull-right">
                                <li><button type="button" class="btn btn-primary next-step">Add Agent</button></li>
                            </ul>
                        </div>
                        <div class="tab-pane" role="tabpanel" id="complete">
                            <h3>Complete</h3>
                            <p>You have successfully completed all steps.</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </form>
            </div>
        </div></div></section>