<div class="container">
  <div class="row">
      <div class="col-md-8 col-md-offset-2">
          <h3>Upcoming Bookings</h3><br>
        <table class="table table-hover table-responsive">
          <thead>
            <tr>
              <th>#</th>
              <th>Bookings</th>
              <th>Date of Bookings</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Booking 1</td>
              <td>4th May, 2018</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Booking 2</td>
              <td>4th May, 2018</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Booking 3</td>
              <td>4th May, 2018</td>
            </tr>
          </tbody>
        </table><br>
        <h3>Bookings Request</h3><br>
        <table class="table table-hover table-responsive">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Bookings</th>
                  <th>Date of Bookings</th>
                  <th style="text-align: center;">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Booking 1</td>
                  <td>4th May, 2018</td>
                  <td class="fit">
                      <button class="btn btn-info delete-board-btn" value="">
                          Details
                      </button>
                      <button class="btn btn-success edit-board-btn" value="">
                          Accept
                      </button>
                      <button class="btn btn-danger delete-board-btn" value="">
                          Reject
                      </button>
                  </td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Booking 2</td>
                  <td>4th May, 2018</td>
                  <td class="fit">
                      <button class="btn btn-info delete-board-btn" value="">
                          Details
                      </button>
                      <button class="btn btn-success edit-board-btn" value="">
                          Accept
                      </button>
                      <button class="btn btn-danger delete-board-btn" value="">
                          Reject
                      </button>
                  </td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Booking 3</td>
                  <td>4th May, 2018</td>
                  <td class="fit">
                      <button class="btn btn-info delete-board-btn" value="">
                          Details
                      </button>
                      <button class="btn btn-success edit-board-btn" value="">
                          Accept
                      </button>
                      <button class="btn btn-danger delete-board-btn" value="">
                          Reject
                      </button>
                  </td>
                </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>