.input-lg{
    background-color: white;
    color: black;
}
.select2-container .select2-choice .select2-arrow {
width: auto;
box-shadow: none;
border-left: 1px solid #5c5c5c;
background: white;
color: black;
} 
.select2-container .select2-choice {
height: 47px;
border: none!important;
box-shadow: none;
background: transparent;
}
.inner-addon { 
position: relative; 
}

.owl-carousel .owl-item {
    float: left;
  }
  .owl-controls .owl-page,
  .owl-controls .owl-buttons div {
    cursor: pointer;
  }
  .owl-controls {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

/* style icon */
.inner-addon .glyphicon {
position: absolute;
padding: 10px;
pointer-events: none;
}
.owl-carousel .owl-wrapper-outer {
    overflow: hidden;
    position: relative;
    width: 100%;
}
/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }