.input-lg{
  background-color: white;
  color: black;
}
.select2-container .select2-choice .select2-arrow {
width: auto;
box-shadow: none;
border-left: 1px solid #5c5c5c;
background: white;
color: black;
} 
.select2-container .select2-choice {
height: 47px;
border: none!important;
box-shadow: none;
background: transparent;
}
.inner-addon { 
position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
position: absolute;
padding: 10px;
pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

[data-toggle="dropdown"]:hover{
  cursor: pointer;
}