<div class="container">
  <div class="row">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="col-md-9">
      <h2>Add Blog</h2>
      <br>
      <h3>Or, Just Order Article of your choice only at $20, original as you.</h3>
      <br>
      <input class="form-control input-lg text-inner-input ct-u-text--dark ct-u-marginBottom10" type="text" placeholder="Write your free Articles"
        required="">
      <br>
      <br>
      <label for="title">Post Title</label>
      <input class="form-control input-lg text-inner-input ct-u-text--dark ct-u-marginBottom10" type="text" placeholder="SEO Title"
        required="">
      <br>
      <label for="title1">Content</label>
      <textarea cols="43" rows="6" class="form-control input-lg text-inner-input ct-u-text--dark ct-u-marginBottom10" type="text"
        placeholder="Description Here" required=""></textarea>
      <div class="row">
        <div class="col-md-6">
          <div class="checkbox">
            <br>
            <label>
              <input type="checkbox" value="">Featured Images must be your's</label>
          </div>
        </div>
        <div class="col-md-6">
        </div>
      </div>
      <br>
      <label for="title3">Enter the set of keywords you want this post to rank for:</label>
      <input class="form-control input-lg text-inner-input ct-u-text--dark ct-u-marginBottom10" type="text" placeholder="Write your free Articles"
        required="">
      <br>
      <br>
      <div class="row">
        <div class="col-md-6">
          <input class="form-control input-lg text-inner-input ct-u-text--dark ct-u-marginBottom10" type="text" placeholder="Author"
            required="">
        </div>
        <div class="col-md-6">
          <input class="form-control input-lg text-inner-input ct-u-text--dark ct-u-marginBottom10" type="text" placeholder="Time And Date"
            required="">
        </div>
      </div>
      <br>
      <label for="title4">Your Service Area Name</label>
      <textarea cols="43" rows="6" class="form-control input-lg text-inner-input ct-u-text--dark ct-u-marginBottom10" type="text"
        placeholder="" required=""></textarea>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="">I Understand my Post will be subject to final moderation</label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="">I Understand my Post will rejected if found copied from elsewhere</label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="">Terms and Conditions</label>
      </div>
      <br>
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
          <button type="button" class="btn btn-success btn-block">Submit</button>
        </div>
      </div>
      <br>
      <h3>Or, Just Order Article of your choice only at $20, original as you.</h3>
      <br>
      <div class="row">
        <div class="col-md-12">
          <header class="ct-mediaSection" data-stellar-background-ratio="0.3" data-height="140" data-type="parallax" data-bg-image="assets/images/content/agency-parallax.jpg"
            data-bg-image-mobile="assets/images/content/agency-parallax.jpg" style="min-height: 140px; height: 140px; background-image: url(&quot;assets/images/content/agency-parallax.jpg&quot;); background-position: 50% 379.8px;">
            <div class="ct-mediaSection-inner">
              <h3 class="text-uppercase ct-u-text--white" align="center">Encapsulate Technologies</h3>
            </div>
          </header>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-4">
          <div class="select2-container ct-js-select ct-select-lg" id="s2id_autogen13">
            <a  class="select2-choice" tabindex="-1">
              <span class="select2-chosen" id="select2-chosen-14">Pay Via?</span>
              <abbr class="select2-search-choice-close"></abbr>
              <span class="select2-arrow" role="presentation">
                <b role="presentation"></b>
              </span>
            </a>
            <label for="s2id_autogen14" class="select2-offscreen"></label>
            <input class="select2-focusser select2-offscreen" type="text" aria-haspopup="true" role="button" aria-labelledby="select2-chosen-14"
              id="s2id_autogen14">
            <div class="select2-drop select2-display-none select2-with-searchbox">
              <div class="select2-search">
                <label for="s2id_autogen14_search" class="select2-offscreen"></label>
                <input type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
                  class="select2-input" role="combobox" aria-expanded="true" aria-autocomplete="list" aria-owns="select2-results-14"
                  id="s2id_autogen14_search" placeholder=""> </div>
              <ul class="select2-results" role="listbox" id="select2-results-14"> </ul>
            </div>
          </div>
          <select class="ct-js-select ct-select-lg" tabindex="-1" title="" style="display: none;">
            <option>Pay Via?</option>
            <option>Paypal</option>
            <option>C C</option>
            <option>Bank Transfer</option>
          </select>
        </div>
      </div>
      <br>
      <br>
      <div class="row">
        <div class="col-md-4">
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">Check me out</label>
          </div>
        </div>
        <div class="col-md-4">
          <button type="button" class="btn btn-success btn-block">Pay</button>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
</div>
