


	<section><br><br>
		<div class="container">
			<br><br><br><br><br><br>
			<div class="row">
				<div class="col-md-4">
					<div class="card">
					  <div class="card-header">
					    <i class="fa fa-user font-today-dash">
					    	<span> &nbsp;VIEW PROFILE</span>
					    </i>
					     <a routerLink="edit-profile" class="btn btn-warning pull-right btn-sm">
					     	<i class="fa fa-edit"></i>
					     </a><br>
					  </div>
					  <div class="card-body">
					    <blockquote class="blockquote">
					      <img src="assets/images/profile-snap.jpg" class="img-dash-pro center-block"><br>
					      <a routerLink="agents" class="btn btn-warning mt-3 d-block mx-auto btn-block">OUR AGENTS</a>
					      <a routerLink="services" class="btn btn-warning mt-3 d-block mx-auto btn-block">OUR SERVICES</a>
					    </blockquote>
					  </div>
					</div><br>
					<div class="card">
					  <div class="card-header">
					    <i class="fa fa-envelope-o font-today-dash">
					    	<span> &nbsp;POST A BLOG</span>
					    </i>
					  </div>
					  <div class="card-body">
					    <blockquote class="blockquote mb-0">
					       <a routerLink="/blog/add-blog" class="btn btn-warning btn-block">Create New Blog</a>
					       <a routerLink="/blog/my-blogs" class="btn btn-warning btn-block">My Blogs</a>
					       <a routerLink="/blog" class="btn btn-warning btn-block">Our Articles</a>	
					    </blockquote>
					  </div>
					</div><br>
				</div>
				<div class="col-md-4">
					<div class="card">
					  <div class="card-header">
					    <i class="fa fa-book font-today-dash mt-2">
					    	<span> &nbsp;BOOKINGS</span>
					    </i>
					    <a routerLink="view-bookings" class="btn btn-warning pull-right btn-sm">View</a>
					  </div>
					  <div class="card-body">
					    <blockquote class="blockquote1">
					    	    <h4 class="text-center mt-3">May 9th 2018 - Mr. X</h4>
					    	    <p class="text-center">Time : 2pm</p><br>
					    	    <a routerLink="add-booking" class="btn btn-warning btn-block">+ Bookings</a>
					    </blockquote>
					  </div>
					</div><br>
					<div class="card">
					  <div class="card-header">
					    <i class="fa fa-gift font-today-dash">
					    	<span> &nbsp;CHARITY SUPPORT</span>
					    </i>
					  </div>
					  <div class="card-body">
					    <blockquote class="blockquote1 mb-0">
					       <div class="row">
                               <div class="col-md-12">
                                    <h3>Charity Support</h3><br>
                                    <input class="form-control input-lg text-inner-input ct-u-marginBottom10" type="text" placeholder="Donater's Name" required>
                                    <input class="form-control input-lg text-inner-input ct-u-marginBottom10" type="email" placeholder="Website Address" required>
                                    <label class="custom-file">
									  <input type="file" id="file" style="font-size: 12px;">
									  <span class="custom-file-control"></span>
									</label>                                   
                                    <a routerLink="charity-view" class="btn btn-warning btn-block">+ View More</a>
                                </div>
                           </div>
					    </blockquote>
					  </div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card">
					  <div class="card-header">
					    <i class="fa fa-bullhorn font-today-dash">
					    	<span> &nbsp;WHAT'S NEW</span>
					    </i>
					  </div>
					  <div class="card-body">
					    <blockquote class="blockquote mb-0">
					    	    <h4>Support the community!</h4>
					    	    <p class="mt-1">Post your templates in our new Template Center. Foster knowledge sharing and build up the industry as a whole4<a href=""> <b>Read More</b></a></p>
					    	    <h5 class="mt-4">Custom text on your invoices</h5>
					    	    <p class="mt-1">Add more info to your invoices<a href=""> <b>Read More</b></a></p>
					    	    <h5 class="mt-4">Google Drive Backups</h5>
					    	    <p class="mt-1 mb-5">Autmatically backup your inspection data to your Google Drive account.<a href=""> <b>Read More</b></a></p><hr>
					    	    <p>Check out feature additions you might have missed at our<a href=""> <b>Development Blog</b></a></p>
					    </blockquote>
					  </div>
					</div><br>
					<div class="card">
					  <div class="card-header">
					    <i class="fa fa-envelope mt-2 font-today-dash">
					    	<span> &nbsp;HBL BOARD</span>
					    </i>
					    <a routerLink="hbl-box" class="btn btn-warning pull-right btn-sm">View</a>
					  </div>
					  <div class="card-body">
					    <blockquote class="blockquote mb-0">
					    	 <p>Click <a routerLink="hbl-box"><b>View</b></a> to see the HBL Board </p>
					    </blockquote>
					  </div>
					</div>
				</div>
			</div><br>
			<div class="row">
				<div class="col-md-8">
					<div class="card">
					  <div class="card-header">
					    <i class="fa fa-calendar-o font-today-dash">
					    	<span> &nbsp;SCHEDULE</span>
					    </i>
					  </div>
					  <div class="card-body">
					    <blockquote class="blockquote mb-3">
					       <div class="row">
					       	  <div class="col-md-3">
					       	  	 <h4>May 24, 2018</h4>
					       	  </div>
					       	  <div class="col-md-offset-1 col-md-8">
					       	  	  <a class="btn btn-warning">
					       	  	  	<span class="fa fa-angle-left"></span>
					       	  	  </a>
					       	  	  <a class="btn btn-warning">
					       	  	  	<span class="fa fa-angle-right"></span>
					       	  	  </a>
					       	  	  <a href="forn-new.html" class="btn btn-warning">ADD</a>
					       	  	  <div class="btn-group btn-group-md" role="group" aria-label="Basic example">
									  <a class="btn btn-warning">Day</a>
									  <a class="btn btn-warning">Week</a>
									  <a class="btn btn-warning">Month</a>
								  </div>
							</div>
					       </div><br>
					       <div class="row mt-3">
					       	<div class="col-md-12 table-responsive">
					       		<table class="table">
								  <thead>
								    <tr>
								      <th>Inspectors</th>
								      <th>9am</th>
								      <th>10am</th>
								      <th>11am</th>
								      <th>12am</th>
								      <th>1pm</th>
								      <th>2pm</th>
								      <th>3pm</th>
								      <th>4pm</th>
								      <th>5pm</th>
								      <th>6pm</th>
								      <th>7pm</th>
								      <th>8pm</th>
								    </tr>
								  </thead>
								  <tbody>
								    <tr>
								      <td class="tab-txt-fnt">Banti</td >
								      <td class="tab-txt-fnt">Arrived</td >
								      <td class="tab-txt-fnt">Meeting</td >
								      <td class="tab-txt-fnt">Coding</td >
								      <td class="tab-txt-fnt">C++</td >
								      <td class="tab-txt-fnt">Visual</td >
								      <td class="tab-txt-fnt">Marketing</td >
								      <td class="tab-txt-fnt">Sublime</td >
								      <td class="tab-txt-fnt">Angular</td >
								      <td class="tab-txt-fnt">Node</td >
								      <td class="tab-txt-fnt">Laravel</td >
								      <td class="tab-txt-fnt">Hiring</td >
								      <td class="tab-txt-fnt">End</td >
								    </tr>
								    <tr>
								       <td class="tab-txt-fnt">Banti</td >
								      <td class="tab-txt-fnt">Arrived</td >
								      <td class="tab-txt-fnt">Meeting</td >
								      <td class="tab-txt-fnt">Coding</td >
								      <td class="tab-txt-fnt">C++</td >
								      <td class="tab-txt-fnt">Visual</td >
								      <td class="tab-txt-fnt">Marketing</td >
								      <td class="tab-txt-fnt">Sublime</td >
								      <td class="tab-txt-fnt">Angular</td >
								      <td class="tab-txt-fnt">Node</td >
								      <td class="tab-txt-fnt">Laravel</td >
								      <td class="tab-txt-fnt">Hiring</td >
								      <td class="tab-txt-fnt">End</td >
								    </tr>
								    <tr>
								       <td class="tab-txt-fnt">Banti</td >
								      <td class="tab-txt-fnt">Arrived</td >
								      <td class="tab-txt-fnt">Meeting</td >
								      <td class="tab-txt-fnt">Coding</td >
								      <td class="tab-txt-fnt">C++</td >
								      <td class="tab-txt-fnt">Visual</td >
								      <td class="tab-txt-fnt">Marketing</td >
								      <td class="tab-txt-fnt">Sublime</td >
								      <td class="tab-txt-fnt">Angular</td >
								      <td class="tab-txt-fnt">Node</td >
								      <td class="tab-txt-fnt">Laravel</td >
								      <td class="tab-txt-fnt">Hiring</td >
								      <td class="tab-txt-fnt">End</td >
								    </tr>
								    <tr>
								       <td class="tab-txt-fnt">Banti</td >
								      <td class="tab-txt-fnt">Arrived</td >
								      <td class="tab-txt-fnt">Meeting</td >
								      <td class="tab-txt-fnt">Coding</td >
								      <td class="tab-txt-fnt">C++</td >
								      <td class="tab-txt-fnt">Visual</td >
								      <td class="tab-txt-fnt">Marketing</td >
								      <td class="tab-txt-fnt">Sublime</td >
								      <td class="tab-txt-fnt">Angular</td >
								      <td class="tab-txt-fnt">Node</td >
								      <td class="tab-txt-fnt">Laravel</td >
								      <td class="tab-txt-fnt">Hiring</td >
								      <td class="tab-txt-fnt">End</td >
								    </tr>
								    <tr>
								       <td class="tab-txt-fnt">Banti</td >
								      <td class="tab-txt-fnt">Arrived</td >
								      <td class="tab-txt-fnt">Meeting</td >
								      <td class="tab-txt-fnt">Coding</td >
								      <td class="tab-txt-fnt">C++</td >
								      <td class="tab-txt-fnt">Visual</td >
								      <td class="tab-txt-fnt">Marketing</td >
								      <td class="tab-txt-fnt">Sublime</td >
								      <td class="tab-txt-fnt">Angular</td >
								      <td class="tab-txt-fnt">Node</td >
								      <td class="tab-txt-fnt">Laravel</td >
								      <td class="tab-txt-fnt">Hiring</td >
								      <td class="tab-txt-fnt">End</td >
								    </tr>
								    </tbody>
								</table>
					       	</div>
					       </div>
					    </blockquote>
					  </div>
					</div>
			
					<div class="row">
						<div class="col-md-12">
							<div class="card">
								<div class="card-header">
									<i class="fa fa-align-left font-today-dash mt-2">
										<span> &nbsp;IN-PROGRESS</span>
									</i>
									<a class="btn btn-warning pull-right btn-sm">ALL INSPECTIONS</a>
								</div>
								<div class="card-body">
									<blockquote class="blockquote mb-0">
										 <p>No incomplete inspections. Way to be on top of things!</p>
									</blockquote>
								</div>
							</div>
						</div>
					</div>
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
				</div>
				<div class="col-md-4">
					<div class="card">
					  <div class="card-header">
					    <i class="fa fa-gear font-today-dash mt-2">
					    	<span> &nbsp;SETTINGS</span>
					    </i>
					    <a routerLink="settings" class="btn btn-warning pull-right btn-sm">
					    	<i class="fa fa-edit"></i>
					    </a>
					  </div>
					  <div class="card-body">
					    <blockquote class="blockquote">
					    	<p>Adjust your site's general settings, including modifying your site's title and description, as well as determining</p>
					    </blockquote>
					  </div>
					</div><br>
					<div class="card">
					  <div class="card-header">
					    <i class="fa fa-heart font-today-dash mt-2 txt-fav">
					    	<span> &nbsp;MY FAVOURITES</span>
					    </i>
							<a routerLink="my-favourites"
							 class="btn btn-warning pull-right btn-sm">View</a>
					  </div>
					  <div class="card-body">
					    <blockquote class="blockquote">
					    	<p>View the Favourites Listings.</p>
					    </blockquote>
					  </div>
					</div>
					<br>
					<br>
					<div class="card">
					  <div class="card-header">
					    <i class="fa fa-check-square-o font-today-dash">
					    	<span> &nbsp;Suggest a Professional</span>
					    </i>
					  </div>
					  <div class="card-body">
					    <blockquote class="blockquote">
					    	<div class="row">
                                <div class="col-md-12">
                                    <input class="form-control input-lg text-inner-input ct-u-marginBottom10" type="text" placeholder="Suggest to" required="">
                                    <input class="form-control input-lg text-inner-input ct-u-marginBottom10" type="text" placeholder="Professional Name" required="">
                                    <input class="form-control input-lg text-inner-input ct-u-marginBottom10" type="text" placeholder="Professional Email" required="">
                                    <a href="#" class="btn btn-warning mt-3 pull-right">Send</a>
                                </div>
                            </div>
					    </blockquote>
					  </div>
					</div>
				</div>
			</div><br>
		<br>
			<div class="row">
				<div class="col-md-4">
					<div class="card">
					  <div class="card-header">
					    <i class="fa fa-soccer-ball-o font-today-dash">
					    	<span> &nbsp;SUPPORT / FAQ</span>
					    </i>
					  </div>
					  <div class="card-body">
					    <blockquote class="blockquote mb-0">
					       <h5 class="mb-1">Ask the community</h5>
					       <a href="">
						       	<i class="fa fa-slack">
						       		<span> Slack User Group</span>
						       	</i>
					       </a><br>
					       <a href="">
						       	<i class="fa fa-facebook">
						       		<span> Spectora User Group</span>
						       	</i>
					       </a><br><br>
					       <a routerLink="/faq" class="btn btn-warning btn-block mt-4">FAQ's</a>
					    </blockquote>
					  </div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card">
					  <div class="card-header">
					    <i class="fa fa-user-plus font-today-dash">
					    	<span> &nbsp;INVITE</span>
					    </i>
					  </div>
					  <div class="card-body">
					    <blockquote class="blockquote">
					    	<div class="row">
                                <div class="col-md-12">
                                    <input class="form-control input-lg text-inner-input ct-u-marginBottom10" type="text" placeholder="Enter Name" required>
                                    <input class="form-control input-lg text-inner-input ct-u-marginBottom10" type="email" placeholder="Email Address" required>
                                    <a href="#" class="btn btn-warning mt-3 d-block mx-auto btn-block">Invite</a>
                                </div>
                            </div>
					    </blockquote>
					  </div>
					</div>
				</div>
			</div><br>
		</div>
	</section>
