<br>
<br>
<br>
<br>
<div class="container">
  <br>
  <br>
  <br>
  <br>
  <div class="row">
    <div class="col-md-3" style="border: 1px solid #c0d0da7d;">
      <br>
      <div class="container">
        <div class="row">
          <div class="col-md-2">
            <h3 align="left">All Messages</h3>
          </div>
          <div class="col-md-2">
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#Modal-side">
              <i class="fa fa-plus"></i>
            </button>
            <div class="modal fade" id="Modal-side" role="dialog">
              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content" style="margin-top: 30%;max-width:91%;">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 class="modal-title">Add Members</h4>
                  </div>
                  <div class="modal-body">
                    <p>Search As:</p>
                    <div class="example example_markup">
                      <div>
                        <div class="bootstrap-tagsinput">
                          <input type="text" placeholder="">
                        </div>
                        <input type="text" class="form-control" id="fname" data-role="tagsinput" style="display: none;">
                      </div>
                      <div class="accordion">
                        <div class="accordion-group">
                          <div id="accordion_example_markup" class="accordion-body collapse">
                            <div class="accordion-inner highlight">
                              <pre>                                                                <code data-language="html">&lt;input type="text" value="Amsterdam,Washington,Sydney,Beijing,Cairo" data-role="tagsinput" /&gt;</code>
                                                         </pre>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <br>
                    <h5>Invite Professional</h5>
                    <br>
                    <div class="row">
                      <div class="col-md-2">
                        <p style="padding-top: 7px;">Email</p>
                      </div>
                      <div class="col-md-7">
                        <input type="email" name="email" placeholder="Email Address" class="form-control">
                      </div>
                      <div class="col-md-2">
                        <button type="button" class="btn btn-success">Invite</button>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row back-white-clor2">
        <div class="col-md-2">
          <i class="fa fa-user fa-3x user-pic1"></i>
        </div>
        <div class="col-md-10 text10">
          <br>
          <a href="">
            <h5 class="text11">Michael H.</h5>
          </a>
          <p class="text12">Well, have a good day!</p>
        </div>
      </div>
      <div class="row back-white-clor1">
        <div class="col-md-2">
          <i class="fa fa-user fa-3x user-pic1"></i>
        </div>
        <div class="col-md-10 text10">
          <br>
          <a href="">
            <h5 class="text11">Michael H.</h5>
          </a>
          <p class="text12">Well, have a good day!</p>
        </div>
      </div>
      <div class="row back-white-clor2">
        <div class="col-md-2">
          <i class="fa fa-user fa-3x user-pic1"></i>
        </div>
        <div class="col-md-10 text10">
          <br>
          <a href="">
            <h5 class="text11">Michael H.</h5>
          </a>
          <p class="text12">Well, have a good day!</p>
        </div>
      </div>
      <div class="row back-white-clor1">
        <div class="col-md-2">
          <i class="fa fa-user fa-3x user-pic1"></i>
        </div>
        <div class="col-md-10 text10">
          <br>
          <a href="">
            <h5 class="text11">William Lawyer</h5>
          </a>
          <p class="text12">Good to see you again</p>
        </div>
      </div>
      <div class="row back-white-clor2">
        <div class="col-md-2">
          <i class="fa fa-user fa-3x user-pic1"></i>
        </div>
        <div class="col-md-10 text10">
          <br>
          <a href="">
            <h5 class="text11">Michael H.</h5>
          </a>
          <p class="text12">Well, have a good day!</p>
        </div>
      </div>
      <div class="row back-white-clor1">
        <div class="col-md-2">
          <i class="fa fa-user fa-3x user-pic1"></i>
        </div>
        <div class="col-md-10 text10">
          <br>
          <a href="">
            <h5 class="text11">William Lawyer</h5>
          </a>
          <p class="text12">Good to see you again</p>
        </div>
      </div>
      <div class="row back-white-clor2">
        <div class="col-md-2">
          <i class="fa fa-user fa-3x user-pic1"></i>
        </div>
        <div class="col-md-10 text10">
          <br>
          <a href="">
            <h5 class="text11">Michael H.</h5>
          </a>
          <p class="text12">Well, have a good day!</p>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <br>
      <div class="row">
        <div class="col-md-3">
          <h3 class="text-margn">Michael H.</h3>
        </div>
        <div class="col-md-2 col-md-offset-7">
          <a href="" class="btn btn-success" data-toggle="modal" data-target="#modalMembers">Create Team</a>
          <div class="modal fade" id="modalMembers" role="dialog">
            <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content" style="margin-top: 23%;max-width:91%;">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">×</button>
                  <h4 class="modal-title">Create Team</h4>
                </div>
                <div class="modal-body">
                  <div role="tabpanel">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs nav-justified" role="tablist" style="font-size: 12px;">
                      <li role="presentation" class="active">
                        <a href="#history3" aria-controls="history3" role="tab" data-toggle="tab">Real Estate Agent</a>
                      </li>
                      <li role="presentation">
                        <a href="#vision3" aria-controls="vision3" role="tab" data-toggle="tab">Mortgage Advisor</a>
                      </li>
                      <li role="presentation">
                        <a href="#mission3" aria-controls="mission3" role="tab" data-toggle="tab">Building Inspector</a>
                      </li>
                      <li role="presentation">
                        <a href="#mission37" aria-controls="mission37" role="tab" data-toggle="tab">Real Estate Lawyer</a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                    <!-- Tab panes -->
                    <div class="tab-content tab-content--withBorder">
                      <div role="tabpanel" class="tab-pane active" id="history3">
                        <p>Search As:</p>
                        <div class="example example_markup">
                          <div>
                            <div class="bootstrap-tagsinput">
                              <input type="text" placeholder="">
                            </div>
                            <input type="text" class="form-control" id="fname" data-role="tagsinput" style="display: none;">
                          </div>
                          <div class="accordion">
                            <div class="accordion-group">
                              <div id="accordion_example_markup" class="accordion-body collapse">
                                <div class="accordion-inner highlight">
                                  <pre>                                                              <code data-language="html">&lt;input type="text" value="Amsterdam,Washington,Sydney,Beijing,Cairo" data-role="tagsinput" /&gt;</code>
                                                       </pre>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <br>
                        <h5>Invite Professional</h5>
                        <br>
                        <div class="row">
                          <div class="col-md-2">
                            <p style="padding-top: 7px;">Email</p>
                          </div>
                          <div class="col-md-7">
                            <input type="email" name="email" placeholder="Email Address" class="form-control">
                          </div>
                          <div class="col-md-2">
                            <button type="button" class="btn btn-success">Invite</button>
                          </div>
                        </div>
                      </div>
                      <div role="tabpanel" class="tab-pane" id="vision3">
                        <p>Search As:</p>
                        <div class="example example_markup">
                          <div>
                            <div class="bootstrap-tagsinput">
                              <input type="text" placeholder="">
                            </div>
                            <input type="text" class="form-control" id="fname" data-role="tagsinput" style="display: none;">
                          </div>
                          <div class="accordion">
                            <div class="accordion-group">
                              <div id="accordion_example_markup" class="accordion-body collapse">
                                <div class="accordion-inner highlight">
                                  <pre>                                                              <code data-language="html">&lt;input type="text" value="Amsterdam,Washington,Sydney,Beijing,Cairo" data-role="tagsinput" /&gt;</code>
                                                       </pre>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <br>
                        <h5>Invite Professional</h5>
                        <br>
                        <div class="row">
                          <div class="col-md-2">
                            <p style="padding-top: 7px;">Email</p>
                          </div>
                          <div class="col-md-7">
                            <input type="email" name="email" placeholder="Email Address" class="form-control">
                          </div>
                          <div class="col-md-2">
                            <button type="button" class="btn btn-success">Invite</button>
                          </div>
                        </div>
                      </div>
                      <div role="tabpanel" class="tab-pane" id="mission3">
                        <p>Search As:</p>
                        <div class="example example_markup">
                          <div>
                            <div class="bootstrap-tagsinput">
                              <input type="text" placeholder="">
                            </div>
                            <input type="text" class="form-control" id="fname" data-role="tagsinput" style="display: none;">
                          </div>
                          <div class="accordion">
                            <div class="accordion-group">
                              <div id="accordion_example_markup" class="accordion-body collapse">
                                <div class="accordion-inner highlight">
                                  <pre>                                                              <code data-language="html">&lt;input type="text" value="Amsterdam,Washington,Sydney,Beijing,Cairo" data-role="tagsinput" /&gt;</code>
                                                       </pre>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <br>
                        <h5>Invite Professional</h5>
                        <br>
                        <div class="row">
                          <div class="col-md-2">
                            <p style="padding-top: 7px;">Email</p>
                          </div>
                          <div class="col-md-7">
                            <input type="email" name="email" placeholder="Email Address" class="form-control">
                          </div>
                          <div class="col-md-2">
                            <button type="button" class="btn btn-success">Invite</button>
                          </div>
                        </div>
                      </div>
                      <div role="tabpanel" class="tab-pane" id="mission37">
                        <p>Search As:</p>
                        <div class="example example_markup">
                          <div>
                            <div class="bootstrap-tagsinput">
                              <input type="text" placeholder="">
                            </div>
                            <input type="text" class="form-control" id="fname" data-role="tagsinput" style="display: none;">
                          </div>
                          <div class="accordion">
                            <div class="accordion-group">
                              <div id="accordion_example_markup" class="accordion-body collapse">
                                <div class="accordion-inner highlight">
                                  <pre>                                                              <code data-language="html">&lt;input type="text" value="Amsterdam,Washington,Sydney,Beijing,Cairo" data-role="tagsinput" /&gt;</code>
                                                       </pre>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <br>
                        <h5>Invite Professional</h5>
                        <br>
                        <div class="row">
                          <div class="col-md-2">
                            <p style="padding-top: 7px;">Email</p>
                          </div>
                          <div class="col-md-7">
                            <input type="email" name="email" placeholder="Email Address" class="form-control">
                          </div>
                          <div class="col-md-2">
                            <button type="button" class="btn btn-success">Invite</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="back-white-clor1">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-1">
                <i class="fa fa-user fa-3x"></i>
              </div>
              <div class="col-md-11">
                <small class="pull-right">4th May, 2018</small>
                <h5 class="text11">Michael H.</h5>
                <p class="text12">Hey! How's you?</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="back-white-clor2">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-1">
                <i class="fa fa-user fa-3x"></i>
              </div>
              <div class="col-md-11">
                <h5 class="text11">Me</h5>
                <p class="text12">I'm good! What about me?</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="back-white-clor1">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-1">
                <i class="fa fa-user fa-3x"></i>
              </div>
              <div class="col-md-11">
                <h5 class="text11">Michael H.</h5>
                <p class="text12">Hey! How's you?</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="back-white-clor2">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-1">
                <i class="fa fa-user fa-3x"></i>
              </div>
              <div class="col-md-11">
                <h5 class="text11">Me</h5>
                <p class="text12">I'm good! What about me?</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="back-white-clor1">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-1">
                <i class="fa fa-user fa-3x"></i>
              </div>
              <div class="col-md-9">
                <h5 class="text11">Michael H.</h5>
                <p class="text12">Hey! How's you?</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="back-white-clor2">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-1">
                <i class="fa fa-user fa-3x"></i>
              </div>
              <div class="col-md-11">
                <h5 class="text11">Me</h5>
                <p class="text12">I'm good! What about me?</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="back-white-clor3">
        <div class="row">
          <div class="col-md-12">
            <textarea class="form-control" id="textare-border" rows="7" placeholder="Type your message here..."></textarea>
            <div class="back-white-clor4">

              <div class="row">
                <div class="col-md-1">
                  <small class="text16">0/2500</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-offset-9 col-md-3">
          <button type="button" class="btn btn-primary pull-right">Send Message</button>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
</div>
