<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h3>My Blogs</h3>
    <br>
    <table class="table table-hover table-responsive">
      <thead>
        <tr>
          <th>#</th>
          <th>Blog Title</th>
          <th>Content</th>
          <th>Date Added</th>
          <th>Edit</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Blog 1</td>
          <td>content 1</td>
          <td>9th May, 2018</td>
          <td>
            <button type="button" class="btn btn-info delete-board-btn" data-toggle="modal" data-target="#myModal1">Edit</button>
            <div class="modal fade" id="myModal1" role="dialog">
              <div class="modal-dialog" style="width: 60%;">

                <!-- Modal content-->
                <div class="modal-content" style="margin-top:20%;width: 100%;">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 class="modal-title">Edit Blog</h4>
                  </div>
                  <div class="modal-body">
                    <div class="container">
                      <div class="row">
                        <div class="col-md-7">
                          <input class="form-control input-lg text-inner-input ct-u-text--dark ct-u-marginBottom10" type="text" placeholder="Write your free Articles"
                            required="">
                          <br>
                          <br>
                          <label for="title">Post Title</label>
                          <input class="form-control input-lg text-inner-input ct-u-text--dark ct-u-marginBottom10" type="text" placeholder="SEO Title"
                            required="">
                          <br>
                          <label for="title1">Content</label>
                          <textarea cols="43" rows="6" class="form-control input-lg text-inner-input ct-u-text--dark ct-u-marginBottom10" type="text"
                            placeholder="Description Here" required=""></textarea>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="checkbox">
                                <br>
                                <label>
                                  <input type="checkbox" value="">Featured Images must be your's</label>
                              </div>
                            </div>
                            <div class="col-md-6">
                            </div>
                          </div>
                          <br>
                          <label for="title3">Enter the set of keywords you want this post to rank for:</label>
                          <input class="form-control input-lg text-inner-input ct-u-text--dark ct-u-marginBottom10" type="text" placeholder="Write your free Articles"
                            required="">
                          <br>
                          <br>
                          <div class="row">
                            <div class="col-md-6">
                              <input class="form-control input-lg text-inner-input ct-u-text--dark ct-u-marginBottom10" type="text" placeholder="Author"
                                required="">
                            </div>
                            <div class="col-md-6">
                              <input class="form-control input-lg text-inner-input ct-u-text--dark ct-u-marginBottom10" type="text" placeholder="Time And Date"
                                required="">
                            </div>
                          </div>
                          <br>
                          <label for="title4">Your Service Area Name</label>
                          <textarea cols="43" rows="6" class="form-control input-lg text-inner-input ct-u-text--dark ct-u-marginBottom10" type="text"
                            placeholder="" required=""></textarea>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="">I Understand my Post will be subject to final moderation</label>
                          </div>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="">I Understand my Post will rejected if found copied from elsewhere</label>
                          </div>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="">Terms and Conditions</label>
                          </div>
                          <br>
                          <div class="row">
                            <div class="col-md-4">
                              <div class="select2-container ct-js-select ct-select-lg" id="s2id_autogen13">
                                <a href="javascript:void(0)" class="select2-choice" tabindex="-1">
                                  <span class="select2-chosen" id="select2-chosen-14">Pay Via?</span>
                                  <abbr class="select2-search-choice-close"></abbr>
                                  <span class="select2-arrow" role="presentation">
                                    <b role="presentation"></b>
                                  </span>
                                </a>
                                <label for="s2id_autogen14" class="select2-offscreen"></label>
                                <input class="select2-focusser select2-offscreen" type="text" aria-haspopup="true"
                                  role="button" aria-labelledby="select2-chosen-14" id="s2id_autogen14">
                                <div class="select2-drop select2-display-none select2-with-searchbox">
                                  <div class="select2-search">
                                    <label for="s2id_autogen14_search" class="select2-offscreen"></label>
                                    <input type="text" autocomplete="off" autocorrect="off" autocapitalize="off"
                                      spellcheck="false" class="select2-input" role="combobox" aria-expanded="true" aria-autocomplete="list"
                                      aria-owns="select2-results-14" id="s2id_autogen14_search" placeholder=""> </div>
                                  <ul class="select2-results" role="listbox" id="select2-results-14"> </ul>
                                </div>
                              </div>
                              <select class="ct-js-select ct-select-lg" tabindex="-1" title="" style="display: none;">
                                <option>Pay Via?</option>
                                <option>Paypal</option>
                                <option>C C</option>
                                <option>Bank Transfer</option>
                              </select>
                            </div>
                          </div>
                          <br>
                          <br>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Save Changes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>

              </div>
            </div>
            <button type="button" class="btn btn-danger delete-board-btn">Delete</button>
          </td>
        </tr>
        <tr>
          <td>2</td>
          <td>Blog 2</td>
          <td>content 2</td>
          <td>9th May, 2018</td>
          <td>
            <button type="button" class="btn btn-info delete-board-btn" data-toggle="modal" data-target="#myModal2">Edit</button>
            <div class="modal fade" id="myModal2" role="dialog">
              <div class="modal-dialog" style="width: 60%;">

                <!-- Modal content-->
                <div class="modal-content" style="margin-top:20%;width: 100%;">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 class="modal-title">Edit Blog</h4>
                  </div>
                  <div class="modal-body">
                    <div class="container">
                      <div class="row">
                        <div class="col-md-7">
                          <input class="form-control input-lg text-inner-input ct-u-text--dark ct-u-marginBottom10" type="text" placeholder="Write your free Articles"
                            required="">
                          <br>
                          <br>
                          <label for="title">Post Title</label>
                          <input class="form-control input-lg text-inner-input ct-u-text--dark ct-u-marginBottom10" type="text" placeholder="SEO Title"
                            required="">
                          <br>
                          <label for="title1">Content</label>
                          <textarea cols="43" rows="6" class="form-control input-lg text-inner-input ct-u-text--dark ct-u-marginBottom10" type="text"
                            placeholder="Description Here" required=""></textarea>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="checkbox">
                                <br>
                                <label>
                                  <input type="checkbox" value="">Featured Images must be your's</label>
                              </div>
                            </div>
                            <div class="col-md-6">
                            </div>
                          </div>
                          <br>
                          <label for="title3">Enter the set of keywords you want this post to rank for:</label>
                          <input class="form-control input-lg text-inner-input ct-u-text--dark ct-u-marginBottom10" type="text" placeholder="Write your free Articles"
                            required="">
                          <br>
                          <br>
                          <div class="row">
                            <div class="col-md-6">
                              <input class="form-control input-lg text-inner-input ct-u-text--dark ct-u-marginBottom10" type="text" placeholder="Author"
                                required="">
                            </div>
                            <div class="col-md-6">
                              <input class="form-control input-lg text-inner-input ct-u-text--dark ct-u-marginBottom10" type="text" placeholder="Time And Date"
                                required="">
                            </div>
                          </div>
                          <br>
                          <label for="title4">Your Service Area Name</label>
                          <textarea cols="43" rows="6" class="form-control input-lg text-inner-input ct-u-text--dark ct-u-marginBottom10" type="text"
                            placeholder="" required=""></textarea>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="">I Understand my Post will be subject to final moderation</label>
                          </div>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="">I Understand my Post will rejected if found copied from elsewhere</label>
                          </div>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="">Terms and Conditions</label>
                          </div>
                          <br>
                          <div class="row">
                            <div class="col-md-4">
                              <div class="select2-container ct-js-select ct-select-lg" id="s2id_autogen15">
                                <a href="javascript:void(0)" class="select2-choice" tabindex="-1">
                                  <span class="select2-chosen" id="select2-chosen-16">Pay Via?</span>
                                  <abbr class="select2-search-choice-close"></abbr>
                                  <span class="select2-arrow" role="presentation">
                                    <b role="presentation"></b>
                                  </span>
                                </a>
                                <label for="s2id_autogen16" class="select2-offscreen"></label>
                                <input class="select2-focusser select2-offscreen" type="text" aria-haspopup="true"
                                  role="button" aria-labelledby="select2-chosen-16" id="s2id_autogen16">
                                <div class="select2-drop select2-display-none select2-with-searchbox">
                                  <div class="select2-search">
                                    <label for="s2id_autogen16_search" class="select2-offscreen"></label>
                                    <input type="text" autocomplete="off" autocorrect="off" autocapitalize="off"
                                      spellcheck="false" class="select2-input" role="combobox" aria-expanded="true" aria-autocomplete="list"
                                      aria-owns="select2-results-16" id="s2id_autogen16_search" placeholder=""> </div>
                                  <ul class="select2-results" role="listbox" id="select2-results-16"> </ul>
                                </div>
                              </div>
                              <select class="ct-js-select ct-select-lg" tabindex="-1" title="" style="display: none;">
                                <option>Pay Via?</option>
                                <option>Paypal</option>
                                <option>C C</option>
                                <option>Bank Transfer</option>
                              </select>
                            </div>
                          </div>
                          <br>
                          <br>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Save Changes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>

              </div>
            </div>
            <button type="button" class="btn btn-danger delete-board-btn">Delete</button>
          </td>
        </tr>
        <tr>
          <td>3</td>
          <td>Blog 3</td>
          <td>content 3</td>
          <td>9th May, 2018</td>
          <td>
            <button type="button" class="btn btn-info delete-board-btn" data-toggle="modal" data-target="#myModal3">Edit</button>
            <div class="modal fade" id="myModal3" role="dialog">
              <div class="modal-dialog" style="width: 60%;">

                <!-- Modal content-->
                <div class="modal-content" style="margin-top:20%;width: 100%;">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 class="modal-title">Edit Blog</h4>
                  </div>
                  <div class="modal-body">
                    <div class="container">
                      <div class="row">
                        <div class="col-md-7">
                          <input class="form-control input-lg text-inner-input ct-u-text--dark ct-u-marginBottom10" type="text" placeholder="Write your free Articles"
                            required="">
                          <br>
                          <br>
                          <label for="title">Post Title</label>
                          <input class="form-control input-lg text-inner-input ct-u-text--dark ct-u-marginBottom10" type="text" placeholder="SEO Title"
                            required="">
                          <br>
                          <label for="title1">Content</label>
                          <textarea cols="43" rows="6" class="form-control input-lg text-inner-input ct-u-text--dark ct-u-marginBottom10" type="text"
                            placeholder="Description Here" required=""></textarea>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="checkbox">
                                <br>
                                <label>
                                  <input type="checkbox" value="">Featured Images must be your's</label>
                              </div>
                            </div>
                            <div class="col-md-6">
                            </div>
                          </div>
                          <br>
                          <label for="title3">Enter the set of keywords you want this post to rank for:</label>
                          <input class="form-control input-lg text-inner-input ct-u-text--dark ct-u-marginBottom10" type="text" placeholder="Write your free Articles"
                            required="">
                          <br>
                          <br>
                          <div class="row">
                            <div class="col-md-6">
                              <input class="form-control input-lg text-inner-input ct-u-text--dark ct-u-marginBottom10" type="text" placeholder="Author"
                                required="">
                            </div>
                            <div class="col-md-6">
                              <input class="form-control input-lg text-inner-input ct-u-text--dark ct-u-marginBottom10" type="text" placeholder="Time And Date"
                                required="">
                            </div>
                          </div>
                          <br>
                          <label for="title4">Your Service Area Name</label>
                          <textarea cols="43" rows="6" class="form-control input-lg text-inner-input ct-u-text--dark ct-u-marginBottom10" type="text"
                            placeholder="" required=""></textarea>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="">I Understand my Post will be subject to final moderation</label>
                          </div>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="">I Understand my Post will rejected if found copied from elsewhere</label>
                          </div>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="">Terms and Conditions</label>
                          </div>
                          <br>
                          <div class="row">
                            <div class="col-md-4">
                              <div class="select2-container ct-js-select ct-select-lg" id="s2id_autogen17">
                                <a href="javascript:void(0)" class="select2-choice" tabindex="-1">
                                  <span class="select2-chosen" id="select2-chosen-18">Pay Via?</span>
                                  <abbr class="select2-search-choice-close"></abbr>
                                  <span class="select2-arrow" role="presentation">
                                    <b role="presentation"></b>
                                  </span>
                                </a>
                                <label for="s2id_autogen18" class="select2-offscreen"></label>
                                <input class="select2-focusser select2-offscreen" type="text" aria-haspopup="true"
                                  role="button" aria-labelledby="select2-chosen-18" id="s2id_autogen18">
                                <div class="select2-drop select2-display-none select2-with-searchbox">
                                  <div class="select2-search">
                                    <label for="s2id_autogen18_search" class="select2-offscreen"></label>
                                    <input type="text" autocomplete="off" autocorrect="off" autocapitalize="off"
                                      spellcheck="false" class="select2-input" role="combobox" aria-expanded="true" aria-autocomplete="list"
                                      aria-owns="select2-results-18" id="s2id_autogen18_search" placeholder=""> </div>
                                  <ul class="select2-results" role="listbox" id="select2-results-18"> </ul>
                                </div>
                              </div>
                              <select class="ct-js-select ct-select-lg" tabindex="-1" title="" style="display: none;">
                                <option>Pay Via?</option>
                                <option>Paypal</option>
                                <option>C C</option>
                                <option>Bank Transfer</option>
                              </select>
                            </div>
                          </div>
                          <br>
                          <br>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Save Changes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>

              </div>
            </div>
            <button type="button" class="btn btn-danger delete-board-btn">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
