<header class="ct-mediaSection" data-stellar-background-ratio="0.3" data-height="140" data-type="parallax" data-bg-image="assets/images/content/agency-parallax.jpg" data-bg-image-mobile="assets/images/content/agency-parallax.jpg" style="min-height: 140px; height: 140px; background-image: url(&quot;assets/images/content/agency-parallax.jpg&quot;); background-position: 50% 50%;">
  <div class="ct-mediaSection-inner">
      <div class="container">
          <div class="ct-u-displayTableVertical">
              <div class="ct-textBox ct-u-text--white ct-u-displayTableCell text-left">
                  <h2 class="text-uppercase">Service Name</h2>
                  <h4 class="text-uppercase">Performed By</h4>
                  <span class="ct-productID ct-fw-600">
                      Service ID: 828219
                  </span>
              </div>
             
          </div>
      </div>
  </div>
</header>





























<section class="ct-u-paddingBottom60">
  <div class="container">
      <div class="ct-productMeta--single text-uppercase">
          <div class="row">
              <div class="col-md-8 col-lg-9">
                  <div class="ct-u-displayTableVertical">
                      <div class="ct-u-displayTableCell text-left">
                          <i class="fa fa-calendar"></i><h6>published on january 11th, 2015</h6>
                      </div>
                      <div class="ct-u-displayTableCell text-left">
                          <i class="fa fa-pencil-square-o"></i><h6>updated on january 12th, 2015 @ 15:45</h6>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="ct-section--products">
          <div class="row">
              <div class="col-md-8">
                  <div class="ct-gallery ct-u-marginBottom30">
                      <div class="ct-owl-controls--type2 owl-carousel owl-theme" data-single="true" data-pagination="false" data-navigation="false" data-snap-ignore="true" id="sync1" style="opacity: 1; display: block;">
                          <div class="owl-wrapper-outer"><div class="owl-wrapper" style="width: 10780px; left: 0px; display: block;"><div class="owl-item" style="width: 770px; opacity: 1;"><div class="item">
                              <img src="assets/images/content/gallery-image-1.jpg" alt="" style="opacity: 1;">
                          </div></div><div class="owl-item" style="width: 770px; opacity: 1;"><div class="item">
                              <img src="assets/images/content/gallery-image-2.jpg" alt="" style="opacity: 1;">
                          </div></div><div class="owl-item" style="width: 770px; opacity: 1;"><div class="item">
                              <img src="assets/images/content/gallery-image-3.jpg" alt="" style="opacity: 1;">
                          </div></div><div class="owl-item" style="width: 770px; opacity: 1;"><div class="item">
                              <img src="assets/images/content/gallery-image-4.jpg" alt="" style="opacity: 1;">
                          </div></div><div class="owl-item" style="width: 770px; opacity: 1;"><div class="item">
                              <img src="assets/images/content/gallery-image-5.jpg" alt="" style="opacity: 1;">
                          </div></div><div class="owl-item" style="width: 770px; opacity: 1;"><div class="item">
                              <img src="assets/images/content/gallery-image-6.jpg" alt="" style="opacity: 1;">
                          </div></div><div class="owl-item" style="width: 770px; opacity: 1;"><div class="item">
                              <img src="assets/images/content/gallery-image-7.jpg" alt="" style="opacity: 1;">
                          </div></div></div></div>
                          
                          
                          
                          
                          
                          
                      </div>
                      <div class="ct-navigationThumbnail">
                          <div class="ct-owl-controls--type3 owl-carousel owl-theme" data-single="false" data-items="5" data-pagination="false" data-snap-ignore="true" id="sync2" style="opacity: 1; display: block;">
                              <div class="owl-wrapper-outer"><div class="owl-wrapper" style="width: 1008px; left: 0px; display: block;"><div class="owl-item synced" style="width: 72px; opacity: 1;"><div class="item">
                                  <img src="assets/images/content/gallery-thumbnail-1.jpg" alt="" style="opacity: 1;">
                              </div></div><div class="owl-item" style="width: 72px; opacity: 1;"><div class="item">
                                  <img src="assets/images/content/gallery-thumbnail-2.jpg" alt="" style="opacity: 1;">
                              </div></div><div class="owl-item" style="width: 72px; opacity: 1;"><div class="item">
                                  <img src="assets/images/content/gallery-thumbnail-3.jpg" alt="" style="opacity: 1;">
                              </div></div><div class="owl-item" style="width: 72px; opacity: 1;"><div class="item">
                                  <img src="assets/images/content/gallery-thumbnail-4.jpg" alt="" style="opacity: 1;">
                              </div></div><div class="owl-item" style="width: 72px; opacity: 1;"><div class="item">
                                  <img src="assets/images/content/gallery-thumbnail-5.jpg" alt="" style="opacity: 1;">
                              </div></div><div class="owl-item" style="width: 72px; opacity: 1;"><div class="item">
                                  <img src="assets/images/content/gallery-thumbnail-6.jpg" alt="" style="opacity: 1;">
                              </div></div><div class="owl-item" style="width: 72px; opacity: 1;"><div class="item">
                                  <img src="assets/images/content/gallery-thumbnail-7.jpg" alt="" style="opacity: 1;">
                              </div></div></div></div>
                              
                              
                              
                              
                              
                              
                          <div class="owl-controls clickable"><div class="owl-buttons"><div class="owl-prev"><i class="fa fa-angle-left"></i></div><div class="owl-next"><i class="fa fa-angle-right"></i></div></div></div></div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-4">
                          <div class="ct-heading ct-u-marginBottom20">
                              <h3 class="text-uppercase">Summary</h3>
                          </div>
                          <div class="ct-u-displayTableVertical ct-productDetails">
                              <div class="ct-u-displayTableRow">
                                  <div class="ct-u-displayTableCell">
                                      <span class="ct-fw-600">Price</span>
                                  </div>
                                  <div class="ct-u-displayTableCell text-right">
                                      <span class="ct-price">$ 1 450 000</span>
                                  </div>
                              </div>
                              <div class="ct-u-displayTableRow">
                                  <div class="ct-u-displayTableCell">
                                      <span class="ct-fw-600">Area</span>
                                  </div>
                                  <div class="ct-u-displayTableCell text-right">
                                      <span>185 m2</span>
                                  </div>
                              </div>
                              <div class="ct-u-displayTableRow">
                                  <div class="ct-u-displayTableCell">
                                      <span class="ct-fw-600">Status</span>
                                  </div>
                                  <div class="ct-u-displayTableCell text-right">
                                      <span>Sale</span>
                                  </div>
                              </div>
                              <div class="ct-u-displayTableRow">
                                  <div class="ct-u-displayTableCell">
                                      <span class="ct-fw-600">Type</span>
                                  </div>
                                  <div class="ct-u-displayTableCell text-right">
                                      <span>House</span>
                                  </div>
                              </div>
                              <div class="ct-u-displayTableRow">
                                  <div class="ct-u-displayTableCell">
                                      <span class="ct-fw-600">Location</span>
                                  </div>
                                  <div class="ct-u-displayTableCell text-right">
                                      <span>San Francisco, CA 55689</span>
                                  </div>
                              </div>
                              <div class="ct-u-displayTableRow">
                                  <div class="ct-u-displayTableCell">
                                      <span class="ct-fw-600">Beds</span>
                                  </div>
                                  <div class="ct-u-displayTableCell text-right">
                                      <span>4</span>
                                  </div>
                              </div>
                              <div class="ct-u-displayTableRow">
                                  <div class="ct-u-displayTableCell">
                                      <span class="ct-fw-600">Baths</span>
                                  </div>
                                  <div class="ct-u-displayTableCell text-right">
                                      <span>2</span>
                                  </div>
                              </div>
                              <div class="ct-u-displayTableRow">
                                  <div class="ct-u-displayTableCell">
                                      <span class="ct-fw-600">Garage</span>
                                  </div>
                                  <div class="ct-u-displayTableCell text-right">
                                      <span>1</span>
                                  </div>
                              </div>
                              <div class="ct-u-displayTableRow">
                                  <div class="ct-u-displayTableCell">
                                      <span class="ct-fw-600">Pool</span>
                                  </div>
                                  <div class="ct-u-displayTableCell text-right">
                                      <span>yes</span>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-8">
                          <div class="ct-heading ct-u-marginBottom20">
                              <h3 class="text-uppercase">Description</h3>
                          </div>
                          <p class="ct-u-marginBottom20">
                              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus. Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere.
                          </p>
                          <div class="ct-heading ct-u-marginBottom20">
                              <h3 class="text-uppercase">Service Details</h3>
                          </div>
                          <div class="ct-u-displayTableVertical ct-productDetails--type2 ct-u-marginBottom20">
                              <div class="ct-u-displayTableCell">
                                  <ul class="list-unstyled">
                                      <li>
                                          <i class="fa fa-check-circle"></i>
                                          <span class="text-capitalize">air conditioning</span>
                                      </li>
                                      <li>
                                          <i class="fa fa-check-circle"></i>
                                          <span class="text-capitalize">ADSL cable</span>
                                      </li>
                                      <li>
                                          <i class="fa fa-check-circle"></i>
                                          <span class="text-capitalize">WiFi</span>
                                      </li>
                                      <li>
                                          <i class="fa fa-times-circle negative"></i>
                                          <span class="text-capitalize">HiFi audio</span>
                                      </li>
                                      <li>
                                          <i class="fa fa-check-circle"></i>
                                          <span class="text-capitalize">fridge</span>
                                      </li>
                                      <li>
                                          <i class="fa fa-check-circle"></i>
                                          <span class="text-capitalize">grill</span>
                                      </li>
                                  </ul>
                              </div>
                              <div class="ct-u-displayTableCell">
                                  <ul class="list-unstyled">
                                      <li>
                                          <i class="fa fa-check-circle"></i>
                                          <span class="text-capitalize">Full HD TV</span>
                                      </li>
                                      <li>
                                          <i class="fa fa-times-circle negative"></i>
                                          <span class="text-capitalize">Digital antenna</span>
                                      </li>
                                      <li>
                                          <i class="fa fa-check-circle"></i>
                                          <span>Kitchen with Island</span>
                                      </li>
                                      <li>
                                          <i class="fa fa-times-circle negative"></i>
                                          <span class="text-capitalize">exotic garden</span>
                                      </li>
                                      <li>
                                          <i class="fa fa-times-circle negative"></i>
                                          <span class="text-capitalize">guest house</span>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="widget ct-widget--calculator">
                      <div class="widget-inner">
                          <form role="form" class="ct-form--darkStyle">
                              <div class="form-group">
                                  <div class="ct-form--label--type2">
                                      <div class="ct-u-displayTableVertical">
                                          <div class="ct-u-displayTableCell">
                                              <div class="ct-input-group-btn">
                                                  <button class="btn btn-primary">
                                                      <i class="fa fa-wrench"></i>
                                                  </button>
                                              </div>
                                          </div>
                                          <div class="ct-u-displayTableCell text-center">
                                              <span class="text-uppercase">About Service</span>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="ct-form--item">
                                      <label>Service Price ($)</label>
                                      <input type="text" required="" class="form-control input-lg" disabled="" placeholder="Any" value="$200">
                                  </div>
                                  <div class="ct-form--item">
                                      <label>Rating</label>
                                      <input disabled="" type="text" required="" class="form-control input-lg" placeholder="4.5">
                                  </div>
                                  <div class="ct-form--item">
                                      <label>Perform Count</label>
                                      <input disabled="" type="text" required="" class="form-control input-lg" placeholder="53">
                                  </div>
                                  <div class="ct-form--item">
                                      <label>Recent Job Date</label>
                                      <input disabled="" type="text" required="" class="form-control input-lg" placeholder="May 5, 2018">
                                  </div>
                                  <div class="ct-form--item last">
                                      <a href="booking-page.html" type="submit" class="btn btn-success center-block">Book Service </a>
                                  </div>
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
















































<section class="ct-u-paddingBoth60 ct-js-section" data-bg-color="#f3f3f3" style="background-color: rgb(243, 243, 243);">
  <div class="container">
      <div class="ct-heading ct-u-marginBottom30">
          <h3 class="text-uppercase">Similar Service</h3>
          <a href="search-list.html" class="pull-right"><i class="fa fa-angle-right"></i>View More</a>
      </div>
      <div class="ct-js-owl ct-owl-controls--type2 owl-carousel owl-theme" data-single="false" data-items="4" data-pagination="false" data-snap-ignore="true" style="opacity: 1; display: block;">
          <div class="owl-wrapper-outer"><div class="owl-wrapper" style="width: 2930px; left: 0px; display: block;"><div class="owl-item active" style="width: 293px; opacity: 1;"><div class="item">
              <div class="ct-itemProducts ct-u-marginBottom30 ct-hover">
                  <label class="control-label sale">
                      Sale
                  </label>
                  <a href="product-single.html">
                      <div class="ct-main-content">
                          <div class="ct-imageBox">
                              <img src="assets/images/content/property-1.jpg" alt="" style="opacity: 1;"><i class="fa fa-eye"></i>
                          </div>
                          <div class="ct-main-text">
                              <div class="ct-product--tilte">
                                  8553 Fallen Creek Bend, North Carolina
                              </div>
                              <div class="ct-product--price">
                                  <span class="ct-price--Old">$ 450,000</span>
                                  <span>$ 350,000</span>
                              </div>
                              <div class="ct-product--description">
                                  Beautiful apartment in a great, very calm and safe place.
                              </div>
                          </div>
                      </div>
                      <div class="ct-product--meta">
                          <div class="ct-icons">
                              <span>
                                  <i class="fa fa-bed"></i> 3
                              </span>
                              <span>
                                  <i class="fa fa-cutlery"></i> 2
                              </span>
                          </div>
                          <div class="ct-text">
                              <span> Area: <span>105 m2</span></span>
                          </div>
                      </div>
                  </a>
              </div>
          </div></div><div class="owl-item active" style="width: 293px; opacity: 1;"><div class="item">
              <div class="ct-itemProducts ct-u-marginBottom30 ct-hover">
                  <label class="control-label new">
                      New
                  </label>
                  <a href="product-single.html">
                      <div class="ct-main-content">
                          <div class="ct-imageBox">
                              <img src="assets/images/content/property-2.jpg" alt="" style="opacity: 1;"><i class="fa fa-eye"></i>
                          </div>
                          <div class="ct-main-text">
                              <div class="ct-product--tilte">
                                  9544 Umber View, Inspiration
                              </div>
                              <div class="ct-product--price">
                                  <span>$ 450,000</span>
                              </div>
                              <div class="ct-product--description">
                                  Beautiful apartment in a great, very calm and safe place.
                              </div>
                          </div>
                      </div>
                      <div class="ct-product--meta">
                          <div class="ct-icons">
                              <span>
                                  <i class="fa fa-bed"></i> 3
                              </span>
                              <span>
                                  <i class="fa fa-cutlery"></i> 2
                              </span>
                          </div>
                          <div class="ct-text">
                              <span> Area: <span>105 m2</span></span>
                          </div>
                      </div>
                  </a>
              </div>
          </div></div><div class="owl-item active" style="width: 293px; opacity: 1;"><div class="item">
              <div class="ct-itemProducts ct-u-marginBottom30 ct-hover">
                  <a href="product-single.html">
                      <div class="ct-main-content">
                          <div class="ct-imageBox">
                              <img src="assets/images/content/property-3.jpg" alt="" style="opacity: 1;"><i class="fa fa-eye"></i>
                          </div>
                          <div class="ct-main-text">
                              <div class="ct-product--tilte">
                                  4079 Broad Falls, Turkeytown
                              </div>
                              <div class="ct-product--price">
                                  <span>$ 450,000</span>
                              </div>
                              <div class="ct-product--description">
                                  Beautiful apartment in a great, very calm and safe place.
                              </div>
                          </div>
                      </div>
                      <div class="ct-product--meta">
                          <div class="ct-icons">
                              <span>
                                  <i class="fa fa-bed"></i> 3
                              </span>
                              <span>
                                  <i class="fa fa-cutlery"></i> 2
                              </span>
                          </div>
                          <div class="ct-text">
                              <span> Area: <span>105 m2</span></span>
                          </div>
                      </div>
                  </a>
              </div>
          </div></div><div class="owl-item active" style="width: 293px; opacity: 1;"><div class="item">
              <div class="ct-itemProducts ct-u-marginBottom30 ct-hover">
                  <a href="product-single.html">
                      <div class="ct-main-content">
                          <div class="ct-imageBox">
                              <img src="assets/images/content/property-4.jpg" alt="" style="opacity: 1;"><i class="fa fa-eye"></i>
                          </div>
                          <div class="ct-main-text">
                              <div class="ct-product--tilte">
                                  046 Merry Landing, High Lonesome Wells
                              </div>
                              <div class="ct-product--price">
                                  <span>$ 450,000</span>
                              </div>
                              <div class="ct-product--description">
                                  Beautiful apartment in a great, very calm and safe place.
                              </div>
                          </div>
                      </div>
                      <div class="ct-product--meta">
                          <div class="ct-icons">
                              <span>
                                  <i class="fa fa-bed"></i> 3
                              </span>
                              <span>
                                  <i class="fa fa-cutlery"></i> 2
                              </span>
                          </div>
                          <div class="ct-text">
                              <span> Area: <span>105 m2</span></span>
                          </div>
                      </div>
                  </a>
              </div>
          </div></div><div class="owl-item" style="width: 293px; opacity: 1;"><div class="item">
              <div class="ct-itemProducts ct-u-marginBottom30 ct-hover">
                  <a href="product-single.html">
                      <div class="ct-main-content">
                          <div class="ct-imageBox">
                              <img src="assets/images/content/property-5.jpg" alt="" style="opacity: 1;"><i class="fa fa-eye"></i>
                          </div>
                          <div class="ct-main-text">
                              <div class="ct-product--tilte">
                                  8606 Quaking Grove Highway, Blackfalds
                              </div>
                              <div class="ct-product--price">
                                  <span>$ 450,000</span>
                              </div>
                              <div class="ct-product--description">
                                  Beautiful apartment in a great, very calm and safe place.
                              </div>
                          </div>
                      </div>
                      <div class="ct-product--meta">
                          <div class="ct-icons">
                              <span>
                                  <i class="fa fa-bed"></i> 3
                              </span>
                              <span>
                                  <i class="fa fa-cutlery"></i> 2
                              </span>
                          </div>
                          <div class="ct-text">
                              <span> Area: <span>105 m2</span></span>
                          </div>
                      </div>
                  </a>
              </div>
          </div></div></div></div>
          
          
          
          
      <div class="owl-controls clickable"><div class="owl-buttons"><div class="owl-prev"><i class="fa fa-angle-left"></i></div><div class="owl-next"><i class="fa fa-angle-right"></i></div></div></div></div>
  </div>
</section>