<br><br><br><br>
<br><br>
<header style="background-color: #393939;padding: 13px;">
    <div class="ct-mediaSection-inner">
        <div class="container">
            <div class="ct-steps--submission center-block ct-u-marginBottom20">
                <div class="ct-steps--item ct-steps--progress">
                    <div class="ct-steps--counter">
                        <span>1</span>
                    </div>
                </div>
                <div class="ct-steps--item">
                    <div class="ct-steps--counter ct-steps--active">
                        <span>2</span>
                    </div>
                </div>
                <div class="ct-steps--item">
                    <div class="ct-steps--counter">
                        <span>3</span>
                    </div>
                </div>
                <div class="ct-steps--item">
                    <div class="ct-steps--counter">
                        <span>4</span>
                    </div>
                </div>
            </div>
            <div class="ct-u-displayTable ct-steps--title text-center">
                <div class="ct-u-displayTableCell">
                    <span>Company Details</span>
                </div>
                <div class="ct-u-displayTableCell">
                    <span>Inspector Details</span>
                </div>
                <div class="ct-u-displayTableCell">
                    <span>Services</span>
                </div>
                <div class="ct-u-displayTableCell">
                    <span>Time Slot</span>
                </div>
            </div>
        </div>
    </div>
</header>
<br><br>
<div class="container">
    <div class="row">
        <div class="col-md-11 offset-md-1">
            <h3>Inspector's Details</h3><br><br>
            <div class="row">
                <div class="col-sm-6">
                    <input class="form-control input-lg text-inner-input ct-u-text--dark ct-u-marginBottom10" type="text" placeholder="Inspector Name" required="">
                </div>
                <div class="col-sm-6">
                    <input class="form-control input-lg text-inner-input ct-u-text--dark ct-u-marginBottom10" type="text" placeholder="Designation/Association" required="">
                </div>
            </div>
            <input class="form-control input-lg text-inner-input ct-u-text--dark ct-u-marginBottom10" type="email" placeholder="Email if different from company" required="">
             <input class="form-control input-lg text-inner-input ct-u-text--dark ct-u-marginBottom10" type="number" placeholder="phone if different from company" required=""><br>
             <button type="button" class="btn btn-primary">Add More Teams</button><br><br>
             <h3>Services Name/Keyword</h3><br><br>
             <div class="bootstrap-tagsinput"><input type="text" placeholder="Enter Keywords you want to search"></div><input type="text" class="form-control" id="fname" placeholder="Enter Keywords you want to search" data-role="tagsinput" style="display: none;"><br><br>
            <ul class="list-inline pull-right">
                <li>
                    <a routerLink="/dashboard/settings/step3" class="btn btn-primary next-step">Save and continue</a>
                </li>
            </ul>
        </div>
    </div>
</div>