input.ng-invalid.ng-touched {
    border: 1px solid red;
}

input.ng-valid.ng-touched {
    border: 1px solid green;
}

#map {
    width: 100%;
    height: 300px
}
#forStyle { 
    width: 70%;
}
#sunday{
    float: left;
    position: absolute;
    
    padding-left: 831px;
    width: 71%;

}