<section>
    <br>
    <br>
    <br> <br>
    <br>
    <br> <br>
    
  <div class="container">
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <div role="tabpanel">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs nav-justified" role="tablist">
            <li role="presentation" class="active">
              <a href="#history3" aria-controls="history3" role="tab" data-toggle="tab">Build. Inspectors</a>
            </li>
            <li role="presentation">
              <a href="#vision3" aria-controls="vision3" role="tab" data-toggle="tab">Realtors</a>
            </li>
            <li role="presentation">
              <a href="#mission3" aria-controls="mission3" role="tab" data-toggle="tab">Mortgage Ad.</a>
            </li>
            <li role="presentation">
              <a href="#mission4" aria-controls="mission4" role="tab" data-toggle="tab">Lawyers</a>
            </li>
            <li role="presentation">
              <a href="#mission5" aria-controls="mission5" role="tab" data-toggle="tab">Builders</a>
            </li>
          </ul>
          <div class="clearfix"></div>
          <!-- Tab panes -->
          <div class="tab-content tab-content--withBorder">
            <div role="tabpanel" class="tab-pane active" id="history3">
              <section class="container">
                <div class="row">
                  <div class="col-md-7">
                    <input class="form-control input-lg ct-input--border ct-u-text--dark ct-u-marginBottom10" type="text" placeholder="Type of Inspection"
                      required="">
                    <input class="form-control input-lg ct-input--border ct-u-text--dark ct-u-marginBottom10" type="text" placeholder="Type of Inspection"
                      required="">
                    <select class="form-control">
                      <option>Property Type</option>
                      <option>Residential</option>
                      <option>Commericial</option>
                      <option>Plot</option>
                      <option>land</option>
                    </select>
                    <br>
                    <br>
                    <div class="row">
                      <div class="col-md-6">
                        <input class="form-control input-lg ct-input--border ct-u-text--dark ct-u-marginBottom10" type="text" placeholder="Area (Sq.Ft)"
                          required="">
                      </div>
                      <div class="col-md-6">
                        <input class="form-control input-lg ct-input--border ct-u-text--dark ct-u-marginBottom10" type="text" placeholder="Build Date"
                          required="">
                      </div>
                    </div>
                    <input class="form-control input-lg ct-input--border ct-u-text--dark ct-u-marginBottom10" type="text" placeholder="Inspection Date"
                      required="">
                    <br>
                    <br>
                    <a href="#" type="submit" class="btn btn-success">Search</a>
                    <br>
                    <br>
                  </div>
                </div>
              </section>
            </div>
            <div role="tabpanel" class="tab-pane" id="vision3">
              <div class="container">
                <div class="row">
                  <div class="col-md-7">
                    <label class="checkbox-inline">
                      <input type="checkbox" value="">Buyers</label>
                    <label class="checkbox-inline">
                      <input type="checkbox" value="">Seller's</label>
                    <label class="checkbox-inline">
                      <input type="checkbox" value="">Commercial</label>
                    <br>
                    <br>
                    <div class="row">
                      <div class="col-md-6">
                        <input class="form-control input-lg ct-input--border ct-u-text--dark ct-u-marginBottom10" type="text" placeholder="City"
                          required="">
                      </div>
                      <div class="col-md-6">
                        <input class="form-control input-lg ct-input--border ct-u-text--dark ct-u-marginBottom10" type="text" placeholder="Office Name"
                          required="">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <input class="form-control input-lg ct-input--border ct-u-text--dark ct-u-marginBottom10" type="text" placeholder="Languages"
                          required="">
                      </div>
                      <div class="col-md-6">
                        <input class="form-control input-lg ct-input--border ct-u-text--dark ct-u-marginBottom10" type="text" placeholder="REALTOR Designation"
                          required="">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <input class="form-control input-lg ct-input--border ct-u-text--dark ct-u-marginBottom10" type="text" placeholder="Specially"
                          required="">
                      </div>
                      <div class="col-md-6">
                        <input class="form-control input-lg ct-input--border ct-u-text--dark ct-u-marginBottom10" type="text" placeholder="Experience"
                          required="">
                      </div>
                    </div>
                    <br>
                    <button type="button" class="btn btn-success pull-right">Search</button>
                  </div>
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="mission3">
              <div class="container">
                <div class="row">
                  <div class="col-md-7">
                    <label class="checkbox-inline">
                      <input type="checkbox" value="">Buyers</label>
                    <label class="checkbox-inline">
                      <input type="checkbox" value="">Seller's</label>
                    <label class="checkbox-inline">
                      <input type="checkbox" value="">Commercial</label>
                    <br>
                    <br>
                    <div class="row">
                      <div class="col-md-6">
                        <input class="form-control input-lg ct-input--border ct-u-text--dark ct-u-marginBottom10" type="text" placeholder="City"
                          required="">
                      </div>
                      <div class="col-md-6">
                        <input class="form-control input-lg ct-input--border ct-u-text--dark ct-u-marginBottom10" type="text" placeholder="Office Name"
                          required="">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <input class="form-control input-lg ct-input--border ct-u-text--dark ct-u-marginBottom10" type="text" placeholder="Languages"
                          required="">
                      </div>
                      <div class="col-md-6">
                        <input class="form-control input-lg ct-input--border ct-u-text--dark ct-u-marginBottom10" type="text" placeholder="REALTOR Designation"
                          required="">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <input class="form-control input-lg ct-input--border ct-u-text--dark ct-u-marginBottom10" type="text" placeholder="Specially"
                          required="">
                      </div>
                      <div class="col-md-6">
                        <input class="form-control input-lg ct-input--border ct-u-text--dark ct-u-marginBottom10" type="text" placeholder="Experience"
                          required="">
                      </div>
                    </div>
                    <br>
                    <button type="button" class="btn btn-success pull-right">Search</button>
                  </div>
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="mission4">
              <div class="container">
                <div class="row">
                  <div class="col-md-7">
                    <label class="checkbox-inline">
                      <input type="checkbox" value="">Buyers</label>
                    <label class="checkbox-inline">
                      <input type="checkbox" value="">Seller's</label>
                    <label class="checkbox-inline">
                      <input type="checkbox" value="">Commercial</label>
                    <br>
                    <br>
                    <div class="row">
                      <div class="col-md-6">
                        <input class="form-control input-lg ct-input--border ct-u-text--dark ct-u-marginBottom10" type="text" placeholder="City"
                          required="">
                      </div>
                      <div class="col-md-6">
                        <input class="form-control input-lg ct-input--border ct-u-text--dark ct-u-marginBottom10" type="text" placeholder="Office Name"
                          required="">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <input class="form-control input-lg ct-input--border ct-u-text--dark ct-u-marginBottom10" type="text" placeholder="Languages"
                          required="">
                      </div>
                      <div class="col-md-6">
                        <input class="form-control input-lg ct-input--border ct-u-text--dark ct-u-marginBottom10" type="text" placeholder="REALTOR Designation"
                          required="">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <input class="form-control input-lg ct-input--border ct-u-text--dark ct-u-marginBottom10" type="text" placeholder="Specially"
                          required="">
                      </div>
                      <div class="col-md-6">
                        <input class="form-control input-lg ct-input--border ct-u-text--dark ct-u-marginBottom10" type="text" placeholder="Experience"
                          required="">
                      </div>
                    </div>
                    <br>
                    <button type="button" class="btn btn-success pull-right">Search</button>
                  </div>
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="mission5">
              <div class="container">
                <div class="row">
                  <div class="col-md-7">
                    <label class="checkbox-inline">
                      <input type="checkbox" value="">Buyers</label>
                    <label class="checkbox-inline">
                      <input type="checkbox" value="">Seller's</label>
                    <label class="checkbox-inline">
                      <input type="checkbox" value="">Commercial</label>
                    <br>
                    <br>
                    <div class="row">
                      <div class="col-md-6">
                        <input class="form-control input-lg ct-input--border ct-u-text--dark ct-u-marginBottom10" type="text" placeholder="City"
                          required="">
                      </div>
                      <div class="col-md-6">
                        <input class="form-control input-lg ct-input--border ct-u-text--dark ct-u-marginBottom10" type="text" placeholder="Office Name"
                          required="">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <input class="form-control input-lg ct-input--border ct-u-text--dark ct-u-marginBottom10" type="text" placeholder="Languages"
                          required="">
                      </div>
                      <div class="col-md-6">
                        <input class="form-control input-lg ct-input--border ct-u-text--dark ct-u-marginBottom10" type="text" placeholder="REALTOR Designation"
                          required="">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <input class="form-control input-lg ct-input--border ct-u-text--dark ct-u-marginBottom10" type="text" placeholder="Specially"
                          required="">
                      </div>
                      <div class="col-md-6">
                        <input class="form-control input-lg ct-input--border ct-u-text--dark ct-u-marginBottom10" type="text" placeholder="Experience"
                          required="">
                      </div>
                    </div>
                    <br>
                    <button type="button" class="btn btn-success pull-right">Search</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
