<br>
<br>
<br>
<br>
<br>
<br>
<br>


<header style="background-color: #393939;padding: 13px;">
  <div class="ct-mediaSection-inner">
      <div class="container">
          <div class="ct-steps--submission center-block ct-u-marginBottom20">
              <div class="ct-steps--item" style="width: 105% !important;">
                  <div class="ct-steps--counter">
                      <span>1</span>
                  </div>
              </div>
              <div class="ct-steps--item">
                  <div class="ct-steps--counter ct-steps--active">
                      <span>2</span>
                  </div>
              </div>
          </div>
          <div class="ct-u-displayTable ct-steps--title text-center">
              <div class="ct-u-displayTableCell">
                  <span>Add Agent</span>
              </div>
              <div class="ct-u-displayTableCell">
                  <span>Done</span>
              </div>
          </div>
      </div>
  </div>
</header>

<section class="ct-u-paddingTop50 ct-u-paddingBottom100">
  <div class="container">
      <div class="row">
          <div class="col-md-11 offset-md-1">
              <div class="row">
                  <div class="col-md-6">
                      <input class="form-control input-lg ct-input--border ct-u-text--dark ct-u-marginBottom10" type="text" value="www.facebook.com/" required="">
                  </div>
                   <div class="col-md-6">
                      <input class="form-control input-lg ct-input--border ct-u-text--dark ct-u-marginBottom10" type="text" value="www.twitter.com/" required="">
                   </div>
             </div>
             <div class="row">
                  <div class="col-md-6">
                      <input class="form-control input-lg ct-input--border ct-u-text--dark ct-u-marginBottom10" type="text" value="www.instagram.com/" required="">
                  </div>
                   <div class="col-md-6">
                      <label class="btn btn-primary btn-file">
                          Choose File<input type="file" style="display: none;">
                      </label>
                   </div>
             </div><br>
             <div class="ct-container--Big text-right">
                  <a class="btn btn-warning" >Add Agent</a>
              </div>
          </div>
      </div>
  </div>
</section>