<ng-container>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="container" id="companyForm">
    <div class="row">
      <br>
      <br>
      <form #editCompanyForm="ngForm" (submit)="editCompanyDetails(editCompanyForm)">
        <div class="col-md-12">
          <h2>Edit Company Details</h2>
          <br>
          <br>
          <input class="form-control input-lg text-inner-input ct-u-text--dark ct-u-marginBottom10" type="text" name="name" placeholder="Name of Company"
            ngModel="{{companyDretails.name}}" required>
          <div class="row">
            <div class="col-sm-6">
              <input class="form-control input-lg text-inner-input ct-u-text--dark ct-u-marginBottom10" type="text" name="addressLine1"
                placeholder="Address Line 1" ngModel="{{companyDretails.addressLine1}}" required>
            </div>
            <div class="col-sm-6">
              <input class="form-control input-lg text-inner-input ct-u-text--dark ct-u-marginBottom10" type="text" name="addressLine2"
                placeholder="Address Line 2" ngModel="{{companyDretails.addressLine2}}" required>
            </div>

          </div>
          <div class="row">
            <div class="col-sm-6">
              <input class="form-control input-lg text-inner-input ct-u-text--dark ct-u-marginBottom10" type="text" name="city" placeholder="City"
                ngModel="{{companyDretails.city}}" required>
            </div>
            <div class="col-sm-6 ">
              <select name="state" class="form-control input-lg text-inner-input ct-u-text--dark ct-u-marginBottom10" ngModel="{{companyDretails.state}}"
                required>
                <option value="">State</option>
                <option value="AL">Alabama</option>
                <option value="AK">Alaska</option>
                <option value="AZ">Arizona</option>
                <option value="AR">Arkansas</option>
                <option value="CA">California</option>
                <option value="CO">Colorado</option>
                <option value="CT">Connecticut</option>
                <option value="DE">Delaware</option>
                <option value="DC">District Of Columbia</option>
                <option value="FL">Florida</option>
                <option value="GA">Georgia</option>
                <option value="HI">Hawaii</option>
                <option value="ID">Idaho</option>
                <option value="IL">Illinois</option>
                <option value="IN">Indiana</option>
                <option value="IA">Iowa</option>
                <option value="KS">Kansas</option>
                <option value="KY">Kentucky</option>
                <option value="LA">Louisiana</option>
                <option value="ME">Maine</option>
                <option value="MD">Maryland</option>
                <option value="MA">Massachusetts</option>
                <option value="MI">Michigan</option>
                <option value="MN">Minnesota</option>
                <option value="MS">Mississippi</option>
                <option value="MO">Missouri</option>
                <option value="MT">Montana</option>
                <option value="NE">Nebraska</option>
                <option value="NV">Nevada</option>
                <option value="NH">New Hampshire</option>
                <option value="NJ">New Jersey</option>
                <option value="NM">New Mexico</option>
                <option value="NY">New York</option>
                <option value="NC">North Carolina</option>
                <option value="ND">North Dakota</option>
                <option value="OH">Ohio</option>
                <option value="OK">Oklahoma</option>
                <option value="OR">Oregon</option>
                <option value="PA">Pennsylvania</option>
                <option value="RI">Rhode Island</option>
                <option value="SC">South Carolina</option>
                <option value="SD">South Dakota</option>
                <option value="TN">Tennessee</option>
                <option value="TX">Texas</option>
                <option value="UT">Utah</option>
                <option value="VT">Vermont</option>
                <option value="VA">Virginia</option>
                <option value="WA">Washington</option>
                <option value="WV">West Virginia</option>
                <option value="WI">Wisconsin</option>
                <option value="WY">Wyoming</option>
              </select>
            </div>
            <div class="col-sm-6">
              <input class="form-control input-lg text-inner-input ct-u-text--dark ct-u-marginBottom10" name="zip" type="text" placeholder="Zip/Postal"
                ngModel="{{companyDretails.zip}}" required>
            </div>
            <div class="col-sm-6">
              <input class="form-control input-lg text-inner-input ct-u-text--dark ct-u-marginBottom10" name="phone" type="number" placeholder="Phone"
                ngModel="{{companyDretails.phone}}" required>
            </div>
            <div class="col-sm-6">
              <input class="form-control input-lg text-inner-input ct-u-text--dark ct-u-marginBottom10" name="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                type="email" placeholder="Email" ngModel="{{companyDretails.email}}" required>
            </div>
            <div class="col-sm-6">
              <input class="form-control input-lg text-inner-input ct-u-text--dark ct-u-marginBottom10" name="website" type="text" placeholder="Website"
                ngModel="{{companyDretails.website}}" required>
            </div>
            <div class="col-sm-6">
              <input class="form-control input-lg text-inner-input ct-u-text--dark ct-u-marginBottom10" name="founded" type="date" placeholder="Founded"
                ngModel="{{companyDretails.founded | date: 'yyyy-MM-dd'}}" required>
            </div>
            <div class="col-sm-12">
              <div class="form-group">
                <label for="image"  >Profile Picture</label>
                
                <input type="file" ng2FileSelect [uploader]="uploader" name="image" class="form-control-file">
              <img src="{{companyDretails.image}}" width="10%" height="5%">
              </div>
              <br>
              <br>
              <h3>Link Social Media and Other Links</h3>
              <br>
              <br>
            </div>


            <div class="col-sm-6">
              <input class="form-control input-lg text-inner-input ct-u-text--dark ct-u-marginBottom10" type="text" name="facebook" placeholder="Facebook Page"
                required>

            </div>
            <div class="col-sm-6">
              <input class="form-control input-lg text-inner-input ct-u-text--dark ct-u-marginBottom10" type="text" name="youtube" placeholder="Youtube"
                ngModel="{{companyDretails.name}}" required>
            </div>
            <div class="col-sm-6">
              <input class="form-control input-lg text-inner-input ct-u-text--dark ct-u-marginBottom10" type="text" name="instagram" placeholder="Instagram"
                ngModel="{{companyDretails.name}}" required>
            </div>
            <div class="col-sm-6">
              <input class="form-control input-lg text-inner-input ct-u-text--dark ct-u-marginBottom10" type="text" name="gplus" placeholder="Google+"
                ngModel="{{companyDretails.name}}" required>
            </div>
            <div class="col-sm-6">
              <input class="form-control input-lg text-inner-input ct-u-text--dark ct-u-marginBottom10" type="text" name="twitter" placeholder="Twitter"
                ngModel="{{companyDretails.name}}" required>
            </div>




            <div class="col-sm-6">
              <input class="form-control input-lg text-inner-input ct-u-text--dark ct-u-marginBottom10" type="text" name="associations"
                placeholder="Associations" ngModel="{{companyDretails.associations}}" required>
            </div>
          </div>
          <br>
          <br>
          <div class="row">
            <div class="col-md-6">
              <h3>Localization</h3>
              <br>
              <p>
                <b>Service Area Name:</b>
                <br> {{location.formatted_address}}
              </p>
            </div>
            <div class="col-md-6">
              <h3>Services Area Redius KM</h3>
              <div class="col-sm-6">
                <input class="form-control input-lg text-inner-input ct-u-text--dark ct-u-marginBottom10" name="radius" type="number" placeholder="Radius"
                  ngModel="{{companyDretails.radius}}" required>
              </div>
              <br>
              <div id="map" #gmap></div>
            </div>
          </div>
          <br>
          <br>
          <ul class="list-inline pull-right">
            <li>
              <button type="submit" class="btn btn-primary next-step">Update</button>
            </li>
          </ul>
        </div>
      </form>
    </div>
  </div>
</ng-container>
