<br><br><br><br>
<section class="container">
   
    <div class="row">
        <br><br><br><br>
         <div class="col-md-offset-1 col-md-10">
             <h2>Booking Page</h2><br>
              <div class="row">
                  <div class="col-md-6">
                     <input class="form-control input-lg ct-input--border ct-u-text--dark ct-u-marginBottom10" type="text" placeholder="First Name" required="">
                 </div>
                 <div class="col-md-6">
                     <input class="form-control input-lg ct-input--border ct-u-text--dark ct-u-marginBottom10" type="text" placeholder="Last name" required="">
                 </div>
              </div>
              <div class="row">
                  <div class="col-md-6">
                     <input class="form-control input-lg ct-input--border ct-u-text--dark ct-u-marginBottom10" type="number" placeholder="Contact Number" required="">
                 </div>
                 <div class="col-md-6">
                     <input class="form-control input-lg ct-input--border ct-u-text--dark ct-u-marginBottom10" type="email" placeholder="Email Address" required="">
                 </div>
              </div><br>
              <button type="button" class="btn btn-primary">Add Spouse</button><br><br>
              <div class="row">
                  <div class="col-md-4"><br>
                      <h4>Date &amp; Time</h4>
                  </div>
                  <div class="col-md-4">
                     <select class="form-control input-lg ct-input--border ct-u-text--dark ct-u-marginBottom10">
                         <option value="any">4/22/2018</option>
                         <option value="1">New York</option>
                         <option value="2">New Jersey</option>
                         <option value="3">Newark</option>
                         <option value="4">Philadelphia</option>
                     </select>
                  </div>
                  <div class="col-md-4">
                    <select class="form-control input-lg ct-input--border ct-u-text--dark ct-u-marginBottom10">
                         <option value="any">4/22/2018</option>
                         <option value="1">New York</option>
                         <option value="2">New Jersey</option>
                         <option value="3">Newark</option>
                         <option value="4">Philadelphia</option>
                     </select>
                  </div>
              </div><br>
              <div class="row">
                  <div class="col-md-4"><br>
                      <h4>Services Fee</h4>
                  </div>
                  <div class="col-md-4">
                     <input class="form-control input-lg ct-input--border ct-u-text--dark ct-u-marginBottom10" type="email" placeholder="Email Address" required="">
                  </div>
                  <div class="col-md-4">
                     <input class="form-control input-lg ct-input--border ct-u-text--dark ct-u-marginBottom10" type="email" placeholder="Email Address" required="">
                  </div>
              </div><br>
              <h4>Inspection Address</h4><br>
              <input class="form-control input-lg ct-input--border ct-u-text--dark ct-u-marginBottom10" type="email" placeholder="Address" required="">
              <div class="row">
                 <div class="col-md-6">
                     <input class="form-control input-lg ct-input--border ct-u-text--dark ct-u-marginBottom10" type="text" placeholder="City" required="">
                  </div>
                  <div class="col-md-6">
                     <input class="form-control input-lg ct-input--border ct-u-text--dark ct-u-marginBottom10" type="text" placeholder="Zip/Postal" required="">
                  </div>
              </div><br>
              <div class="row">
                  <div class="col-md-6">
                      <h4>Buyer's Realtor</h4><br>
                      <input class="form-control input-lg ct-input--border ct-u-text--dark ct-u-marginBottom10" type="text" placeholder="Email Address" required="">
                      <input class="form-control input-lg ct-input--border ct-u-text--dark ct-u-marginBottom10" type="text" placeholder="Contact Number" required="">
                      <input class="form-control input-lg ct-input--border ct-u-text--dark ct-u-marginBottom10" type="text" placeholder="First Name" required="">
                  </div>
                  <div class="col-md-6">
                      <h4>Seller's Realtor</h4><br>
                      <input class="form-control input-lg ct-input--border ct-u-text--dark ct-u-marginBottom10" type="text" placeholder="Last Name" required="">
                      <input class="form-control input-lg ct-input--border ct-u-text--dark ct-u-marginBottom10" type="text" placeholder="Optional Phone" required="">
                      <input class="form-control input-lg ct-input--border ct-u-text--dark ct-u-marginBottom10" type="text" placeholder="Optional Email" required="">
                  </div>
              </div><br>
              <div class="row">
                  <div class="col-md-8">
                      <h3>Notes</h3><br>
                      <textarea cols="43" rows="6" placeholder="Description" class="form-control input-lg ct-input--border ct-u-text--dark ct-u-marginBottom10"></textarea>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-2">
                      <button type="button" class="btn btn-primary btn-block">Save</button>
                  </div>
              </div>
         </div>
     </div><br><br><br><br>
         

         
     
 </section>