<br><br><br><br><br><br>
<br>
<header class="ct-mediaSection" data-stellar-background-ratio="0.3" data-height="140" data-type="parallax" data-bg-image="assets/images/content/agency-parallax.jpg" data-bg-image-mobile="assets/images/content/agency-parallax.jpg" style="min-height: 140px; height: 140px; background-image: url(&quot;assets/images/content/agency-parallax.jpg&quot;); background-position: 50% 50%;">
    <div class="ct-mediaSection-inner">
        <div class="container">
            <div class="ct-steps--submission center-block ct-u-marginBottom20">
                <div class="ct-steps--item ct-steps--progress">
                    <div class="ct-steps--counter">
                        <span>1</span>
                    </div>
                </div>
                <div class="ct-steps--item">
                    <div class="ct-steps--counter ct-steps--active">
                        <span>2</span>
                    </div>
                </div>
                <div class="ct-steps--item">
                    <div class="ct-steps--counter">
                        <span>3</span>
                    </div>
                </div>
                <div class="ct-steps--item">
                    <div class="ct-steps--counter">
                        <span>4</span>
                    </div>
                </div>
            </div>
            <div class="ct-u-displayTable ct-steps--title text-center">
                <div class="ct-u-displayTableCell">
                    <span>Title</span>
                </div>
                <div class="ct-u-displayTableCell">
                    <span>Images</span>
                </div>
                <div class="ct-u-displayTableCell">
                    <span>Price &amp; Amentities</span>
                </div>
                <div class="ct-u-displayTableCell">
                    <span>Done!</span>
                </div>
            </div>
        </div>
    </div>
</header>









<section class="ct-u-paddingTop50 ct-u-paddingBottom100">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <form role="form" class="ct-formSubmission">
                    <div class="form-group ">
                        <label class="ct-fw-600 text-uppercase ct-u-marginBottom10">Upload featured image</label>
                        <div class="row ct-u-marginBottom20">
                            <div class="col-md-7">
                                <input type="text" required="" class="form-control input-lg ct-input--border" placeholder="">
                            </div>
                            <div class="col-md-5">
                                <label class="btn btn-primary btn-file btn-sm">
                                    Browse <input type="file" style="display: none;">
                                </label>
                                <a class="btn btn-warning pull-right" href="">Upload</a>
                            </div>
                        </div>
                        <span class="ct-u-marginBottom40">This is going to be the main image of property, it will be shown in thumbnails and all important places.</span>
                        <label class="ct-fw-600 text-uppercase ct-u-marginBottom10">upload images to gallery</label>
                        <div class="row ct-u-marginBottom20">
                            <div class="col-md-7">
                                <input type="text" required="" class="form-control input-lg ct-input--border" placeholder="">
                            </div>
                            <div class="col-md-5">
                                <label class="btn btn-primary btn-file btn-sm">
                                    Browse <input type="file" style="display: none;">
                                </label>
                                <a class="btn btn-warning pull-right" href="">Upload</a>
                            </div>
                        </div>
                        <span class="ct-u-marginBottom40">This is going to be the main image of property, it will be shown in thumbnails and all important places.</span>
                        <div class="ct-container--Big">
                            <a class="btn btn-link pull-left"  routerLink="/post-ad">Back to Step 1</a>
                            <a class="btn btn-warning pull-right"  routerLink="/post-ad/step-3">Continue to Step 3</a>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-offset-1 col-md-5">
                <div class="ct-iconBox ct-u-marginBottom40 ct-iconBox--2col">
                    <div class="ct-icon text-center ct-iconContainer--circle ct-iconContainer--circleLight">
                        <i class="fa fa-users"></i>
                    </div>
                    <div class="ct-iconBox--description">
                        <span class="ct-title text-uppercase ct-fw-600">Get more users</span>
                        <span class="ct-text">Thanks to our content optimization you will get more visits to your property page.</span>
                    </div>
                </div>
                <div class="ct-iconBox ct-u-marginBottom40 ct-iconBox--2col">
                    <div class="ct-icon text-center ct-iconContainer--circle ct-iconContainer--circleLight">
                        <i class="fa fa-bolt"></i>
                    </div>
                    <div class="ct-iconBox--description">
                        <span class="ct-title text-uppercase ct-fw-600">Convert visitors</span>
                        <span class="ct-text">With our design and structures you will be able to show your property in better light.</span>
                    </div>
                </div>
                <div class="ct-iconBox ct-iconBox--2col">
                    <div class="ct-icon text-center ct-iconContainer--circle ct-iconContainer--circleLight">
                        <i class="fa fa-trophy"></i>
                    </div>
                    <div class="ct-iconBox--description">
                        <span class="ct-title text-uppercase ct-fw-600">Reach your goal</span>
                        <span class="ct-text">Estato was designed to become your real estate business partner. It’s not only a tool, it’s a working ecosystem.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>