<div class="container">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="ct-heading ct-u-marginBottom60">
    <h3 class="text-uppercase">Our agents</h3>
    <a routerLink="/dashboard/add-agent" class="btn btn-xs btn-success text-uppercase pull-right">Add Agent</a>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-3">
      <div class="ct-personBox text-left">
        <div class="ct-imagePerson">
          <label class="control-label">
            <a class="btn btn-xs btn-edit text-uppercase ct-js-btnEdit--Properties">edit</a>
          </label>
          <img src="assets/images/content/agents-1.jpg" alt="">
          <ul class="ct-panel--socials list-inline list-unstyled">
            <li>
              <a href="https://www.facebook.com/createITpl">
                <div class="ct-socials ct-socials--circle">
                  <i class="fa fa-facebook"></i>
                </div>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/createitpl">
                <div class="ct-socials ct-socials--circle">
                  <i class="fa fa-twitter"></i>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="ct-socials ct-socials--circle">
                  <i class="fa fa-instagram"></i>
                </div>
              </a>
            </li>
          </ul>
        </div>
        <div class="ct-personContent">
          <div class="ct-personName ct-u-paddingBottom10 ct-u-marginBottom20">
            <h5 class="ct-fw-600">Kristine Black</h5>
            <a href="">15 Properties</a>
          </div>
          <div class="ct-personDescription">
            <ul class="list-unstyled ct-contactPerson">
              <li>
                <i class="fa fa-phone"></i>
                <span>(123) 456 7890</span>
              </li>
              <li>
                <i class="fa fa-mobile"></i>
                <span>888 999 000</span>
              </li>
              <li>
                <a href="">
                  <i class="fa fa-skype"></i> kristine.black</a>
              </li>
              <li>
                <a href="">
                  <i class="fa fa-envelope-o"></i> kristine.black@example.com</a>
              </li>
              <li>
                <i class="fa fa-star checked"></i>
                <i class="fa fa-star checked"></i>
                <i class="fa fa-star checked"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="ct-personBox text-left">
        <div class="ct-imagePerson">
          <img src="assets/images/content/agents-2.jpg" alt="">
          <ul class="ct-panel--socials list-inline list-unstyled">
            <li>
              <a href="https://www.facebook.com/createITpl">
                <div class="ct-socials ct-socials--circle">
                  <i class="fa fa-facebook"></i>
                </div>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/createitpl">
                <div class="ct-socials ct-socials--circle">
                  <i class="fa fa-twitter"></i>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="ct-socials ct-socials--circle">
                  <i class="fa fa-instagram"></i>
                </div>
              </a>
            </li>
          </ul>
        </div>
        <div class="ct-personContent">
          <div class="ct-personName ct-u-paddingBottom10 ct-u-marginBottom20">
            <h5 class="ct-fw-600">Bob Donser</h5>
            <a href="">15 Properties</a>
          </div>
          <div class="ct-personDescription">
            <ul class="list-unstyled ct-contactPerson">
              <li>
                <i class="fa fa-phone"></i>
                <span>(123) 456 7890</span>
              </li>
              <li>
                <i class="fa fa-mobile"></i>
                <span>888 999 000</span>
              </li>
              <li>
                <a href="">
                  <i class="fa fa-skype"></i> bob.donser</a>
              </li>
              <li>
                <a href="">
                  <i class="fa fa-envelope-o"></i> bob.donser@example.com</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="ct-personBox text-left">
        <div class="ct-imagePerson">
          <img src="assets/images/content/agents-3.jpg" alt="">
          <ul class="ct-panel--socials list-inline list-unstyled">
            <li>
              <a href="https://www.facebook.com/createITpl">
                <div class="ct-socials ct-socials--circle">
                  <i class="fa fa-facebook"></i>
                </div>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/createitpl">
                <div class="ct-socials ct-socials--circle">
                  <i class="fa fa-twitter"></i>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="ct-socials ct-socials--circle">
                  <i class="fa fa-instagram"></i>
                </div>
              </a>
            </li>
          </ul>
        </div>
        <div class="ct-personContent">
          <div class="ct-personName ct-u-paddingBottom10 ct-u-marginBottom20">
            <h5 class="ct-fw-600">Mia Gonzales</h5>
            <a href="">15 Properties</a>
          </div>
          <div class="ct-personDescription">
            <ul class="list-unstyled ct-contactPerson">
              <li>
                <i class="fa fa-phone"></i>
                <span>(123) 456 7890</span>
              </li>
              <li>
                <i class="fa fa-mobile"></i>
                <span>888 999 000</span>
              </li>
              <li>
                <a href="">
                  <i class="fa fa-skype"></i> mia.gonzales</a>
              </li>
              <li>
                <a href="">
                  <i class="fa fa-envelope-o"></i> mia.gonzales@example.com</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="ct-personBox text-left">
        <div class="ct-imagePerson">
          <img src="assets/images/content/agents-4.jpg" alt="">
          <ul class="ct-panel--socials list-inline list-unstyled">
            <li>
              <a href="https://www.facebook.com/createITpl">
                <div class="ct-socials ct-socials--circle">
                  <i class="fa fa-facebook"></i>
                </div>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/createitpl">
                <div class="ct-socials ct-socials--circle">
                  <i class="fa fa-twitter"></i>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="ct-socials ct-socials--circle">
                  <i class="fa fa-instagram"></i>
                </div>
              </a>
            </li>
          </ul>
        </div>
        <div class="ct-personContent">
          <div class="ct-personName ct-u-paddingBottom10 ct-u-marginBottom20">
            <h5 class="ct-fw-600">Robert S. Morris</h5>
            <a href="">15 Properties</a>
          </div>
          <div class="ct-personDescription">
            <ul class="list-unstyled ct-contactPerson">
              <li>
                <i class="fa fa-phone"></i>
                <span>(123) 456 7890</span>
              </li>
              <li>
                <i class="fa fa-mobile"></i>
                <span>888 999 000</span>
              </li>
              <li>
                <a href="">
                  <i class="fa fa-skype"></i> robert.morris</a>
              </li>
              <li>
                <a href="">
                  <i class="fa fa-envelope-o"></i> robert.morris@example.com</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
