<br>
<br>
<br>
<br>
<section>
  <br>
  <br>
  <br>
  <br>
  <div class="container-fluid" style="padding-left: 25px;padding-right: 25px;">
    <div class="row">
      <div class="col-md-8">
        <h4 class="text-uppercase">Services</h4>
        <br>
        <br>
        <div class="row">
          <div class="col-md-2">
            <img src="assets/images/content/property-1.jpg" alt="Home Buyer" width="100%" height="150px;">
          </div>
          <div class="col-md-7">
            <h3 class="text-uppercase">Encapsulate Technologies
              <li class="fa fa-heart"></li>
            </h3>
            <small>Zohaib Aslam</small>
            <div class="row">
              <div class="col-md-4">
                <i class="fa fa-star checked"></i>
                <i class="fa fa-star checked"></i>
                <i class="fa fa-star checked"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
            </div>
            <p>Home Inspector with interNacho SOP Free Thermal images and recall check 22 years experience Master Inspector.Home
              Inspector with interNacho SOP Free Thermal images.</p>
            <div class="row">
              <div class="col-md-4">
                <button type="button" class="btn btn-success btn-list-below">Recommended</button>
              </div>
              <div class="col-md-4">
                <button type="button" class="btn btn-success btn-list-below">Designation</button>
              </div>
              <div class="col-md-4">
                <button type="button" class="btn btn-success btn-list-below">Experience</button>
              </div>
            </div>
          </div>
          <div class="col-md-3">
              <select class="select2-container ct-js-select ct-select-lg"><br>
                  <option>Select Date</option>
                  <option>4-22-2018</option>
                  <option>4-22-2018</option>
                  <option>4-22-2018</option>
                  <option>4-22-2018</option>
                  <option>4-22-2018</option>
              </select><br><br>
              <h4 class="side-listing-price">499.0 USD</h4><br><br>
              <a routerLink="book-now" class="btn btn-primary btn-block">Book</a>
          </div>
        </div>
        <br>
        <hr>
        <div class="row">
          <div class="col-md-2">
            <img src="assets/images/content/property-1.jpg" alt="Home Buyer" width="100%" height="150px;">
          </div>
          <div class="col-md-7">
            <h3 class="text-uppercase">Encapsulate Technologies
              <li class="fa fa-heart"></li>
            </h3>
            <small>Zohaib Aslam</small>
            <div class="row">
              <div class="col-md-4">
                <i class="fa fa-star checked"></i>
                <i class="fa fa-star checked"></i>
                <i class="fa fa-star checked"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
            </div>
            <p>Home Inspector with interNacho SOP Free Thermal images and recall check 22 years experience Master Inspector.Home
              Inspector with interNacho SOP Free Thermal images.</p>
            <div class="row">
              <div class="col-md-4">
                <button type="button" class="btn btn-success btn-list-below">Recommended</button>
              </div>
              <div class="col-md-4">
                <button type="button" class="btn btn-success btn-list-below">Designation</button>
              </div>
              <div class="col-md-4">
                <button type="button" class="btn btn-success btn-list-below">Experience</button>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="select2-container ct-js-select ct-select-lg" id="s2id_autogen15">
              <a href="javascript:void(0)" class="select2-choice" tabindex="-1">
                <span class="select2-chosen" id="select2-chosen-16">Select Date</span>
                <abbr class="select2-search-choice-close"></abbr>
                <span class="select2-arrow" role="presentation">
                  <b role="presentation"></b>
                </span>
              </a>
              <label for="s2id_autogen16" class="select2-offscreen"></label>
              <input class="select2-focusser select2-offscreen" type="text" aria-haspopup="true" role="button" aria-labelledby="select2-chosen-16"
                id="s2id_autogen16">
              <div class="select2-drop select2-display-none select2-with-searchbox">
                <div class="select2-search">
                  <label for="s2id_autogen16_search" class="select2-offscreen"></label>
                  <input type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
                    class="select2-input" role="combobox" aria-expanded="true" aria-autocomplete="list" aria-owns="select2-results-16"
                    id="s2id_autogen16_search" placeholder=""> </div>
                <ul class="select2-results" role="listbox" id="select2-results-16"> </ul>
              </div>
            </div>
            <select class="ct-js-select ct-select-lg" tabindex="-1" title="" style="display: none;">
              <option>Select Date</option>
              <option>4-22-2018</option>
              <option>4-22-2018</option>
              <option>4-22-2018</option>
              <option>4-22-2018</option>
              <option>4-22-2018</option>
            </select>
            <br>
            <br>
            <h4 class="side-listing-price">499.0 USD</h4>
            <br>
            <br>
            <a href="booking-page.html" class="btn btn-primary btn-block">Book</a>
          </div>
        </div>
        <br>
        <hr>
        <div class="row">
          <div class="col-md-2">
            <img src="assets/images/content/property-1.jpg" alt="Home Buyer" width="100%" height="150px;">
          </div>
          <div class="col-md-7">
            <h3 class="text-uppercase">Encapsulate Technologies
              <li class="fa fa-heart"></li>
            </h3>
            <small>Zohaib Aslam</small>
            <div class="row">
              <div class="col-md-4">
                <i class="fa fa-star checked"></i>
                <i class="fa fa-star checked"></i>
                <i class="fa fa-star checked"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
            </div>
            <p>Home Inspector with interNacho SOP Free Thermal images and recall check 22 years experience Master Inspector.Home
              Inspector with interNacho SOP Free Thermal images.</p>
            <div class="row">
              <div class="col-md-4">
                <button type="button" class="btn btn-success btn-list-below">Recommended</button>
              </div>
              <div class="col-md-4">
                <button type="button" class="btn btn-success btn-list-below">Designation</button>
              </div>
              <div class="col-md-4">
                <button type="button" class="btn btn-success btn-list-below">Experience</button>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="select2-container ct-js-select ct-select-lg" id="s2id_autogen17">
              <a href="javascript:void(0)" class="select2-choice" tabindex="-1">
                <span class="select2-chosen" id="select2-chosen-18">Select Date</span>
                <abbr class="select2-search-choice-close"></abbr>
                <span class="select2-arrow" role="presentation">
                  <b role="presentation"></b>
                </span>
              </a>
              <label for="s2id_autogen18" class="select2-offscreen"></label>
              <input class="select2-focusser select2-offscreen" type="text" aria-haspopup="true" role="button" aria-labelledby="select2-chosen-18"
                id="s2id_autogen18">
              <div class="select2-drop select2-display-none select2-with-searchbox">
                <div class="select2-search">
                  <label for="s2id_autogen18_search" class="select2-offscreen"></label>
                  <input type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
                    class="select2-input" role="combobox" aria-expanded="true" aria-autocomplete="list" aria-owns="select2-results-18"
                    id="s2id_autogen18_search" placeholder=""> </div>
                <ul class="select2-results" role="listbox" id="select2-results-18"> </ul>
              </div>
            </div>
            <select class="ct-js-select ct-select-lg" tabindex="-1" title="" style="display: none;">
              <option>Select Date</option>
              <option>4-22-2018</option>
              <option>4-22-2018</option>
              <option>4-22-2018</option>
              <option>4-22-2018</option>
              <option>4-22-2018</option>
            </select>
            <br>
            <br>
            <h4 class="side-listing-price">499.0 USD</h4>
            <br>
            <br>
            <a href="booking-page.html" class="btn btn-primary btn-block">Book</a>
          </div>
        </div>
        <br>
        <hr>
        <div class="row">
          <div class="col-md-2">
            <img src="assets/images/content/property-1.jpg" alt="Home Buyer" width="100%" height="150px;">
          </div>
          <div class="col-md-7">
            <h3 class="text-uppercase">Encapsulate Technologies
              <li class="fa fa-heart"></li>
            </h3>
            <small>Zohaib Aslam</small>
            <div class="row">
              <div class="col-md-4">
                <i class="fa fa-star checked"></i>
                <i class="fa fa-star checked"></i>
                <i class="fa fa-star checked"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
            </div>
            <p>Home Inspector with interNacho SOP Free Thermal images and recall check 22 years experience Master Inspector.Home
              Inspector with interNacho SOP Free Thermal images.</p>
            <div class="row">
              <div class="col-md-4">
                <button type="button" class="btn btn-success btn-list-below">Recommended</button>
              </div>
              <div class="col-md-4">
                <button type="button" class="btn btn-success btn-list-below">Designation</button>
              </div>
              <div class="col-md-4">
                <button type="button" class="btn btn-success btn-list-below">Experience</button>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="select2-container ct-js-select ct-select-lg" id="s2id_autogen19">
              <a href="javascript:void(0)" class="select2-choice" tabindex="-1">
                <span class="select2-chosen" id="select2-chosen-20">Select Date</span>
                <abbr class="select2-search-choice-close"></abbr>
                <span class="select2-arrow" role="presentation">
                  <b role="presentation"></b>
                </span>
              </a>
              <label for="s2id_autogen20" class="select2-offscreen"></label>
              <input class="select2-focusser select2-offscreen" type="text" aria-haspopup="true" role="button" aria-labelledby="select2-chosen-20"
                id="s2id_autogen20">
              <div class="select2-drop select2-display-none select2-with-searchbox">
                <div class="select2-search">
                  <label for="s2id_autogen20_search" class="select2-offscreen"></label>
                  <input type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
                    class="select2-input" role="combobox" aria-expanded="true" aria-autocomplete="list" aria-owns="select2-results-20"
                    id="s2id_autogen20_search" placeholder=""> </div>
                <ul class="select2-results" role="listbox" id="select2-results-20"> </ul>
              </div>
            </div>
            <select class="ct-js-select ct-select-lg" tabindex="-1" title="" style="display: none;">
              <option>Select Date</option>
              <option>4-22-2018</option>
              <option>4-22-2018</option>
              <option>4-22-2018</option>
              <option>4-22-2018</option>
              <option>4-22-2018</option>
            </select>
            <br>
            <br>
            <h4 class="side-listing-price">499.0 USD</h4>
            <br>
            <br>
            <a href="booking-page.html" class="btn btn-primary btn-block">Book</a>
          </div>
        </div>
        <br>
        <hr>
        <div class="row">
          <div class="col-md-2">
            <img src="assets/images/content/property-1.jpg" alt="Home Buyer" width="100%" height="150px;">
          </div>
          <div class="col-md-7">
            <h3 class="text-uppercase">Encapsulate Technologies
              <li class="fa fa-heart"></li>
            </h3>
            <small>Zohaib Aslam</small>
            <div class="row">
              <div class="col-md-4">
                <i class="fa fa-star checked"></i>
                <i class="fa fa-star checked"></i>
                <i class="fa fa-star checked"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
            </div>
            <p>Home Inspector with interNacho SOP Free Thermal images and recall check 22 years experience Master Inspector.Home
              Inspector with interNacho SOP Free Thermal images.</p>
            <div class="row">
              <div class="col-md-4">
                <button type="button" class="btn btn-success btn-list-below">Recommended</button>
              </div>
              <div class="col-md-4">
                <button type="button" class="btn btn-success btn-list-below">Designation</button>
              </div>
              <div class="col-md-4">
                <button type="button" class="btn btn-success btn-list-below">Experience</button>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="select2-container ct-js-select ct-select-lg" id="s2id_autogen21">
              <a href="javascript:void(0)" class="select2-choice" tabindex="-1">
                <span class="select2-chosen" id="select2-chosen-22">Select Date</span>
                <abbr class="select2-search-choice-close"></abbr>
                <span class="select2-arrow" role="presentation">
                  <b role="presentation"></b>
                </span>
              </a>
              <label for="s2id_autogen22" class="select2-offscreen"></label>
              <input class="select2-focusser select2-offscreen" type="text" aria-haspopup="true" role="button" aria-labelledby="select2-chosen-22"
                id="s2id_autogen22">
              <div class="select2-drop select2-display-none select2-with-searchbox">
                <div class="select2-search">
                  <label for="s2id_autogen22_search" class="select2-offscreen"></label>
                  <input type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
                    class="select2-input" role="combobox" aria-expanded="true" aria-autocomplete="list" aria-owns="select2-results-22"
                    id="s2id_autogen22_search" placeholder=""> </div>
                <ul class="select2-results" role="listbox" id="select2-results-22"> </ul>
              </div>
            </div>
            <select class="ct-js-select ct-select-lg" tabindex="-1" title="" style="display: none;">
              <option>Select Date</option>
              <option>4-22-2018</option>
              <option>4-22-2018</option>
              <option>4-22-2018</option>
              <option>4-22-2018</option>
              <option>4-22-2018</option>
            </select>
            <br>
            <br>
            <h4 class="side-listing-price">499.0 USD</h4>
            <br>
            <br>
            <a href="booking-page.html" class="btn btn-primary btn-block">Book</a>
          </div>
        </div>
        <br>
        <hr>
        <div class="row">
          <div class="col-md-2">
            <img src="assets/images/content/property-1.jpg" alt="Home Buyer" width="100%" height="150px;">
          </div>
          <div class="col-md-7">
            <h3 class="text-uppercase">Encapsulate Technologies
              <li class="fa fa-heart"></li>
            </h3>
            <small>Zohaib Aslam</small>
            <div class="row">
              <div class="col-md-4">
                <i class="fa fa-star checked"></i>
                <i class="fa fa-star checked"></i>
                <i class="fa fa-star checked"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
            </div>
            <p>Home Inspector with interNacho SOP Free Thermal images and recall check 22 years experience Master Inspector.Home
              Inspector with interNacho SOP Free Thermal images.</p>
            <div class="row">
              <div class="col-md-4">
                <button type="button" class="btn btn-success btn-list-below">Recommended</button>
              </div>
              <div class="col-md-4">
                <button type="button" class="btn btn-success btn-list-below">Designation</button>
              </div>
              <div class="col-md-4">
                <button type="button" class="btn btn-success btn-list-below">Experience</button>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="select2-container ct-js-select ct-select-lg" id="s2id_autogen23">
              <a href="javascript:void(0)" class="select2-choice" tabindex="-1">
                <span class="select2-chosen" id="select2-chosen-24">Select Date</span>
                <abbr class="select2-search-choice-close"></abbr>
                <span class="select2-arrow" role="presentation">
                  <b role="presentation"></b>
                </span>
              </a>
              <label for="s2id_autogen24" class="select2-offscreen"></label>
              <input class="select2-focusser select2-offscreen" type="text" aria-haspopup="true" role="button" aria-labelledby="select2-chosen-24"
                id="s2id_autogen24">
              <div class="select2-drop select2-display-none select2-with-searchbox">
                <div class="select2-search">
                  <label for="s2id_autogen24_search" class="select2-offscreen"></label>
                  <input type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
                    class="select2-input" role="combobox" aria-expanded="true" aria-autocomplete="list" aria-owns="select2-results-24"
                    id="s2id_autogen24_search" placeholder=""> </div>
                <ul class="select2-results" role="listbox" id="select2-results-24"> </ul>
              </div>
            </div>
            <select class="ct-js-select ct-select-lg" tabindex="-1" title="" style="display: none;">
              <option>Select Date</option>
              <option>4-22-2018</option>
              <option>4-22-2018</option>
              <option>4-22-2018</option>
              <option>4-22-2018</option>
              <option>4-22-2018</option>
            </select>
            <br>
            <br>
            <h4 class="side-listing-price">499.0 USD</h4>
            <br>
            <br>
            <a href="booking-page.html" class="btn btn-primary btn-block">Book</a>
          </div>
        </div>
        <br>
      </div>
      <div class="col-md-4" style="background-color: #5052541c;padding: 30px;">
        <h4 class="text-uppercase">Featured Services</h4>
        <br>
        <br>
        <div class="row">
          <div class="col-md-5">
            <img src="assets/images/content/property-1.jpg" alt="Home Buyer" width="100%" height="150px;">
          </div>
          <div class="col-md-7">
            <h3 class="text-uppercase">Encapsulate Technologies</h3>
            <small>Zohaib Aslam</small>
            <div class="row">
              <div class="col-md-12">
                <i class="fa fa-star checked"></i>
                <i class="fa fa-star checked"></i>
                <i class="fa fa-star checked"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-6" style="padding: 0px;">
                <button type="button" class="btn btn-success btn-block btn-list-below">Designation</button>
              </div>
              <div class="col-md-6" style="padding: 0px;padding-left: 4px;">
                <button type="button" class="btn btn-success btn-block btn-list-below">Experience</button>
              </div>
            </div>
          </div>
        </div>
        <br>
        <hr>
        <div class="row">
          <div class="col-md-5">
            <img src="assets/images/content/property-1.jpg" alt="Home Buyer" width="100%" height="150px;">
          </div>
          <div class="col-md-7">
            <h3 class="text-uppercase">Encapsulate Technologies</h3>
            <small>Zohaib Aslam</small>
            <div class="row">
              <div class="col-md-12">
                <i class="fa fa-star checked"></i>
                <i class="fa fa-star checked"></i>
                <i class="fa fa-star checked"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-6" style="padding: 0px;">
                <button type="button" class="btn btn-success btn-block btn-list-below">Designation</button>
              </div>
              <div class="col-md-6" style="padding: 0px;padding-left: 4px;">
                <button type="button" class="btn btn-success btn-block btn-list-below">Experience</button>
              </div>
            </div>
          </div>
        </div>
        <br>
        <hr>
        <div class="row">
          <div class="col-md-5">
            <img src="assets/images/content/property-1.jpg" alt="Home Buyer" width="100%" height="150px;">
          </div>
          <div class="col-md-7">
            <h3 class="text-uppercase">Encapsulate Technologies</h3>
            <small>Zohaib Aslam</small>
            <div class="row">
              <div class="col-md-12">
                <i class="fa fa-star checked"></i>
                <i class="fa fa-star checked"></i>
                <i class="fa fa-star checked"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-6" style="padding: 0px;">
                <button type="button" class="btn btn-success btn-block btn-list-below">Designation</button>
              </div>
              <div class="col-md-6" style="padding: 0px;padding-left: 4px;">
                <button type="button" class="btn btn-success btn-block btn-list-below">Experience</button>
              </div>
            </div>
          </div>
        </div>
        <br>
        <hr>
        <div class="row">
          <div class="col-md-5">
            <img src="assets/images/content/property-1.jpg" alt="Home Buyer" width="100%" height="150px;">
          </div>
          <div class="col-md-7">
            <h3 class="text-uppercase">Encapsulate Technologies</h3>
            <small>Zohaib Aslam</small>
            <div class="row">
              <div class="col-md-12">
                <i class="fa fa-star checked"></i>
                <i class="fa fa-star checked"></i>
                <i class="fa fa-star checked"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-6" style="padding: 0px;">
                <button type="button" class="btn btn-success btn-block btn-list-below">Designation</button>
              </div>
              <div class="col-md-6" style="padding: 0px;padding-left: 4px;">
                <button type="button" class="btn btn-success btn-block btn-list-below">Experience</button>
              </div>
            </div>
          </div>
        </div>
        <br>
        <hr>
        <div class="row">
          <div class="col-md-5">
            <img src="assets/images/content/property-1.jpg" alt="Home Buyer" width="100%" height="150px;">
          </div>
          <div class="col-md-7">
            <h3 class="text-uppercase">Encapsulate Technologies</h3>
            <small>Zohaib Aslam</small>
            <div class="row">
              <div class="col-md-12">
                <i class="fa fa-star checked"></i>
                <i class="fa fa-star checked"></i>
                <i class="fa fa-star checked"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-6" style="padding: 0px;">
                <button type="button" class="btn btn-success btn-block btn-list-below">Designation</button>
              </div>
              <div class="col-md-6" style="padding: 0px;padding-left: 4px;">
                <button type="button" class="btn btn-success btn-block btn-list-below">Experience</button>
              </div>
            </div>
          </div>
        </div>
        <br>
        <hr>
        <div class="row">
          <div class="col-md-5">
            <img src="assets/images/content/property-1.jpg" alt="Home Buyer" width="100%" height="150px;">
          </div>
          <div class="col-md-7">
            <h3 class="text-uppercase">Encapsulate Technologies</h3>
            <small>Zohaib Aslam</small>
            <div class="row">
              <div class="col-md-12">
                <i class="fa fa-star checked"></i>
                <i class="fa fa-star checked"></i>
                <i class="fa fa-star checked"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-6" style="padding: 0px;">
                <button type="button" class="btn btn-success btn-block btn-list-below">Designation</button>
              </div>
              <div class="col-md-6" style="padding: 0px;padding-left: 4px;">
                <button type="button" class="btn btn-success btn-block btn-list-below">Experience</button>
              </div>
            </div>
          </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
      </div>
    </div>
  </div>




</section>
