<nav class="ct-menuMobile">
    <ul class="ct-menuMobile-navbar">
        <li class="dropdown"><a href="home.html">Home</a></li>
        <li class="dropdown"><a href="dashboard.html">Dashboard</a></li>
        <li class="dropdown"><a href="listing.html">Services</a></li>
        <li class="dropdown"><a href="how-it-works.html">How it works?</a></li>
    </ul>
</nav>

<div id="ct-js-wrapper" class="ct-pageWrapper">
<div class="ct-navbarMobile position-fix">
    <button type="button" class="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="home.html"><img src="assets/images/content/logo.jpg" alt="Home Buyer" width="18%">
    </a>
    <span class="text-mobile-view-logo">Home Buyers</span>
</div>


<div class="ct-topBar ct-js-headroom animatedHeadroom headroom--top" style="position: fixed;">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-9 col-md-4">
        <div class="ct-panel--user ct-panel--right">
          <div class="ct-panel--item ct-email">
            <a href="dashboard.html" class="btn btn-link btn-xs btn-upper-nav">
              <i class="fa fa-home"></i> Dashboard</a>
          </div>
          <div class="ct-panel--item ct-email">
            <a class="btn btn-link btn-xs btn-upper-nav" data-toggle="modal" data-target="#login-modal">
              <i class="fa fa-user"></i> Login / Register</a>
            <div class="modal fade" id="login-modal" role="dialog" aria-hidden="true" style="display: none;">
              <div class="modal-dialog">
                <div class="modal-content" style="margin-top: 11%;max-width:81%;margin-left: 14%;">
                  <div class="modal-body">
                    <div class="row">
                      <div class="col-sm-12">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                        <br>
                        <div role="tabpanel">
                          <!-- Nav tabs -->
                          <ul class="nav nav-tabs nav-justified" role="tablist">
                            <li role="presentation" class="">
                              <a href="#history32-1" aria-controls="history32-1" role="tab" data-toggle="tab" aria-expanded="false">LOGIN</a>
                            </li>
                            <li role="presentation" class="active">
                              <a href="#vision32-1" aria-controls="vision32-1" role="tab" data-toggle="tab" aria-expanded="true">REGISTER</a>
                            </li>
                          </ul>
                          <div class="clearfix"></div>
                          <!-- Tab panes -->
                          <div class="tab-content tab-content--withBorder">
                            <div role="tabpanel" class="tab-pane" id="history32-1">
                              <input class="form-control input-lg text-inner-input ct-u-marginBottom10" type="email" placeholder="Email Address" required="">
                              <input class="form-control input-lg text-inner-input ct-u-marginBottom10" type="Password" placeholder="Password" required="">
                              <br>
                              <br>
                              <div class="row">
                                <div class="col-md-offset-6 col-md-3">
                                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                                <div class="col-md-3">
                                  <a href="dashboard.html" class="btn btn-success">Sign In</a>
                                </div>
        </div>
                            </div>
                            <div role="tabpanel" class="tab-pane active" id="vision32-1">
                              <input class="form-control input-lg text-inner-input ct-u-marginBottom10" type="text" placeholder="Username" required="">
                              <input class="form-control input-lg text-inner-input ct-u-marginBottom10" type="Password" placeholder="Password" required="">
                              <br>
                              <label>Sign Up As</label>
                              <div class="select2-container ct-js-select ct-select-lg" id="s2id_autogen1" style="border:1px solid grey;">
                                <a href="javascript:void(0)" class="select2-choice" tabindex="-1">
                                  <span class="select2-chosen" id="select2-chosen-2">Client</span>
                                  <abbr class="select2-search-choice-close"></abbr>
                                  <span class="select2-arrow" role="presentation">
                                    <b role="presentation"></b>
                                  </span>
                                </a>
                                <label for="s2id_autogen2" class="select2-offscreen"></label>
                                <input class="select2-focusser select2-offscreen" type="text" aria-haspopup="true"
                                  role="button" aria-labelledby="select2-chosen-2" id="s2id_autogen2">
                                <div class="select2-drop select2-display-none select2-with-searchbox">
                                  <div class="select2-search">
                                    <label for="s2id_autogen2_search" class="select2-offscreen"></label>
                                    <input type="text" autocomplete="off" autocorrect="off" autocapitalize="off"
                                      spellcheck="false" class="select2-input" role="combobox" aria-expanded="true" aria-autocomplete="list"
                                      aria-owns="select2-results-2" id="s2id_autogen2_search" placeholder=""> </div>
                                  <ul class="select2-results" role="listbox" id="select2-results-2"> </ul>
                                </div>
                              </div>
                              <select class="ct-js-select ct-select-lg" style="border: 1px solid grey; display: none;" tabindex="-1"
                                title="">
                                <option value="month">Client</option>
                                <option value="month">Home Owner</option>
                                <option value="month">Real Estate Agent</option>
                                <option value="January">Mortgage Advisor</option>
                                <option value="month">Building Inspector</option>
                                <option value="January">Real Estate Lawyer</option>
                              </select>
                              <div class="ct-form--item ct-u-marginBottom20">
                                <div class="checkbox">
                                  <label>
                                    <input type="checkbox" value=""> I read and agree to
                                    <a href="terms.html" id="btn-lnk-terms"> terms &amp; conditions</a>
                                  </label>
                                </div>
                              </div>
                              <div class="ct-form--item">
                                <button class="loginBtn loginBtn--facebook">
                                  Login with Facebook
                                </button>
                                <button class="loginBtn loginBtn--google">
                                  Login with Google
                                </button>
                              </div>
                              <br>
                              <div class="row">
                                <div class="col-md-offset-5 col-md-3">
                                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                                <div class="col-md-3">
                                  <a href="registration-login.html" class="btn btn-success">Register Now</a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ct-topBar ct-js-headroom animatedHeadroom headroom--top" style="position: fixed;">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-9 col-md-4">
          <div class="ct-panel--user ct-panel--right">
            <div class="ct-panel--item ct-email">
              <a href="dashboard.html" class="btn btn-link btn-xs btn-upper-nav">
                <i class="fa fa-home"></i> Dashboard</a>
            </div>
            <div class="ct-panel--item ct-email">
              <a class="btn btn-link btn-xs btn-upper-nav" data-toggle="modal" data-target="#login-modal">
                <i class="fa fa-user"></i> Login / Register</a>
              <div class="modal fade" id="login-modal" role="dialog" aria-hidden="true" style="display: none;">
                <div class="modal-dialog">
                  <div class="modal-content" style="margin-top: 11%;max-width:81%;margin-left: 14%;">
                    <div class="modal-body">
                      <div class="row">
                        <div class="col-sm-12">
                          <button type="button" class="close" data-dismiss="modal">×</button>
                          <br>
                          <div role="tabpanel">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs nav-justified" role="tablist">
                              <li role="presentation" class="">
                                <a href="#history32-1" aria-controls="history32-1" role="tab" data-toggle="tab" aria-expanded="false">LOGIN</a>
                              </li>
                              <li role="presentation" class="active">
                                <a href="#vision32-1" aria-controls="vision32-1" role="tab" data-toggle="tab" aria-expanded="true">REGISTER</a>
                              </li>
                            </ul>
                            <div class="clearfix"></div>
                            <!-- Tab panes -->
                            <div class="tab-content tab-content--withBorder">
                              <div role="tabpanel" class="tab-pane" id="history32-1">
                                <input class="form-control input-lg text-inner-input ct-u-marginBottom10" type="email" placeholder="Email Address" required="">
                                <input class="form-control input-lg text-inner-input ct-u-marginBottom10" type="Password" placeholder="Password" required="">
                                <br>
                                <br>
                                <div class="row">
                                  <div class="col-md-offset-6 col-md-3">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                  </div>
                                  <div class="col-md-3">
                                    <a href="dashboard.html" class="btn btn-success">Sign In</a>
                                  </div>
                                </div>
                              </div>
                              <div role="tabpanel" class="tab-pane active" id="vision32-1">
                                <input class="form-control input-lg text-inner-input ct-u-marginBottom10" type="text" placeholder="Username" required="">
                                <input class="form-control input-lg text-inner-input ct-u-marginBottom10" type="Password" placeholder="Password" required="">
                                <br>
                                <label>Sign Up As</label>
                                <div class="select2-container ct-js-select ct-select-lg" id="s2id_autogen1" style="border:1px solid grey;">
                                  <a href="javascript:void(0)" class="select2-choice" tabindex="-1">
                                    <span class="select2-chosen" id="select2-chosen-2">Client</span>
                                    <abbr class="select2-search-choice-close"></abbr>
                                    <span class="select2-arrow" role="presentation">
                                      <b role="presentation"></b>
                                    </span>
                                  </a>
                                  <label for="s2id_autogen2" class="select2-offscreen"></label>
                                  <input class="select2-focusser select2-offscreen" type="text" aria-haspopup="true"
                                    role="button" aria-labelledby="select2-chosen-2" id="s2id_autogen2">
                                  <div class="select2-drop select2-display-none select2-with-searchbox">
                                    <div class="select2-search">
                                      <label for="s2id_autogen2_search" class="select2-offscreen"></label>
                                      <input type="text" autocomplete="off" autocorrect="off" autocapitalize="off"
                                        spellcheck="false" class="select2-input" role="combobox" aria-expanded="true" aria-autocomplete="list"
                                        aria-owns="select2-results-2" id="s2id_autogen2_search" placeholder=""> </div>
                                    <ul class="select2-results" role="listbox" id="select2-results-2"> </ul>
                                  </div>
                                </div>
                                <select class="ct-js-select ct-select-lg" style="border: 1px solid grey; display: none;"
                                  tabindex="-1" title="">
                                  <option value="month">Client</option>
                                  <option value="month">Home Owner</option>
                                  <option value="month">Real Estate Agent</option>
                                  <option value="January">Mortgage Advisor</option>
                                  <option value="month">Building Inspector</option>
                                  <option value="January">Real Estate Lawyer</option>
                                </select>
                                <div class="ct-form--item ct-u-marginBottom20">
                                  <div class="checkbox">
                                    <label>
                                      <input type="checkbox" value=""> I read and agree to
                                      <a href="terms.html" id="btn-lnk-terms"> terms &amp; conditions</a>
                                    </label>
                                  </div>
                                </div>
                                <div class="ct-form--item">
                                  <button class="loginBtn loginBtn--facebook">
                                    Login with Facebook
                                  </button>
                                  <button class="loginBtn loginBtn--google">
                                    Login with Google
                                  </button>
                                </div>
                                <br>
                                <div class="row">
                                  <div class="col-md-offset-5 col-md-3">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                  </div>
                                  <div class="col-md-3">
                                    <a href="registration-login.html" class="btn btn-success">Register Now</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>








<nav class="navbar aaaa yamm ct-navbar--noDecoration nav-mob" role="navigation" data-heighttopbar="40px" data-startnavbar="0">
    <div class="container">
        <div class="navbar-header ct-panel--navbar">
            <a href="home.html">
                <img src="assets/images/content/logo.jpg" alt="logo" width="70px">
            </a>
        </div>
        <div class="ct-panelBox">
            <div class="ct-panel--text ct-panel--navbar ct-fw-600"><a href="home.html">Home Buyers</a></div>
            <ul class="ct-panel--socials ct-panel--navbar list-inline list-unstyled">
                <li><a href="#"><div class="ct-socials ct-socials--circle"><i class="fa fa-facebook"></i></div></a></li>
                <li><a href="#"><div class="ct-socials ct-socials--circle"><i class="fa fa-twitter"></i></div></a></li>
                <li><a href="#"><div class="ct-socials ct-socials--circle"><i class="fa fa-instagram"></i></div></a></li>
            </ul>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav ct-navbar--fadeInUp navbar-right">
                <li class="dropdown"><a routerLink="/">Home</a>
                </li>
                <li class="dropdown"><a routerLink="/services">Services</a>
                </li>
                <li class="dropdown"><a routerLink="/post-ad">Post AD</a>
                </li>
                 <li class="dropdown"><a routerLink="/how-it-works">How it works</a>
                </li>
                <li class="dropdown"><a routerLink="/blog">Blog</a>
                </li>
            </ul>
        </div>
    </div>
</nav>



















<nav class="ct-menuMobile">
  <ul class="ct-menuMobile-navbar">
    <li class="dropdown">
      <a href="home.html">Home</a>
    </li>
    <li class="dropdown">
      <a href="dashboard.html">Dashboard</a>
    </li>
    <li class="dropdown">
      <a href="listing.html">Services</a>
    </li>
    <li class="dropdown">
      <a href="submission.html">Post AD</a>
    </li>
    <li class="dropdown">
      <a href="faq-cs.html">How it works?</a>
    </li>
    <li class="dropdown">
      <a href="blog.html">Blog</a>
    </li>
  </ul>
</nav>
